# Pandas

Pacote destinado a tratamento de dados em matrizes.

Este pacote já está incluso no Anaconda Python.

In [338]:
import pandas

In [339]:
#Verificação da versão importada
pandas.__version__

'1.5.0'

In [340]:
# O máximo de linhas retornadas.

print(pandas.options.display.max_rows) 

# É possível determinar um valor diferente

pandas.options.display.max_rows = 9999

9999

inplace = True >>> Altera a série ou o dataset ao invés de apenas retornar um novo retorno

## Séries

Séries são como colunas de uma tabela, são arrays unidimensionais.

In [341]:
Lista = [1,2,3,4,5,6,7,8,9]

Série1 = pandas.Series(Lista)

print(Série1)
print(type(Série1))

# O índice para cada valor é criado automaticamente.

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
<class 'pandas.core.series.Series'>

In [342]:
# Outras informações sobre as séries

print(Série1.values)

print(Série1.index)

[1 2 3 4 5 6 7 8 9]
RangeIndex(start=0, stop=9, step=1)

In [343]:
print(Série1.info())

<class 'pandas.core.series.Series'>
RangeIndex: 9 entries, 0 to 8
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 200.0 bytes
None

In [344]:
# Criando uma série e definindo o índice

Lista = [1,2,3,4,5,6,7,8,9]
Índices = ['a','b','c','d','e','f','g','h','i']

Série2 = pandas.Series(Lista, index = Índices)

print(Série2)
print(type(Série2))

print(Série2.index)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64
<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype='object')

In [345]:
# Criação de série a partir de um dicionário

Dicionário = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9}

Série3 = pandas.Series(Dicionário)


print(Série3)
print(type(Série3))

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64
<class 'pandas.core.series.Series'>

In [346]:
# Para um mesmo índice, um mesmo valor

Outro_Índice = ['a','a','a','a','a','a','a','a','a','a']

Série4 = pandas.Series(Dicionário, index = Outro_Índice)


print(Série4,'\n')

# Mudar o dicionário não muda a série. Eles estão desvinculados

Dicionário['a'] = 2

print(Série4,'\n')

# Para novos índices, não há valor

Outro_Índice = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n']

Série4 = pandas.Series(Dicionário, index = Outro_Índice)


print(Série4,'\n')

a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
dtype: int64

a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
a    1
dtype: int64

a    2.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
h    8.0
i    9.0
j    NaN
k    NaN
l    NaN
m    NaN
n    NaN
dtype: float64

In [347]:
# Slicing

Série2[Série2>3]

d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [348]:
# Valor de certo índice

Série2['d']

4

In [349]:
# resposta booleana para verificação de continência

print('d' in Série2)

print('d' in Série2.index)

print(3 in Série2)

print(3 in Série2.values)

True
True
False
True

In [350]:
# Verificação de valores nulos

print(pandas.isnull(Série4),'\n')

print(Série4.isnull())

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j     True
k     True
l     True
m     True
n     True
dtype: bool

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j     True
k     True
l     True
m     True
n     True
dtype: bool

In [351]:
# Verificação de valores não-nulos

print(pandas.notnull(Série4),'\n')

print(Série4.notnull())

a     True
b     True
c     True
d     True
e     True
f     True
g     True
h     True
i     True
j    False
k    False
l    False
m    False
n    False
dtype: bool

a     True
b     True
c     True
d     True
e     True
f     True
g     True
h     True
i     True
j    False
k    False
l    False
m    False
n    False
dtype: bool

In [352]:
# Verificação condicional

print(Série4 > 5)

a    False
b    False
c    False
d    False
e    False
f     True
g     True
h     True
i     True
j    False
k    False
l    False
m    False
n    False
dtype: bool

In [353]:
# Soma/concatenação entre séries

print(Série3 + Série4)

a     3.0
b     4.0
c     6.0
d     8.0
e    10.0
f    12.0
g    14.0
h    16.0
i    18.0
j     NaN
k     NaN
l     NaN
m     NaN
n     NaN
dtype: float64

In [354]:
# Valores NaN permanecem dessa forma depois de passar por uma operação matemática.

print(Série1 + Série3)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
i   NaN
dtype: float64

In [355]:
# Determinando a característica "nome".

Série4.name = 'Exemplo' # nome do objeto

Série4.index.name = 'Letra' # Nome do índice

print(Série4)

Letra
a    2.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
h    8.0
i    9.0
j    NaN
k    NaN
l    NaN
m    NaN
n    NaN
Name: Exemplo, dtype: float64

### Séries Temporais

Séries cujos índices estão em formato temporal - consequentemente, cada registro corresponde a um momento.

In [356]:
N = 10

Datas = pandas.date_range('31/12/1989',periods=N) # N índices temporais

print(type(Datas),'\n')

from numpy.random import randint

RNG = randint(0,500,N) # N números aleatórios, de 0 a 499

Série_Temporal = pandas.Series(RNG,Datas)
print(Série_Temporal)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

1989-12-31     63
1990-01-01    173
1990-01-02    167
1990-01-03    100
1990-01-04     54
1990-01-05    175
1990-01-06    337
1990-01-07    435
1990-01-08     71
1990-01-09    188
Freq: D, dtype: int32

C:\Users\fnsb.DESKTOP-7T10APS\AppData\Local\Temp\ipykernel_1128\86143084.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  Datas = pandas.date_range('31/12/1989',periods=N) # N índices temporais

B: business day frequency

C: custom business day frequency

D: calendar day frequency

W: weekly frequency

M: month end frequency

SM: semi-month end frequency (15th and end of month)

BM: business month end frequency

CBM: custom business month end frequency

MS: month start frequency

SMS: semi-month start frequency (1st and 15th)

BMS: business month start frequency

CBMS: custom business month start frequency

Q: quarter end frequency

BQ: business quarter end frequency

QS: quarter start frequency

BQS: business quarter start frequency

A, Y: year end frequency

BA, BY: business year end frequency

AS, YS: year start frequency

BAS, BYS: business year start frequency

BH: business hour frequency

H: hourly frequency

T, min: minutely frequency

S: secondly frequency

L, ms: milliseconds

U, us: microseconds

N: nanoseconds

In [357]:
# frequencias para os índices:

Dt = pandas.date_range(start='19891231', end=None, periods=32, freq='BYS', tz='Brazil/East', normalize=True, name='My Time', inclusive='neither')

Dt

# Dentre os parâmetros 'start', 'end', 'periods' e 'freq', exactamente três devem ser especificados.
# 'start' e 'end' aceitam objetos relativos a tempo de outros pacotes
# 'tz' aceita objeto tzfile, do pacote pytz, ou algo correlato.

DatetimeIndex(['1990-01-01 00:00:00-02:00', '1991-01-01 00:00:00-02:00',
               '1992-01-01 00:00:00-02:00', '1993-01-01 00:00:00-02:00',
               '1994-01-03 00:00:00-02:00', '1995-01-02 00:00:00-02:00',
               '1996-01-01 00:00:00-02:00', '1997-01-01 00:00:00-02:00',
               '1998-01-01 00:00:00-02:00', '1999-01-01 00:00:00-02:00',
               '2000-01-03 00:00:00-02:00', '2001-01-01 00:00:00-02:00',
               '2002-01-01 00:00:00-02:00', '2003-01-01 00:00:00-02:00',
               '2004-01-01 00:00:00-02:00', '2005-01-03 00:00:00-02:00',
               '2006-01-02 00:00:00-02:00', '2007-01-01 00:00:00-02:00',
               '2008-01-01 00:00:00-02:00', '2009-01-01 00:00:00-02:00',
               '2010-01-01 00:00:00-02:00', '2011-01-03 00:00:00-02:00',
               '2012-01-02 00:00:00-02:00', '2013-01-01 00:00:00-02:00',
               '2014-01-01 00:00:00-02:00', '2015-01-01 00:00:00-02:00',
               '2016-01-01 00:00:00-02:00', '2017-01-02 00:00:00-02:00',
               '2018-01-01 00:00:00-02:00', '2019-01-01 00:00:00-02:00',
               '2020-01-01 00:00:00-03:00', '2021-01-01 00:00:00-03:00'],
              dtype='datetime64[ns, Brazil/East]', name='My Time', freq='BAS-JAN')

## Dataframe

São como tabelas

In [358]:
# Dataframes podem ser criados a partir de dicionários compostos de um nome da coluna como chave e uma lista de informações como valor.

Dados = {
    'Estado':[
        'Acre',
        'Alagoas',
        'Amapá',
        'Amazonas',
        'Bahia',
        'Ceará',
        'Distrito Federal',
        'Espírito Santo',
        'Goiás',
        'Maranhão',
        'Mato Grosso',
        'Mato Grosso do Sul',
        'Minas Gerais',
        'Pará',
        'Paraíba',
        'Paraná',
        'Pernambuco',
        'Piauí',
        'Rio de Janeiro',
        'Rio Grande do Norte',
        'Rio Grande do Sul',
        'Rondônia','Roraima',
        'Santa Catarina',
        'São Paulo',
        'Sergipe',
        'Tocantins'],
    'População':[
        906876,
        3365351,
        877613,
        4269995,
        14985284,
        9240580,
        3094325,
        4108508,
        7206589,
        7153262,
        3567234,
        2839188,
        21411923,
        8777124,
        4059905,
        11597484,
        9674793,
        3289290,
        17463349,
        3560903,
        11466630,
        1815278,
        652713,
        7338473,
        46649132,
        2338474,
        1607363],
    'PIB':[
        15630,
        58964,
        17497,
        108181,
        293241,
        163575,
        273614,
        137346,
        208672,
        97340,
        142122,
        106943,
        651873,
        466377,
        67986,
        178377,
        197853,
        52781,
        779928,
        71337,
        482464,
        47091,
        14292,
        323264,
        44689,
        2348338,
        39356]}

In [359]:
Tabela1 = pandas.DataFrame(Dados)

In [360]:
Tabela1

                 Estado  População      PIB
0                  Acre     906876    15630
1               Alagoas    3365351    58964
2                 Amapá     877613    17497
3              Amazonas    4269995   108181
4                 Bahia   14985284   293241
5                 Ceará    9240580   163575
6      Distrito Federal    3094325   273614
7        Espírito Santo    4108508   137346
8                 Goiás    7206589   208672
9              Maranhão    7153262    97340
10          Mato Grosso    3567234   142122
11   Mato Grosso do Sul    2839188   106943
12         Minas Gerais   21411923   651873
13                 Pará    8777124   466377
14              Paraíba    4059905    67986
15               Paraná   11597484   178377
16           Pernambuco    9674793   197853
17                Piauí    3289290    52781
18       Rio de Janeiro   17463349   779928
19  Rio Grande do Norte    3560903    71337
20    Rio Grande do Sul   11466630   482464
21             Rondônia    1815278    47091
22              Roraima     652713    14292
23       Santa Catarina    7338473   323264
24            São Paulo   46649132    44689
25              Sergipe    2338474  2348338
26            Tocantins    1607363    39356

In [361]:
# Para imprimir todo o dataframe

Tabela1.to_string

<bound method DataFrame.to_string of                  Estado  População      PIB
0                  Acre     906876    15630
1               Alagoas    3365351    58964
2                 Amapá     877613    17497
3              Amazonas    4269995   108181
4                 Bahia   14985284   293241
5                 Ceará    9240580   163575
6      Distrito Federal    3094325   273614
7        Espírito Santo    4108508   137346
8                 Goiás    7206589   208672
9              Maranhão    7153262    97340
10          Mato Grosso    3567234   142122
11   Mato Grosso do Sul    2839188   106943
12         Minas Gerais   21411923   651873
13                 Pará    8777124   466377
14              Paraíba    4059905    67986
15               Paraná   11597484   178377
16           Pernambuco    9674793   197853
17                Piauí    3289290    52781
18       Rio de Janeiro   17463349   779928
19  Rio Grande do Norte    3560903    71337
20    Rio Grande do Sul   11466630   482464
21             Rondônia    1815278    47091
22              Roraima     652713    14292
23       Santa Catarina    7338473   323264
24            São Paulo   46649132    44689
25              Sergipe    2338474  2348338
26            Tocantins    1607363    39356>

In [362]:
type(Tabela1)

pandas.core.frame.DataFrame

In [363]:
Tabela1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Estado     27 non-null     object
 1   População  27 non-null     int64
 2   PIB        27 non-null     int64
dtypes: int64(2), object(1)
memory usage: 776.0+ bytes

In [364]:
# Outra forma de criar um dataframe é informando listas aninhadas, onde cada lista é um registro (não uma coluna)

Dados = [
    [
        'Acre',
        'Alagoas',
        'Amapá',
        'Amazonas',
        'Bahia',
        'Ceará',
        'Distrito Federal',
        'Espírito Santo',
        'Goiás',
        'Maranhão',
        'Mato Grosso',
        'Mato Grosso do Sul',
        'Minas Gerais',
        'Pará',
        'Paraíba',
        'Paraná',
        'Pernambuco',
        'Piauí',
        'Rio de Janeiro',
        'Rio Grande do Norte',
        'Rio Grande do Sul',
        'Rondônia','Roraima',
        'Santa Catarina',
        'São Paulo',
        'Sergipe',
        'Tocantins'],
    [
        906876,
        3365351,
        877613,
        4269995,
        14985284,
        9240580,
        3094325,
        4108508,
        7206589,
        7153262,
        3567234,
        2839188,
        21411923,
        8777124,
        4059905,
        11597484,
        9674793,
        3289290,
        17463349,
        3560903,
        11466630,
        1815278,
        652713,
        7338473,
        46649132,
        2338474,
        1607363],
    [
        15630,
        58964,
        17497,
        108181,
        293241,
        163575,
        273614,
        137346,
        208672,
        97340,
        142122,
        106943,
        651873,
        466377,
        67986,
        178377,
        197853,
        52781,
        779928,
        71337,
        482464,
        47091,
        14292,
        323264,
        44689,
        2348338,
        39356]]

In [365]:
# Dataframe a partir de registros, ao invés de colunas
# O índice sempre pode ser definido
# Se for informado títulos de colunas além do número de informações para cada registro, a coluna será criada com valores NaN.

Dados = [
    ['Acre',906876,15630],
	['Alagoas',3365351,58964],
	['Amapá',877613,17497],
	['Amazonas',4269995,108181],
	['Bahia',14985284,293241],
	['Ceará',9240580,163575],
	['Distrito Federal',3094325,273614],
	['Espírito Santo',4108508,137346],
	['Goiás',7206589,208672],
	['Maranhão',7153262,97340],
	['Mato Grosso',3567234,142122],
	['Mato Grosso do Sul',2839188,106943],
	['Minas Gerais',21411923,651873],
	['Pará',8777124,466377],
	['Paraíba',4059905,67986],
	['Paraná',11597484,178377],
	['Pernambuco',9674793,197853],
	['Piauí',3289290,52781],
	['Rio de Janeiro',17463349,779928],
	['Rio Grande do Norte',3560903,71337],
	['Rio Grande do Sul',11466630,482464],
	['Rondônia',1815278,47091],
	['Roraima',652713,14292],
	['Santa Catarina',7338473,323264],
	['São Paulo',46649132,44689],
	['Sergipe',2338474,2348338],
	['Tocantins',1607363,39356]]

Tabela2 = pandas.DataFrame(Dados, columns = ['Estado','População','PIB'])
print(Tabela2)

                 Estado  População      PIB
0                  Acre     906876    15630
1               Alagoas    3365351    58964
2                 Amapá     877613    17497
3              Amazonas    4269995   108181
4                 Bahia   14985284   293241
5                 Ceará    9240580   163575
6      Distrito Federal    3094325   273614
7        Espírito Santo    4108508   137346
8                 Goiás    7206589   208672
9              Maranhão    7153262    97340
10          Mato Grosso    3567234   142122
11   Mato Grosso do Sul    2839188   106943
12         Minas Gerais   21411923   651873
13                 Pará    8777124   466377
14              Paraíba    4059905    67986
15               Paraná   11597484   178377
16           Pernambuco    9674793   197853
17                Piauí    3289290    52781
18       Rio de Janeiro   17463349   779928
19  Rio Grande do Norte    3560903    71337
20    Rio Grande do Sul   11466630   482464
21             Rondônia    1815278    47091
22              Roraima     652713    14292
23       Santa Catarina    7338473   323264
24            São Paulo   46649132    44689
25              Sergipe    2338474  2348338
26            Tocantins    1607363    39356

In [366]:
# Tabela Aleatória

from numpy.random import randn

print(Índices)

Tabela_Random = pandas.DataFrame(randn(len(Índices),4), index = Índices, columns = list('ABCD'))

print(Tabela_Random)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
          A         B         C         D
a  1.168453 -0.780474  0.702836 -0.663543
b  0.930164 -0.844089  0.972075 -0.690806
c -1.157155 -2.513021 -0.472210  0.139288
d -0.460350  0.148938  1.219563 -1.379874
e -0.636081 -0.427930  1.917203  0.449999
f -0.362710  0.471156 -0.834165 -0.482612
g -0.631211  1.134328 -1.619793  0.419572
h  0.401891 -0.999396 -0.110473 -0.042435
i  0.582868 -0.108575 -1.327055 -0.214834

In [367]:
print(list('ABCD'))

['A', 'B', 'C', 'D']

In [368]:
# Fatiamento
# Aceita apenas um valor como índice; para informar mais de um, usar uma lista de índices

print(Tabela1['Estado'],'\n')

print(Tabela1[['Estado','PIB']])

0                    Acre
1                 Alagoas
2                   Amapá
3                Amazonas
4                   Bahia
5                   Ceará
6        Distrito Federal
7          Espírito Santo
8                   Goiás
9                Maranhão
10            Mato Grosso
11     Mato Grosso do Sul
12           Minas Gerais
13                   Pará
14                Paraíba
15                 Paraná
16             Pernambuco
17                  Piauí
18         Rio de Janeiro
19    Rio Grande do Norte
20      Rio Grande do Sul
21               Rondônia
22                Roraima
23         Santa Catarina
24              São Paulo
25                Sergipe
26              Tocantins
Name: Estado, dtype: object

                 Estado      PIB
0                  Acre    15630
1               Alagoas    58964
2                 Amapá    17497
3              Amazonas   108181
4                 Bahia   293241
5                 Ceará   163575
6      Distrito Federal   273614
7        Espírito Santo   137346
8                 Goiás   208672
9              Maranhão    97340
10          Mato Grosso   142122
11   Mato Grosso do Sul   106943
12         Minas Gerais   651873
13                 Pará   466377
14              Paraíba    67986
15               Paraná   178377
16           Pernambuco   197853
17                Piauí    52781
18       Rio de Janeiro   779928
19  Rio Grande do Norte    71337
20    Rio Grande do Sul   482464
21             Rondônia    47091
22              Roraima    14292
23       Santa Catarina   323264
24            São Paulo    44689
25              Sergipe  2348338
26            Tocantins    39356

In [369]:
# Os índices também são atributos dos objetos

Tabela1.Estado

0                    Acre
1                 Alagoas
2                   Amapá
3                Amazonas
4                   Bahia
5                   Ceará
6        Distrito Federal
7          Espírito Santo
8                   Goiás
9                Maranhão
10            Mato Grosso
11     Mato Grosso do Sul
12           Minas Gerais
13                   Pará
14                Paraíba
15                 Paraná
16             Pernambuco
17                  Piauí
18         Rio de Janeiro
19    Rio Grande do Norte
20      Rio Grande do Sul
21               Rondônia
22                Roraima
23         Santa Catarina
24              São Paulo
25                Sergipe
26              Tocantins
Name: Estado, dtype: object

In [370]:
# Fatiamento por range

Tabela1[:10] # Os 10 primeiros itens, de 0 a 9

             Estado  População     PIB
0              Acre     906876   15630
1           Alagoas    3365351   58964
2             Amapá     877613   17497
3          Amazonas    4269995  108181
4             Bahia   14985284  293241
5             Ceará    9240580  163575
6  Distrito Federal    3094325  273614
7    Espírito Santo    4108508  137346
8             Goiás    7206589  208672
9          Maranhão    7153262   97340

In [371]:
# Tabela sobre um único registro

print(Tabela1[24:25])

print('\n')

print(Tabela1.loc[24])

print('\n')

print(Tabela2.iloc[24]) # Se a tabela tem índices diferentes do comum para o python, iloc encontra pela "posição" do índice, o que seria o índice original

       Estado  População    PIB
24  São Paulo   46649132  44689


Estado       São Paulo
População     46649132
PIB              44689
Name: 24, dtype: object


Estado       São Paulo
População     46649132
PIB              44689
Name: 24, dtype: object

In [372]:
# Índices das colunas (bases)
print(Tabela1.columns)
print(type(Tabela1.columns))

print()

# Índices dos registros (range)
print(Tabela1.index)
print(type(Tabela1.index))

Index(['Estado', 'População', 'PIB'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

RangeIndex(start=0, stop=27, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [373]:
# Apenas os valores

print(Tabela2.values)
print(type(Tabela2.values))

# Os valores são um array 2D do Numpy.

[['Acre' 906876 15630]
 ['Alagoas' 3365351 58964]
 ['Amapá' 877613 17497]
 ['Amazonas' 4269995 108181]
 ['Bahia' 14985284 293241]
 ['Ceará' 9240580 163575]
 ['Distrito Federal' 3094325 273614]
 ['Espírito Santo' 4108508 137346]
 ['Goiás' 7206589 208672]
 ['Maranhão' 7153262 97340]
 ['Mato Grosso' 3567234 142122]
 ['Mato Grosso do Sul' 2839188 106943]
 ['Minas Gerais' 21411923 651873]
 ['Pará' 8777124 466377]
 ['Paraíba' 4059905 67986]
 ['Paraná' 11597484 178377]
 ['Pernambuco' 9674793 197853]
 ['Piauí' 3289290 52781]
 ['Rio de Janeiro' 17463349 779928]
 ['Rio Grande do Norte' 3560903 71337]
 ['Rio Grande do Sul' 11466630 482464]
 ['Rondônia' 1815278 47091]
 ['Roraima' 652713 14292]
 ['Santa Catarina' 7338473 323264]
 ['São Paulo' 46649132 44689]
 ['Sergipe' 2338474 2348338]
 ['Tocantins' 1607363 39356]]
<class 'numpy.ndarray'>

In [374]:
# Os tipos dos dados por coluna

Tabela1.dtypes

Estado       object
População     int64
PIB           int64
dtype: object

In [375]:
# Informações estatísticas sobre o dataframe

Tabela1.describe()

          População           PIB
count  2.700000e+01  2.700000e+01
mean   7.900653e+06  2.736715e+05
std    9.380644e+06  4.589617e+05
min    6.527130e+05  1.429200e+04
25%    2.966756e+06  5.587250e+04
50%    4.108508e+06  1.373460e+05
75%    9.457686e+06  2.834275e+05
max    4.664913e+07  2.348338e+06

### Alterando Dataframes

In [376]:
# Iterando por um dataframe

for i in Tabela2.index:
    if Tabela2.loc[i,'PIB'] > Tabela2['PIB'].mean():
        print(Tabela2[i:i+1].values)

[['Bahia' 14985284 293241]]
[['Minas Gerais' 21411923 651873]]
[['Pará' 8777124 466377]]
[['Rio de Janeiro' 17463349 779928]]
[['Rio Grande do Sul' 11466630 482464]]
[['Santa Catarina' 7338473 323264]]
[['Sergipe' 2338474 2348338]]

In [377]:
# Criando nova coluna com uma lista por valores

Tabela2['Lista'] = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]

Tabela2

                 Estado  População      PIB  Lista
0                  Acre     906876    15630      1
1               Alagoas    3365351    58964      2
2                 Amapá     877613    17497      3
3              Amazonas    4269995   108181      4
4                 Bahia   14985284   293241      5
5                 Ceará    9240580   163575      6
6      Distrito Federal    3094325   273614      7
7        Espírito Santo    4108508   137346      8
8                 Goiás    7206589   208672      9
9              Maranhão    7153262    97340     10
10          Mato Grosso    3567234   142122     11
11   Mato Grosso do Sul    2839188   106943     12
12         Minas Gerais   21411923   651873     13
13                 Pará    8777124   466377     14
14              Paraíba    4059905    67986     15
15               Paraná   11597484   178377     16
16           Pernambuco    9674793   197853     17
17                Piauí    3289290    52781     18
18       Rio de Janeiro   17463349   779928     19
19  Rio Grande do Norte    3560903    71337     20
20    Rio Grande do Sul   11466630   482464     21
21             Rondônia    1815278    47091     22
22              Roraima     652713    14292     23
23       Santa Catarina    7338473   323264     24
24            São Paulo   46649132    44689     25
25              Sergipe    2338474  2348338     26
26            Tocantins    1607363    39356     27

In [378]:
# Usando array de Numpy

from numpy import arange

Tabela2.Lista = arange(27)

Tabela2

                 Estado  População      PIB  Lista
0                  Acre     906876    15630      0
1               Alagoas    3365351    58964      1
2                 Amapá     877613    17497      2
3              Amazonas    4269995   108181      3
4                 Bahia   14985284   293241      4
5                 Ceará    9240580   163575      5
6      Distrito Federal    3094325   273614      6
7        Espírito Santo    4108508   137346      7
8                 Goiás    7206589   208672      8
9              Maranhão    7153262    97340      9
10          Mato Grosso    3567234   142122     10
11   Mato Grosso do Sul    2839188   106943     11
12         Minas Gerais   21411923   651873     12
13                 Pará    8777124   466377     13
14              Paraíba    4059905    67986     14
15               Paraná   11597484   178377     15
16           Pernambuco    9674793   197853     16
17                Piauí    3289290    52781     17
18       Rio de Janeiro   17463349   779928     18
19  Rio Grande do Norte    3560903    71337     19
20    Rio Grande do Sul   11466630   482464     20
21             Rondônia    1815278    47091     21
22              Roraima     652713    14292     22
23       Santa Catarina    7338473   323264     23
24            São Paulo   46649132    44689     24
25              Sergipe    2338474  2348338     25
26            Tocantins    1607363    39356     26

In [379]:
# Transformando os valores numéricos em booleanos

Tabela2['PIB'] > 50000

0     False
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21    False
22    False
23     True
24    False
25     True
26    False
Name: PIB, dtype: bool

In [380]:
# Um registro em um dataframe é uma série

print(Tabela1.loc[0])
print(type(Tabela1.loc[0]))

Estado         Acre
População    906876
PIB           15630
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

In [381]:
# Alterando todo o índice

Tabela2.set_index('Estado') # Não altera a tabela, sendo apenas um retorno

print(Tabela2)
print()

print(Tabela2.set_index('Estado'))
print()

Tabela3 = Tabela2.set_index('Estado') # Assim se altera a tabela
print(Tabela3)

                 Estado  População      PIB  Lista
0                  Acre     906876    15630      0
1               Alagoas    3365351    58964      1
2                 Amapá     877613    17497      2
3              Amazonas    4269995   108181      3
4                 Bahia   14985284   293241      4
5                 Ceará    9240580   163575      5
6      Distrito Federal    3094325   273614      6
7        Espírito Santo    4108508   137346      7
8                 Goiás    7206589   208672      8
9              Maranhão    7153262    97340      9
10          Mato Grosso    3567234   142122     10
11   Mato Grosso do Sul    2839188   106943     11
12         Minas Gerais   21411923   651873     12
13                 Pará    8777124   466377     13
14              Paraíba    4059905    67986     14
15               Paraná   11597484   178377     15
16           Pernambuco    9674793   197853     16
17                Piauí    3289290    52781     17
18       Rio de Janeiro   17463349   779928     18
19  Rio Grande do Norte    3560903    71337     19
20    Rio Grande do Sul   11466630   482464     20
21             Rondônia    1815278    47091     21
22              Roraima     652713    14292     22
23       Santa Catarina    7338473   323264     23
24            São Paulo   46649132    44689     24
25              Sergipe    2338474  2348338     25
26            Tocantins    1607363    39356     26

                     População      PIB  Lista
Estado
Acre                    906876    15630      0
Alagoas                3365351    58964      1
Amapá                   877613    17497      2
Amazonas               4269995   108181      3
Bahia                 14985284   293241      4
Ceará                  9240580   163575      5
Distrito Federal       3094325   273614      6
Espírito Santo         4108508   137346      7
Goiás                  7206589   208672      8
Maranhão               7153262    97340      9
Mato Grosso            3567234   142122     10
Mato Grosso do Sul     2839188   106943     11
Minas Gerais          21411923   651873     12
Pará                   8777124   466377     13
Paraíba                4059905    67986     14
Paraná                11597484   178377     15
Pernambuco             9674793   197853     16
Piauí                  3289290    52781     17
Rio de Janeiro        17463349   779928     18
Rio Grande do Norte    3560903    71337     19
Rio Grande do Sul     11466630   482464     20
Rondônia               1815278    47091     21
Roraima                 652713    14292     22
Santa Catarina         7338473   323264     23
São Paulo             46649132    44689     24
Sergipe                2338474  2348338     25
Tocantins              1607363    39356     26

                     População      PIB  Lista
Estado
Acre                    906876    15630      0
Alagoas                3365351    58964      1
Amapá                   877613    17497      2
Amazonas               4269995   108181      3
Bahia                 14985284   293241      4
Ceará                  9240580   163575      5
Distrito Federal       3094325   273614      6
Espírito Santo         4108508   137346      7
Goiás                  7206589   208672      8
Maranhão               7153262    97340      9
Mato Grosso            3567234   142122     10
Mato Grosso do Sul     2839188   106943     11
Minas Gerais          21411923   651873     12
Pará                   8777124   466377     13
Paraíba                4059905    67986     14
Paraná                11597484   178377     15
Pernambuco             9674793   197853     16
Piauí                  3289290    52781     17
Rio de Janeiro        17463349   779928     18
Rio Grande do Norte    3560903    71337     19
Rio Grande do Sul     11466630   482464     20
Rondônia               1815278    47091     21
Roraima                 652713    14292     22
Santa Catarina         7338473   323264     23
São Paulo             46649132    44689     24
Sergipe                2338474  2348338     25
Tocantins              1607363    39356     26

In [382]:
# Aplicar funções de outros pacotes

from numpy import cumsum

Tabela2[['População','PIB']].apply(cumsum)

    População      PIB
0      906876    15630
1     4272227    74594
2     5149840    92091
3     9419835   200272
4    24405119   493513
5    33645699   657088
6    36740024   930702
7    40848532  1068048
8    48055121  1276720
9    55208383  1374060
10   58775617  1516182
11   61614805  1623125
12   83026728  2274998
13   91803852  2741375
14   95863757  2809361
15  107461241  2987738
16  117136034  3185591
17  120425324  3238372
18  137888673  4018300
19  141449576  4089637
20  152916206  4572101
21  154731484  4619192
22  155384197  4633484
23  162722670  4956748
24  209371802  5001437
25  211710276  7349775
26  213317639  7389131

In [383]:
# Concatenação horizontal - merge

Esquerda = pandas.DataFrame({'Keys':['1º','2º'],'Column 1':[1,2]})

Direita = pandas.DataFrame({'Keys':['1º','2º'],'Column 2':['a','b']})

pandas.merge(Esquerda,Direita, on = 'Keys') # um nome para alocar o novo objeto; os objetos anteriores não são modificados

  Keys  Column 1 Column 2
0   1º         1        a
1   2º         2        b

In [384]:
# Adicionando registro

Novo_Estado = pandas.Series({'Estado':'Estado Novo','População':1000000,'PIB':'10000000000'}, name = 30)

# Só pode adicionar uma série se ignore_index=True ou se a série tem um nome (usado como índice)
Tabela2.append(Novo_Estado)

# A alteração é um retorno e precisa ser associado alocado como um objeto para que se mantenha

C:\Users\fnsb.DESKTOP-7T10APS\AppData\Local\Temp\ipykernel_1128\440078783.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Tabela2.append(Novo_Estado)

                 Estado  População          PIB  Lista
0                  Acre     906876        15630    0.0
1               Alagoas    3365351        58964    1.0
2                 Amapá     877613        17497    2.0
3              Amazonas    4269995       108181    3.0
4                 Bahia   14985284       293241    4.0
5                 Ceará    9240580       163575    5.0
6      Distrito Federal    3094325       273614    6.0
7        Espírito Santo    4108508       137346    7.0
8                 Goiás    7206589       208672    8.0
9              Maranhão    7153262        97340    9.0
10          Mato Grosso    3567234       142122   10.0
11   Mato Grosso do Sul    2839188       106943   11.0
12         Minas Gerais   21411923       651873   12.0
13                 Pará    8777124       466377   13.0
14              Paraíba    4059905        67986   14.0
15               Paraná   11597484       178377   15.0
16           Pernambuco    9674793       197853   16.0
17                Piauí    3289290        52781   17.0
18       Rio de Janeiro   17463349       779928   18.0
19  Rio Grande do Norte    3560903        71337   19.0
20    Rio Grande do Sul   11466630       482464   20.0
21             Rondônia    1815278        47091   21.0
22              Roraima     652713        14292   22.0
23       Santa Catarina    7338473       323264   23.0
24            São Paulo   46649132        44689   24.0
25              Sergipe    2338474      2348338   25.0
26            Tocantins    1607363        39356   26.0
30          Estado Novo    1000000  10000000000    NaN

## Arquivos

In [385]:
#Entregando um arquivo csv a uma variável:
Tabela_Isis = pandas.read_csv('..\ArquivosParalelos\IrisForTest.csv')

# É possível definir o separador, como string, caso não seja vírgula
Tabela_Isis = pandas.read_csv('..\ArquivosParalelos\IrisForTest.csv', sep = ',')

In [386]:

Tabela_Isis = pandas.read_table('..\ArquivosParalelos\IrisForTest.csv')
Tabela_Isis.head(9)
print()

Tabela_Isis = pandas.read_table('..\ArquivosParalelos\IrisForTest.csv',sep = ',')

In [387]:
#O começo da tabela:
Tabela_Isis.head(9)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa

In [388]:
# O fim da tabela:
Tabela_Isis.tail(9)

     sepal_length  sepal_width  petal_length  petal_width    species
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [389]:
# Alterando os nomes das colunas

from pyparsing import ParseFailAction


Tabela_Isis2 = pandas.read_table('..\ArquivosParalelos\IrisForTest.csv', names = ['comprimento da sépala','largura da sépala','comprimento da pétala','largura da pétala','espécie'],sep = ',')

# A primeira linha era cabeçalho, então é alocada como linha
Tabela_Isis2.head(10)

,comprimento da sépala,largura da sépala,comprimento da pétala,largura da pétala,espécie
0,sepal_length,sepal_width,petal_length,petal_width,species
1,5.1,3.5,1.4,0.2,setosa
2,4.9,3,1.4,0.2,setosa
3,4.7,3.2,1.3,0.2,setosa
4,4.6,3.1,1.5,0.2,setosa
5,5,3.6,1.4,0.2,setosa
6,5.4,3.9,1.7,0.4,setosa
7,4.6,3.4,1.4,0.3,setosa
8,5,3.4,1.5,0.2,setosa
9,4.4,2.9,1.4,0.2,setosa

In [390]:
# Salvando um dataframe como csv

Tabela1.to_csv('..\ArquivosParalelos\PIB Per Capita.csv', sep = '|')

In [391]:
try:
    __import__('openpyxl')
except ImportError:
    print("there's no such thing.")
    ! pip install openpyxl

    #pip.main(['install', package])

# Salvando um dataframe como xlsx

Tabela1.to_excel('..\ArquivosParalelos\PIB Per Capita.xlsx', sheet_name = 'Página 1',index=None)

# Caso não seja determinado 'index=None', o índice será incluído como coluna

In [392]:
# Abrindo arquivo xlsx

Tabela1_Leitura = pandas.read_excel('..\ArquivosParalelos\PIB Per Capita.xlsx', sheet_name = 'Página 1',index_col=None,na_values=['NA'])

print(Tabela1_Leitura)

                 Estado  População      PIB
0                  Acre     906876    15630
1               Alagoas    3365351    58964
2                 Amapá     877613    17497
3              Amazonas    4269995   108181
4                 Bahia   14985284   293241
5                 Ceará    9240580   163575
6      Distrito Federal    3094325   273614
7        Espírito Santo    4108508   137346
8                 Goiás    7206589   208672
9              Maranhão    7153262    97340
10          Mato Grosso    3567234   142122
11   Mato Grosso do Sul    2839188   106943
12         Minas Gerais   21411923   651873
13                 Pará    8777124   466377
14              Paraíba    4059905    67986
15               Paraná   11597484   178377
16           Pernambuco    9674793   197853
17                Piauí    3289290    52781
18       Rio de Janeiro   17463349   779928
19  Rio Grande do Norte    3560903    71337
20    Rio Grande do Sul   11466630   482464
21             Rondônia    1815278    47091
22              Roraima     652713    14292
23       Santa Catarina    7338473   323264
24            São Paulo   46649132    44689
25              Sergipe    2338474  2348338
26            Tocantins    1607363    39356

Também é possível carregar um formato JSON, que respeite uma estrutura necessária para converter dicionário em dataframe, com o comando *pandas.read_jason*.

Outros renderizações (https://www.w3resource.com/pandas/dataframe/dataframe-from_dict.php):
* DataFrame.to_parquet()
* DataFrame.to_pickle()
* DataFrame.to_csv()
* DataFrame.to_hdf()
* DataFrame.to_sql()
* DataFrame.to_dict()
* DataFrame.to_excel()
* DataFrame.to_json()
* DataFrame.to_latex()
* DataFrame.to_stata()
* DataFrame.to_records()
* DataFrame.to_string()
* DataFrame.to_clipboard()

## Limpando e Corrigindo Dados

Limpeza de dados significa consertar dados "ruins" no seu data set.  

Dados ruins podem ser:  
* Células vazias;
* Formato de dados errado;
* Dado errado;
* Duplicação.

In [393]:
# Dados

from numpy import nan

Testes = [
[60,'2020/12/01',110,130,409.1
],[60,'2020/12/02',117,145,479.0
],[60,'2020/12/03',103,135,340.0
],[45,'2020/12/04',109,175,282.4
],[45,'2020/12/05',117,148,406.0
],[60,'2020/12/06',102,127 ,300.0
],[60,'2020/12/07',110 ,136,374.0
],[450,'2020/12/08',104,134,253.3
],[30,'2020/12/09',109,133,195.1
],[60,'2020/12/10',98,124,269.0
],[60,'2020/12/11',103,147,329.3
],[60,'2020/12/12',100,120 ,250.7
],[60,'2020/12/12',100,120,250.7
],[60,'2020/12/13',106,128,345.3
],[60,'2020/12/14',104,132,379.3
],[60,'2020/12/15',98,123,275.0
],[60,'2020/12/16',98,120,215.2
],[60,'2020/12/17',100,120,300.0
],[45,'2020/12/18',90,112,nan
],[60,'2020/12/19',103,123,323.0
],[450,'2020/12/20',97,125,243.0
],[60,'2020/12/21',108,131,364.2
],[45,nan,100,119,282.0
],[60,'2020/12/23',130,101,300.0
],[45,'2020/12/24',105,132,246.0
],[600,'2020/12/25',102,126,334.5
],[60,20201226,100,120,250.0
],[60,'2020/12/27',92,118,241.0
],[60,'2020/12/28',103,132,nan
],[60,'2020/12/29',100,132,280.0
],[60,'2020/12/30',102,129,380.3
] ,[60,'2020/12/31',92,115,243.0]]

Cleannable = pandas.DataFrame(Testes,columns = ['Duration','Date','Pulse','Maxpulse','Calories'])

print(Cleannable)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20       450  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25       600  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [394]:
# Limpando células vazias
# Removendo incidencias NaN (as linhas contendo qualquer NaN são deletadas)

Cleannable.dropna()

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
19        60  2020/12/19    103       123     323.0
20       450  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25       600  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [395]:
# Substituir valores NaN
# inplace = True >>> Altera o dataset ao invés de apenas criar um novo retorno

Cleannable.fillna(0,inplace=False)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       0.0
19        60  2020/12/19    103       123     323.0
20       450  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45           0    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25       600  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       0.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [396]:
# Substituindo apenas uma coluna
# Para retornar mais do que uma coluna, mude o inplance

Cleannable['Calories'].fillna(0,inplace=False)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      0.0
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      0.0
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [397]:
# Substituir valores NaN pela média, mediana ou moda
# inplace = True >>> Altera o dataset ao invés de apenas criar um novo retorno

x = Cleannable["Calories"].mean()
#x = df["Calories"].median()
#x = df["Calories"].mode()[0]

Cleannable['Calories'].fillna(x,inplace=False)

0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00
Name: Calories, dtype: float64

In [398]:
# Corrigindo formato

x = pandas.to_datetime(Cleannable['Date'])
print(x)

# O valor que antes aparecia como NaN agora aparece como NaT (not a time).

0    2020-12-01 00:00:00.000000000
1    2020-12-02 00:00:00.000000000
2    2020-12-03 00:00:00.000000000
3    2020-12-04 00:00:00.000000000
4    2020-12-05 00:00:00.000000000
5    2020-12-06 00:00:00.000000000
6    2020-12-07 00:00:00.000000000
7    2020-12-08 00:00:00.000000000
8    2020-12-09 00:00:00.000000000
9    2020-12-10 00:00:00.000000000
10   2020-12-11 00:00:00.000000000
11   2020-12-12 00:00:00.000000000
12   2020-12-12 00:00:00.000000000
13   2020-12-13 00:00:00.000000000
14   2020-12-14 00:00:00.000000000
15   2020-12-15 00:00:00.000000000
16   2020-12-16 00:00:00.000000000
17   2020-12-17 00:00:00.000000000
18   2020-12-18 00:00:00.000000000
19   2020-12-19 00:00:00.000000000
20   2020-12-20 00:00:00.000000000
21   2020-12-21 00:00:00.000000000
22                             NaT
23   2020-12-23 00:00:00.000000000
24   2020-12-24 00:00:00.000000000
25   2020-12-25 00:00:00.000000000
26   1970-01-01 00:00:00.020201226
27   2020-12-27 00:00:00.000000000
28   2020-12-28 00:00:00.000000000
29   2020-12-29 00:00:00.000000000
30   2020-12-30 00:00:00.000000000
31   2020-12-31 00:00:00.000000000
Name: Date, dtype: datetime64[ns]

In [399]:
# Substituindo dados
# O valor lovalizado no índice 7, na coluna "Duration", será mudado para 45.

Cleannable.loc[7, 'Duration'] = 45

print(Cleannable)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20       450  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25       600  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [402]:
# Alterando dados por iteração
# Todos os valores em "Duração" acima de 120 serão alterados para 120.

for i in Cleannable.index:
    if Cleannable.loc[i,'Duration'] > 120:
        Cleannable.loc[i, "Duration"] = 120

print(Cleannable)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20       120  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25       120  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [405]:
# Removendo linhas por iteração

for i in Cleannable.index:
    if Cleannable.loc[i,'Duration'] >= 120:
        Cleannable.drop(i, inplace=True)

print(Cleannable)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

## Outros Objetos

In [401]:
# Índices de tempo - indexes.datetimes.DatetimeIndex

Datas = pandas.date_range('20211231',periods = 13)

print(Datas)
print(type(Datas))

DatetimeIndex(['2021-12-31', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
               '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11',
               '2022-01-12'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>