# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela-pai aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 58, datetime.datetime(2022, 9, 19, 22, 21, 15, 65499), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 53, datetime.datetime(2022, 9, 19, 22, 21, 15, 71498), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 86, datetime.datetime(2022, 9, 19, 22, 21, 15, 99478), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 73, datetime.datetime(2022, 9, 19, 22, 21, 15, 148448), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 19, 22, 21, 15, 186425), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 84, datetime.datetime(2022, 9, 19, 22, 21, 15, 219405), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 66, datetime.datetime(2022, 9, 19, 22, 21, 15, 242390), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 98, datetime.datetime(2022, 9, 19, 22, 21, 15, 255382), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 77, datetime.datetime(2022, 9, 19, 22, 21, 15, 266375), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 58, datetime.datetime(2022, 9, 19, 22, 21, 15, 283364), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 78, datetime.datetime(2022, 9, 19, 22, 21, 15, 292359), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 81, datetime.datetime(2022, 9, 19, 22, 21, 15, 305351), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 86, datetime.datetime(2022, 9, 19, 22, 21, 15, 324338), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 19, 22, 21, 15, 349332), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 95, datetime.datetime(2022, 9, 19, 22, 21, 15, 366312), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 62, datetime.datetime(2022, 9, 19, 22, 21, 15, 382303), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 69, datetime.datetime(2022, 9, 19, 22, 21, 15, 390297), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 85, datetime.datetime(2022, 9, 19, 22, 21, 15, 403291), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 58, datetime.datetime(2022, 9, 19, 22, 21, 15, 414283), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 57, datetime.datetime(2022, 9, 19, 22, 21, 15, 426276), 0)

In [8]:
Query = "SELECT Produto FROM random_table"

print(sqlite3.connect(arquivo).cursor().execute(Query).fetchall())

[('Teclado',), ('CPU',), ('CPU',), ('Mouse',), ('CPU',), ('CPU',), ('Teclado',), ('CPU',), ('Mouse',), ('Monitor',), ('Monitor',), ('Monitor',), ('Teclado',), ('CPU',), ('Teclado',), ('Monitor',), ('CPU',), ('CPU',), ('CPU',), ('Mouse',)]

In [9]:
# Criando uma tabela-filha aletória

Produtos = sqlite3.connect(arquivo).cursor().execute("SELECT ID FROM random_table").fetchall()
ProdID = [i[0] for i in Produtos]
#for i in Produtos:
#    ProdID.append(i[0])
print(ProdID)

Query = "CREATE TABLE IF NOT EXISTS child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))"

conn = sqlite3.connect(arquivo)
curs = conn.cursor()
curs.execute(Query)
conn.commit()
curs.close()
conn.close()

n=30
for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_value = random.randrange(0,25) #Escolhe um preço para ser um valor do item.
    new_from_list = random.choice(ProdID) #Escolhe um valor bit aleatório

    valores = (new_value,new_date,new_from_list)

    data_insert_var(arquivo,'child_table',('Desconto','Data','ProdutoID'),valores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(13, datetime.datetime(2022, 9, 19, 22, 24, 41, 40316), 20)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(20, datetime.datetime(2022, 9, 19, 22, 24, 41, 46313), 10)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 19, 22, 24, 41, 52308), 9)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 19, 22, 24, 41, 57305), 13)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(2, datetime.datetime(2022, 9, 19, 22, 24, 41, 64301), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(15, datetime.datetime(2022, 9, 19, 22, 24, 41, 70297), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(24, datetime.datetime(2022, 9, 19, 22, 24, 41, 76294), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(9, datetime.datetime(2022, 9, 19, 22, 24, 41, 82290), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 19, 22, 24, 41, 88286), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 19, 22, 24, 41, 94283), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(24, datetime.datetime(2022, 9, 19, 22, 24, 41, 100278), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(23, datetime.datetime(2022, 9, 19, 22, 24, 41, 106275), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(24, datetime.datetime(2022, 9, 19, 22, 24, 41, 112271), 11)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(18, datetime.datetime(2022, 9, 19, 22, 24, 41, 118269), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(14, datetime.datetime(2022, 9, 19, 22, 24, 41, 123264), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 19, 22, 24, 41, 129261), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 19, 22, 24, 41, 134258), 4)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 19, 22, 24, 41, 140254), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(10, datetime.datetime(2022, 9, 19, 22, 24, 41, 146250), 11)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(4, datetime.datetime(2022, 9, 19, 22, 24, 41, 154245), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(10, datetime.datetime(2022, 9, 19, 22, 24, 41, 160243), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(16, datetime.datetime(2022, 9, 19, 22, 24, 41, 165238), 7)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(15, datetime.datetime(2022, 9, 19, 22, 24, 41, 182227), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 19, 22, 24, 41, 188224), 10)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(7, datetime.datetime(2022, 9, 19, 22, 24, 41, 194221), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(15, datetime.datetime(2022, 9, 19, 22, 24, 41, 199217), 15)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 19, 22, 24, 41, 205215), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(5, datetime.datetime(2022, 9, 19, 22, 24, 41, 211211), 15)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 19, 22, 24, 41, 217206), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 19, 22, 24, 41, 222204), 9)

In [10]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.065499', 'Vendido: 1']
['ID: 2', 'Produto: CPU', 'Valor: 53.0', 'Data: 2022-09-19 22:21:15.071498', 'Vendido: 1']
['ID: 3', 'Produto: CPU', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.099478', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.148448', 'Vendido: 1']
['ID: 5', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.186425', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 84.0', 'Data: 2022-09-19 22:21:15.219405', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-19 22:21:15.242390', 'Vendido: 0']
['ID: 8', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-19 22:21:15.255382', 'Vendido: 0']
['ID: 9', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-19 22:21:15.266375', 'Vendido: 1']
['ID: 10', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.283364', 'Vendido: 0']
['ID: 11', 'Produto: Monitor', 'Valor: 78.0', 'Data: 2022-09-19 22:21:15.292359', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-19 22:21:15.305351', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.324338', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.349332', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 95.0', 'Data: 2022-09-19 22:21:15.366312', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 62.0', 'Data: 2022-09-19 22:21:15.382303', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 69.0', 'Data: 2022-09-19 22:21:15.390297', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-19 22:21:15.403291', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.414283', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 57.0', 'Data: 2022-09-19 22:21:15.426276', 'Vendido: 0']

In [11]:
showall(arquivo,'child_table')

Colunas ['ID', 'Desconto', 'Data', 'ProdutoID']
['ID: 1', 'Desconto: 13.0', 'Data: 2022-09-19 22:24:41.040316', 'ProdutoID: 20']
['ID: 2', 'Desconto: 20.0', 'Data: 2022-09-19 22:24:41.046313', 'ProdutoID: 10']
['ID: 3', 'Desconto: 21.0', 'Data: 2022-09-19 22:24:41.052308', 'ProdutoID: 9']
['ID: 4', 'Desconto: 0.0', 'Data: 2022-09-19 22:24:41.057305', 'ProdutoID: 13']
['ID: 5', 'Desconto: 2.0', 'Data: 2022-09-19 22:24:41.064301', 'ProdutoID: 14']
['ID: 6', 'Desconto: 15.0', 'Data: 2022-09-19 22:24:41.070297', 'ProdutoID: 14']
['ID: 7', 'Desconto: 24.0', 'Data: 2022-09-19 22:24:41.076294', 'ProdutoID: 19']
['ID: 8', 'Desconto: 9.0', 'Data: 2022-09-19 22:24:41.082290', 'ProdutoID: 8']
['ID: 9', 'Desconto: 1.0', 'Data: 2022-09-19 22:24:41.088286', 'ProdutoID: 18']
['ID: 10', 'Desconto: 0.0', 'Data: 2022-09-19 22:24:41.094283', 'ProdutoID: 3']
['ID: 11', 'Desconto: 24.0', 'Data: 2022-09-19 22:24:41.100278', 'ProdutoID: 18']
['ID: 12', 'Desconto: 23.0', 'Data: 2022-09-19 22:24:41.106275', 'ProdutoID: 14']
['ID: 13', 'Desconto: 24.0', 'Data: 2022-09-19 22:24:41.112271', 'ProdutoID: 11']
['ID: 14', 'Desconto: 18.0', 'Data: 2022-09-19 22:24:41.118269', 'ProdutoID: 19']
['ID: 15', 'Desconto: 14.0', 'Data: 2022-09-19 22:24:41.123264', 'ProdutoID: 14']
['ID: 16', 'Desconto: 1.0', 'Data: 2022-09-19 22:24:41.129261', 'ProdutoID: 17']
['ID: 17', 'Desconto: 1.0', 'Data: 2022-09-19 22:24:41.134258', 'ProdutoID: 4']
['ID: 18', 'Desconto: 21.0', 'Data: 2022-09-19 22:24:41.140254', 'ProdutoID: 19']
['ID: 19', 'Desconto: 10.0', 'Data: 2022-09-19 22:24:41.146250', 'ProdutoID: 11']
['ID: 20', 'Desconto: 4.0', 'Data: 2022-09-19 22:24:41.154245', 'ProdutoID: 19']
['ID: 21', 'Desconto: 10.0', 'Data: 2022-09-19 22:24:41.160243', 'ProdutoID: 18']
['ID: 22', 'Desconto: 16.0', 'Data: 2022-09-19 22:24:41.165238', 'ProdutoID: 7']
['ID: 23', 'Desconto: 15.0', 'Data: 2022-09-19 22:24:41.182227', 'ProdutoID: 5']
['ID: 24', 'Desconto: 21.0', 'Data: 2022-09-19 22:24:41.188224', 'ProdutoID: 10']
['ID: 25', 'Desconto: 7.0', 'Data: 2022-09-19 22:24:41.194221', 'ProdutoID: 17']
['ID: 26', 'Desconto: 15.0', 'Data: 2022-09-19 22:24:41.199217', 'ProdutoID: 15']
['ID: 27', 'Desconto: 12.0', 'Data: 2022-09-19 22:24:41.205215', 'ProdutoID: 5']
['ID: 28', 'Desconto: 5.0', 'Data: 2022-09-19 22:24:41.211211', 'ProdutoID: 15']
['ID: 29', 'Desconto: 21.0', 'Data: 2022-09-19 22:24:41.217206', 'ProdutoID: 8']
['ID: 30', 'Desconto: 1.0', 'Data: 2022-09-19 22:24:41.222204', 'ProdutoID: 9']

In [12]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [13]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [14]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Teclado', 58.0, '2022-09-19 22:21:15.065499', 1)
(2, 'CPU', 53.0, '2022-09-19 22:21:15.071498', 1)
(3, 'CPU', 86.0, '2022-09-19 22:21:15.099478', 0)
(4, 'Mouse', 73.0, '2022-09-19 22:21:15.148448', 1)
(5, 'CPU', 73.0, '2022-09-19 22:21:15.186425', 1)
(6, 'CPU', 84.0, '2022-09-19 22:21:15.219405', 1)
(7, 'Teclado', 66.0, '2022-09-19 22:21:15.242390', 0)
(8, 'CPU', 98.0, '2022-09-19 22:21:15.255382', 0)
(9, 'Mouse', 77.0, '2022-09-19 22:21:15.266375', 1)
(10, 'Monitor', 58.0, '2022-09-19 22:21:15.283364', 0)
(11, 'Monitor', 78.0, '2022-09-19 22:21:15.292359', 0)
(12, 'Monitor', 81.0, '2022-09-19 22:21:15.305351', 0)
(13, 'Teclado', 86.0, '2022-09-19 22:21:15.324338', 0)
(14, 'CPU', 73.0, '2022-09-19 22:21:15.349332', 0)
(15, 'Teclado', 95.0, '2022-09-19 22:21:15.366312', 0)
(16, 'Monitor', 62.0, '2022-09-19 22:21:15.382303', 0)
(17, 'CPU', 69.0, '2022-09-19 22:21:15.390297', 0)
(18, 'CPU', 85.0, '2022-09-19 22:21:15.403291', 0)
(19, 'CPU', 58.0, '2022-09-19 22:21:15.414283', 0)
(20, 'Mouse', 57.0, '2022-09-19 22:21:15.426276', 0)

In [15]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Teclado', 58.0)
('CPU', 53.0)
('CPU', 86.0)
('Mouse', 73.0)
('CPU', 73.0)
('CPU', 84.0)
('Teclado', 66.0)
('CPU', 98.0)
('Mouse', 77.0)
('Monitor', 58.0)
('Monitor', 78.0)
('Monitor', 81.0)
('Teclado', 86.0)
('CPU', 73.0)
('Teclado', 95.0)
('Monitor', 62.0)
('CPU', 69.0)
('CPU', 85.0)
('CPU', 58.0)
('Mouse', 57.0)

In [16]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 53.0)
('CPU', 86.0)
('CPU', 73.0)
('CPU', 84.0)
('CPU', 98.0)
('Monitor', 58.0)
('Monitor', 78.0)
('Monitor', 81.0)
('CPU', 73.0)
('Monitor', 62.0)
('CPU', 69.0)
('CPU', 85.0)
('CPU', 58.0)

In [17]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)

('random_table',)
('sqlite_sequence',)
('child_table',)

In [18]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

('Teclado', 1)
('CPU', 1)
('CPU', 0)
('Mouse', 1)
('Teclado', 0)
('Monitor', 0)
('Mouse', 0)

In [19]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(2, 'CPU', 53.0, '2022-09-19 22:21:15.071498', 1)
(3, 'CPU', 86.0, '2022-09-19 22:21:15.099478', 0)
(5, 'CPU', 73.0, '2022-09-19 22:21:15.186425', 1)
(6, 'CPU', 84.0, '2022-09-19 22:21:15.219405', 1)
(8, 'CPU', 98.0, '2022-09-19 22:21:15.255382', 0)
(14, 'CPU', 73.0, '2022-09-19 22:21:15.349332', 0)
(17, 'CPU', 69.0, '2022-09-19 22:21:15.390297', 0)
(18, 'CPU', 85.0, '2022-09-19 22:21:15.403291', 0)
(19, 'CPU', 58.0, '2022-09-19 22:21:15.414283', 0)
(10, 'Monitor', 58.0, '2022-09-19 22:21:15.283364', 0)
(11, 'Monitor', 78.0, '2022-09-19 22:21:15.292359', 0)
(12, 'Monitor', 81.0, '2022-09-19 22:21:15.305351', 0)
(16, 'Monitor', 62.0, '2022-09-19 22:21:15.382303', 0)
(4, 'Mouse', 73.0, '2022-09-19 22:21:15.148448', 1)
(9, 'Mouse', 77.0, '2022-09-19 22:21:15.266375', 1)
(20, 'Mouse', 57.0, '2022-09-19 22:21:15.426276', 0)
(1, 'Teclado', 58.0, '2022-09-19 22:21:15.065499', 1)
(7, 'Teclado', 66.0, '2022-09-19 22:21:15.242390', 0)
(13, 'Teclado', 86.0, '2022-09-19 22:21:15.324338', 0)
(15, 'Teclado', 95.0, '2022-09-19 22:21:15.366312', 0)

In [20]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)

('Teclado',)
('Mouse',)
('Monitor',)
('CPU',)

In [21]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Teclado', 58.0, '2022-09-19 22:21:15.065499', 1)
(2, 'CPU', 53.0, '2022-09-19 22:21:15.071498', 1)
(3, 'CPU', 86.0, '2022-09-19 22:21:15.099478', 0)
(4, 'Mouse', 73.0, '2022-09-19 22:21:15.148448', 1)
(5, 'CPU', 73.0, '2022-09-19 22:21:15.186425', 1)
(6, 'CPU', 84.0, '2022-09-19 22:21:15.219405', 1)

In [22]:
# Alias
# São mudanças dos nomes de colunas e tabelas.
# Utiliza-se aspas quando o aliás tem espaço.

Query = "SELECT Produto AS 'Nome do Produto' FROM random_table AS Produtos"

Execute_and_Show(Query,arquivo)

('Nome do Produto', None, None, None, None, None, None)

('Teclado',)
('CPU',)
('CPU',)
('Mouse',)
('CPU',)
('CPU',)
('Teclado',)
('CPU',)
('Mouse',)
('Monitor',)
('Monitor',)
('Monitor',)
('Teclado',)
('CPU',)
('Teclado',)
('Monitor',)
('CPU',)
('CPU',)
('CPU',)
('Mouse',)

Join

![](../ArquivosParalelos/Join_types.png)

Different Types of SQL JOINs

* (INNER) JOIN: _Retorna registros compatíveis com ambas as tabelas;_
* LEFT (OUTER) JOIN: _Retorna todos os registros da tabela à esquerda, e os registros compatíveis da tabela à direita;_
* RIGHT (OUTER) JOIN: _Retorna todos os registros da tabela à direita, e os registros compatíveis da tabela à esquerda;_
* FULL (OUTER) JOIN: _Retorna todos os registros quando há compatibilidade em qualquer tabela._

In [23]:
Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM child_table JOIN random_table 
    ON child_table.ProdutoID = random_table.ID
    '''


Execute_and_Show(Query,arquivo)

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(13.0, '2022-09-19 22:24:41.040316', 'Mouse')
(20.0, '2022-09-19 22:24:41.046313', 'Monitor')
(21.0, '2022-09-19 22:24:41.052308', 'Mouse')
(0.0, '2022-09-19 22:24:41.057305', 'Teclado')
(2.0, '2022-09-19 22:24:41.064301', 'CPU')
(15.0, '2022-09-19 22:24:41.070297', 'CPU')
(24.0, '2022-09-19 22:24:41.076294', 'CPU')
(9.0, '2022-09-19 22:24:41.082290', 'CPU')
(1.0, '2022-09-19 22:24:41.088286', 'CPU')
(0.0, '2022-09-19 22:24:41.094283', 'CPU')
(24.0, '2022-09-19 22:24:41.100278', 'CPU')
(23.0, '2022-09-19 22:24:41.106275', 'CPU')
(24.0, '2022-09-19 22:24:41.112271', 'Monitor')
(18.0, '2022-09-19 22:24:41.118269', 'CPU')
(14.0, '2022-09-19 22:24:41.123264', 'CPU')
(1.0, '2022-09-19 22:24:41.129261', 'CPU')
(1.0, '2022-09-19 22:24:41.134258', 'Mouse')
(21.0, '2022-09-19 22:24:41.140254', 'CPU')
(10.0, '2022-09-19 22:24:41.146250', 'Monitor')
(4.0, '2022-09-19 22:24:41.154245', 'CPU')
(10.0, '2022-09-19 22:24:41.160243', 'CPU')
(16.0, '2022-09-19 22:24:41.165238', 'Teclado')
(15.0, '2022-09-19 22:24:41.182227', 'CPU')
(21.0, '2022-09-19 22:24:41.188224', 'Monitor')
(7.0, '2022-09-19 22:24:41.194221', 'CPU')
(15.0, '2022-09-19 22:24:41.199217', 'Teclado')
(12.0, '2022-09-19 22:24:41.205215', 'CPU')
(5.0, '2022-09-19 22:24:41.211211', 'Teclado')
(21.0, '2022-09-19 22:24:41.217206', 'CPU')
(1.0, '2022-09-19 22:24:41.222204', 'Mouse')

In [24]:
# Como todos os registros na tabela child_table possuem valores para a coluna ProdutoID que correspondem a algum valor na tabela random_table, o LEfT JOIN presentaria o mesmo resultado do INNER JOIN.

In [25]:
# RIGH JOIN

Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM random_table LEFT JOIN child_table 
    ON child_table.ProdutoID = random_table.ID
    '''
    
Execute_and_Show(Query,arquivo)

# Os valores None mostrados são registros em random_table que não possuem correspondência em child_table.

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(None, None, 'Teclado')
(None, None, 'CPU')
(0.0, '2022-09-19 22:24:41.094283', 'CPU')
(1.0, '2022-09-19 22:24:41.134258', 'Mouse')
(12.0, '2022-09-19 22:24:41.205215', 'CPU')
(15.0, '2022-09-19 22:24:41.182227', 'CPU')
(None, None, 'CPU')
(16.0, '2022-09-19 22:24:41.165238', 'Teclado')
(9.0, '2022-09-19 22:24:41.082290', 'CPU')
(21.0, '2022-09-19 22:24:41.217206', 'CPU')
(1.0, '2022-09-19 22:24:41.222204', 'Mouse')
(21.0, '2022-09-19 22:24:41.052308', 'Mouse')
(20.0, '2022-09-19 22:24:41.046313', 'Monitor')
(21.0, '2022-09-19 22:24:41.188224', 'Monitor')
(10.0, '2022-09-19 22:24:41.146250', 'Monitor')
(24.0, '2022-09-19 22:24:41.112271', 'Monitor')
(None, None, 'Monitor')
(0.0, '2022-09-19 22:24:41.057305', 'Teclado')
(2.0, '2022-09-19 22:24:41.064301', 'CPU')
(14.0, '2022-09-19 22:24:41.123264', 'CPU')
(15.0, '2022-09-19 22:24:41.070297', 'CPU')
(23.0, '2022-09-19 22:24:41.106275', 'CPU')
(5.0, '2022-09-19 22:24:41.211211', 'Teclado')
(15.0, '2022-09-19 22:24:41.199217', 'Teclado')
(None, None, 'Monitor')
(1.0, '2022-09-19 22:24:41.129261', 'CPU')
(7.0, '2022-09-19 22:24:41.194221', 'CPU')
(1.0, '2022-09-19 22:24:41.088286', 'CPU')
(10.0, '2022-09-19 22:24:41.160243', 'CPU')
(24.0, '2022-09-19 22:24:41.100278', 'CPU')
(4.0, '2022-09-19 22:24:41.154245', 'CPU')
(18.0, '2022-09-19 22:24:41.118269', 'CPU')
(21.0, '2022-09-19 22:24:41.140254', 'CPU')
(24.0, '2022-09-19 22:24:41.076294', 'CPU')
(13.0, '2022-09-19 22:24:41.040316', 'Mouse')

LEFT e OUTHER JOIN não são suportados no SQLite3

In [26]:
#UNION
# Uma forma de juntar dois SELECT Queries de forma concatenada.
# Ambos as seleções precisam ter o mesmo tipo de dados.


Query = '''
    SELECT Desconto FROM child_table
    UNION
    SELECT Valor FROM random_table
    '''
    
Execute_and_Show(Query,arquivo)

## UNION não retorna valores duplicados, mas UNION ALL sim.

('Desconto', None, None, None, None, None, None)

(0.0,)
(1.0,)
(2.0,)
(4.0,)
(5.0,)
(7.0,)
(9.0,)
(10.0,)
(12.0,)
(13.0,)
(14.0,)
(15.0,)
(16.0,)
(18.0,)
(20.0,)
(21.0,)
(23.0,)
(24.0,)
(53.0,)
(57.0,)
(58.0,)
(62.0,)
(66.0,)
(69.0,)
(73.0,)
(77.0,)
(78.0,)
(81.0,)
(84.0,)
(85.0,)
(86.0,)
(95.0,)
(98.0,)

In [27]:
# GROUP BY
# Usado para agrupar em apenas valores distintos
# Mostra apenas o primeiro valor de cada incidência


Query = 'SELECT * FROM random_table GROUP BY Produto'

Execute_and_Show(Query,arquivo)

# Quando selecionado um agregador (contagem, soma, média), gera uma coluna que considera várias entradas na mesma instância.
# No exemplo abaixo, mostra quantos registros e a média de valor de cada tipo de produto na tabela.

Query = 'SELECT Produto, COUNT(*) AS "Quantidade", AVG(Valor) AS "Média" FROM random_table GROUP BY Produto'
Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(2, 'CPU', 53.0, '2022-09-19 22:21:15.071498', 1)
(10, 'Monitor', 58.0, '2022-09-19 22:21:15.283364', 0)
(4, 'Mouse', 73.0, '2022-09-19 22:21:15.148448', 1)
(1, 'Teclado', 58.0, '2022-09-19 22:21:15.065499', 1)
('Produto', None, None, None, None, None, None)
('Quantidade', None, None, None, None, None, None)
('Média', None, None, None, None, None, None)

('CPU', 9, 75.44444444444444)
('Monitor', 4, 69.75)
('Mouse', 3, 69.0)
('Teclado', 4, 76.25)

In [28]:
# HAVING
# Ao agrupar, se um dos agregadores for usado como filtro.
# Similar ao WHERE

Query = '''
        SELECT 
        Produto, 
        COUNT(*) AS "Quantidade", 
        AVG(Valor) AS "Média" 
        FROM random_table 
        GROUP BY Produto
        HAVING AVG(Valor) > 60
        '''
Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Quantidade', None, None, None, None, None, None)
('Média', None, None, None, None, None, None)

('CPU', 9, 75.44444444444444)
('Monitor', 4, 69.75)
('Mouse', 3, 69.0)
('Teclado', 4, 76.25)

### Criação e Queda
<a id='Criação'></a>

In [29]:
# Criar tabela nova
#

Query = "CREATE TABLE Exemplo(id integer PRIMARY KEY AUTOINCREMENT, name text DEFAULT 'HELENA', number interger, CHECK (number>0))"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name', 'number']


CRIE TABELA nome (colunaA tipo parâmetro parâmetro, colunaB tipo parâmetro parâmetro, colunaC tipo parâmetro parâmetro, FOREIGN KEY (colunaC) REFERENCES outra_tabela(colunaID)

* _Constraints_ (parâmetros para as colunas):
   * NOT NULL - Garante que a coluna não pode ter valores NULOS;
   * UNIQUE - Garante que todos os valores na coluna são diferentes;
   * PRIMARY KEY - Uma combinação de UNIQUE e NOT NULL. Identica cada linha em uma tabela (endereço de cada registro);
   * FOREIGN KEY - Previne ações que possam destruir ligações (links) entre duas tabelas, referindo à Primary Key de outra tabela;
   * CHECK - Garante que os valores em uma coluna satisfaçam uma condição específica;
   * DEFAULT - Estabelece um valor predefinido para a coluna se nenhum valor é especificado;
   * AUTOINCREMENT - Caso um valor para a coluna não seja fornecido, é acrescentado um valor automaticamente, a partir de uma contagem (por padrão, incrementa 1 a cada adição);
   * CREATE INDEX - Usado para criar e recuperar dados de um banco de dados muito rapidamente.

Se você definir um parâmetro CHECK em uma coluna, isso peritirá apenas certos valores para essa coluna.  
Se você define um parâmetro CHECK em uma tabela, ela poderá limitar os valores em certas colunas baseado em valores em outra coluna na linha.  
Precisa ser adicionado não como parâmetro da coluna, mas da tabela.

In [30]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer PRIMARY KEY AUTOINCREMENT, name text DEFAULT 'HELENA', number interger, CHECK (number>0))"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name', 'number']

* Tipos de Variáveis   

   * **String**

      * CHAR(Size): Um tamanho FIXO de string (pode conter letras, números e caracteres especiais). O parâmetro de tamanho especifica o tamanho da coluna em caracteres - pode ser de 0 a 225, 1 por padrão.

      * VARCHAR(Size): um tamanho VARIÁVEL de string (pode conter letras, números e caracteres especiais). O parâmetro de tamanho especifica o tamanho máximo da string em carateres - pode ser de 0 a 65 535.

      * BINARY(size): Igual ao CHAR(), mas armazena strings de bytes binários. O parâmetro de tamanho especifica o tamanho da coluna em bytes, 1 por padrão.
      
      * VARBINARY(size): Igual ao VARCHAR(), mas armazena strings de bytes binários. O parâmetro de tamanho especifica o tamanho máximo da coluna em bytes. 
      
      * TINYBLOB: Para BLOBs (Binary Large Objects - Objetos Grandes Binários). Tamanho máximo: 255 bytes.
      
      
      
      * BLOB(size): Para BLOBs (Binary Large Objects - Objetos Grandes Binários). Aguenta até 65 535 bytes.
      
      * MEDIUMBLOB: Para BLOBs (Binary Large Objects - Objetos Grandes Binários). Aguenta até 16 777 215 bytes.
      
      * LONGBLOB: Para BLOBs (Binary Large Objects - Objetos Grandes Binários). Aguenta até 4 294 967 295 bytes.
      
      * TINYTEXT: Suporta uma string com um máximo de 225 caracteres.
      
      * TEXT(size): Suporta uma string com um máximo de 65 535 caracteres.
      
      * MEDIUMTEXT: Suporta uma string com um máximo de 16 777 215 caracteres.
      
      * LONGTEXT: Suporta uma string com um máximo de 4 294 967 295 caracteres.
      
      * ENUM(val1, val2, val3, ...): Um objeto string que pode ter apenas um valor, escolhido de uma litra de possíveis valores. Você pode listar at´´e 65535 valores em uma lista ENUM. Se um valor é inserido que não está na lsta, um valor em branco será inserido. Os valores são organizados na ordem em que os insere.
      
      * SET(val1, val2, val3, ...): um objeto string que pode ter 0 ou mais valores, escolhidos de uma lista de possíveis valores. Você pode listar até 64 valores em uma lista SET.
   
   * **Numérico** *(Todos os tipos de dados numéricos podem ter uma opção extra: UNSIGNED ou ZEROFILL. Se você adiciona a opção UNSIGNED, MySQL desabilita valores negativos para a coluna. Se você adiciona a opção ZEROFILL, MySQL também adiciona o atributo UNSIGNED para a coluna automaticamente.)*
      
      * BIT(size): Um tipo valor-bit. O número de bits por valor é especificado no tamanho. O parâmetro de tamanho pode suportar valores de 1 a 64, com 1 por padrão.
      
      * TINYINT(size): um integer (número inteiro) muio pequeno. O intervalo é assinalado de -128 a 127. Intervalo não assinalado abarca de 0 a 255. O parâmetro de tamanho especifica a largura máxima de exibição (que é 255).
      
      * BOOL: Zero é considerado False, valores diferentes de zero são considerados True.
      
      * BOOLEAN Igual a BOOL.
      
      * SMALLINT(size): Um pequeno interger. O intervalo assinalado abrange de -32768 a 32767. Não assinalado, abrange de 0 to 65535. O parâmetro de tamanho especifica a largura máxima de exibição (que é 255).
      
      * MEDIUMINT(size): Um interger mediano. O intervalo assinalado abrange de -8388608 a 8388607. Não assinalado, abrange de 0 a 16777215. O parâmetro de tamanho especifica a largura máxima de exibição (que é 255).
      
      * INT(size): Um interger mediano. O intervalo assinalado abrange de -2147483648 a 2147483647. Não assinalado, abrange de 0 a 4294967295. O parâmetro de tamanho especifica a largura máxima de exibição (que é 255).
      
      * INTEGER(size): Igual ao INT(size)
      
      * BIGINT(size): Um interger grande. O intervalo assinalado abrange de -9223372036854775808 a 9223372036854775807. Não assinalado, abrange de 0 a 18446744073709551615. O parâmetro de tamanho especifica a largura máxima de exibição (que é 255).
      
      * FLOAT(size, d): Um número com ponto flutuante - do conjunto dos Racionais. O total de dígitos é especificado no tamanho. O número de dígitos após o ponto decimal é especificado no parâmetro d. Esta sintaxe está descontinuada no MySQL 8,0,17 e será removida em futuras versões do MySQL.
      
      * FLOAT(p): Um número com ponto flutuante. MySQL usa o valor de p para determinar se usa FLOAT ou DOUBLE para o tipo de dado resultante. Se p está de 0 a 24, o tipo do dado se torna FLOAT(). Se p está de 25 a 53, o tipo de dado se torna DOUBLE().
      
      * DOUBLE(size, d): Um número com ponto flutuante de tamanho normal. O número total de dígitos é especificado no tamanho. O número de dígitos depois do ponto decimal é especificado no parâmetro d.
      
      * DOUBLE PRECISION(size, d)	
      
      * DECIMAL(size, d): Um número com ponto fixo exato. O número total de dígitos é especificado no tamanho, podendo chegar até 65 e tendo 10 como valor padrão. O número de dígitos depois do ponto decimal é especificado no parâmetro d, podendo chegar até 30 e tendo 0 como valor padrão.
      
      * DEC(size, d): Igual ao DECIMAL(size,d)
      
   
   * **Data e Tempo**
   
      * DATE: Uma data. Formato: AAA-MM-DD. A abrangência suportada alcança de '1000-01-01' a '9999-12-31'.
      
      * DATETIME(fsp): Uma combinação de data e hora. Formato: AAA-MM-DD hh:mm:ss. A abrangência suportada alcança de '1000-01-01 00:00:00' a '9999-12-31 23:59:59'. Adicionando DEFAULT e ON UPDATE na definição da coluna garantirá inicialização automática e atualização para data e hora correntes.

      * TIMESTAMP(fsp): Um timestamp - carimbo de data/hora. Valores TIMESTAMP values são armazenados como o número de segundos desde a Unix epoch (Época Unix, ou Unix Timestamp): '1970-01-01 00:00:00' UTC. Formato: AAAA-MM-DD hh:mm:ss. A abrangência suportada alcança de '1970-01-01 00:00:01' UTC a '2038-01-09 03:14:07' UTC. Inicialização e atualização automáticas para a data e hora atuais podem ser definidas usando DEFAULT CURRENT_TIMESTAMP e ON UPDATE CURRENT_TIMESTAMP na definição da coluna.

      * TIME(fsp): Um tempo. Formato: hh:mm:ss. A abrangência suportada alcança de '-838:59:59' a '838:59:59'.

      * YEAR: Um ano em formato de quatro dígitos. Valores permitidos em formato de quatro dígitos: 1901 a 2155, e 0000.

* Tipos de Variáveis   
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?

* Tipos de Variáveis   
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?
   * ?

In [31]:
# Elimina tabela se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 5', "sql: CREATE TABLE Exemplo(id integer PRIMARY KEY AUTOINCREMENT, name text DEFAULT 'HELENA', number interger, CHECK (number>0))"]

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']

In [32]:
# CREATE TABLE AS SELECT
# Cria tabela igual a outra tabela

Query = 'CREATE TABLE IF NOT EXISTS copy_table AS SELECT * FROM random_table'

Execute_and_Commit(Query,arquivo,'copy_table')

# O autoincrement não foi atribuído à coluna ID da nova tabela, como pode ser visto na célula a seguir.

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.065499', 'Vendido: 1']
['ID: 2', 'Produto: CPU', 'Valor: 53.0', 'Data: 2022-09-19 22:21:15.071498', 'Vendido: 1']
['ID: 3', 'Produto: CPU', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.099478', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.148448', 'Vendido: 1']
['ID: 5', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.186425', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 84.0', 'Data: 2022-09-19 22:21:15.219405', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-19 22:21:15.242390', 'Vendido: 0']
['ID: 8', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-19 22:21:15.255382', 'Vendido: 0']
['ID: 9', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-19 22:21:15.266375', 'Vendido: 1']
['ID: 10', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.283364', 'Vendido: 0']
['ID: 11', 'Produto: Monitor', 'Valor: 78.0', 'Data: 2022-09-19 22:21:15.292359', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-19 22:21:15.305351', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.324338', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.349332', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 95.0', 'Data: 2022-09-19 22:21:15.366312', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 62.0', 'Data: 2022-09-19 22:21:15.382303', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 69.0', 'Data: 2022-09-19 22:21:15.390297', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-19 22:21:15.403291', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.414283', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 57.0', 'Data: 2022-09-19 22:21:15.426276', 'Vendido: 0']

In [33]:
# Modificar as colunas de uma tabela

Query = 'ALTER TABLE copy_table ADD Coluna_Nova TEXT'

Execute_and_Commit(Query,arquivo,'copy_table')



Query = 'ALTER TABLE copy_table DROP Coluna_Nova'

Execute_and_Commit(Query,arquivo,'copy_table')

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido', 'Coluna_Nova']
['ID: 1', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.065499', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 2', 'Produto: CPU', 'Valor: 53.0', 'Data: 2022-09-19 22:21:15.071498', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 3', 'Produto: CPU', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.099478', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 4', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.148448', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 5', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.186425', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 6', 'Produto: CPU', 'Valor: 84.0', 'Data: 2022-09-19 22:21:15.219405', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 7', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-19 22:21:15.242390', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 8', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-19 22:21:15.255382', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 9', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-19 22:21:15.266375', 'Vendido: 1', 'Coluna_Nova: None']
['ID: 10', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.283364', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 11', 'Produto: Monitor', 'Valor: 78.0', 'Data: 2022-09-19 22:21:15.292359', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 12', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-19 22:21:15.305351', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 13', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.324338', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 14', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.349332', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 15', 'Produto: Teclado', 'Valor: 95.0', 'Data: 2022-09-19 22:21:15.366312', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 16', 'Produto: Monitor', 'Valor: 62.0', 'Data: 2022-09-19 22:21:15.382303', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 17', 'Produto: CPU', 'Valor: 69.0', 'Data: 2022-09-19 22:21:15.390297', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 18', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-19 22:21:15.403291', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 19', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.414283', 'Vendido: 0', 'Coluna_Nova: None']
['ID: 20', 'Produto: Mouse', 'Valor: 57.0', 'Data: 2022-09-19 22:21:15.426276', 'Vendido: 0', 'Coluna_Nova: None']
Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.065499', 'Vendido: 1']
['ID: 2', 'Produto: CPU', 'Valor: 53.0', 'Data: 2022-09-19 22:21:15.071498', 'Vendido: 1']
['ID: 3', 'Produto: CPU', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.099478', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.148448', 'Vendido: 1']
['ID: 5', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.186425', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 84.0', 'Data: 2022-09-19 22:21:15.219405', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-19 22:21:15.242390', 'Vendido: 0']
['ID: 8', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-19 22:21:15.255382', 'Vendido: 0']
['ID: 9', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-19 22:21:15.266375', 'Vendido: 1']
['ID: 10', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.283364', 'Vendido: 0']
['ID: 11', 'Produto: Monitor', 'Valor: 78.0', 'Data: 2022-09-19 22:21:15.292359', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-19 22:21:15.305351', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-19 22:21:15.324338', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-19 22:21:15.349332', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 95.0', 'Data: 2022-09-19 22:21:15.366312', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 62.0', 'Data: 2022-09-19 22:21:15.382303', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 69.0', 'Data: 2022-09-19 22:21:15.390297', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-19 22:21:15.403291', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-19 22:21:15.414283', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 57.0', 'Data: 2022-09-19 22:21:15.426276', 'Vendido: 0']

Não é possível alterar uma coluna com uma query. É preciso renomear a tabela, criar uma nova tabela como desejado com o nome anterior, então adicionar os dados de uma tabela para outra, conforme a célula abaixo:

In [34]:
Queries = (
    'ALTER TABLE copy_table RENAME TO old_table',
    '''CREATE TABLE copy_table (
        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        Produto TEXT,
        Valor REAL,
        Data DATE,
        Vendido BIT NOT NULL)''',
    'INSERT INTO copy_table (Produto, Valor, Data, Vendido) SELECT Produto, Valor, Data, IFNULL(Vendido,0) FROM old_table'
    'DROP old_table'
)

con= sqlite3.connect(arquivo)
curs = con.cursor()

for query in Queries:
    curs.execute(query)

con.commit()
curs.close()
con.close()

OperationalError: no such table: old_tableDROP

In [ ]:
# INSERT INTO SELECT
# Copia dados de uma tabela e insere em outra tabela

Query = 'INSERT INTO copy_table (Data, Valor, Vendido) SELECT Data, Valor, Vendido FROM random_table WHERE Produto != "Monitor"'

Execute_and_Commit(Query,arquivo,'copy_table')

#Utilizando este método, o AUTOINCREMENT não funciona.

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-17 19:19:52.785850', 'Vendido: 1']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 9', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: None', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 22', 'Produto: None', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 23', 'Produto: None', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 24', 'Produto: None', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 25', 'Produto: None', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 26', 'Produto: None', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 27', 'Produto: None', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 29', 'Produto: None', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 30', 'Produto: None', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 31', 'Produto: None', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 32', 'Produto: None', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 33', 'Produto: None', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 34', 'Produto: None', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 35', 'Produto: None', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 36', 'Produto: None', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 37', 'Produto: None', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']

In [ ]:
### NOT IMPLEMENTED ###

# SELECT INTO

# Cria uma nova tabela no banco de dados a partir de uma seleção.

Query = '''
        SELECT ID as ProdutoID, Valor, Data  
        INTO copy_table
        FROM random_table
        '''


#Execute_and_Commit(Query,arquivo,'sqlite_master')

**ÍNDICES**  
  
Índices são criados para colunas, com o propósito de acelerar a consulta aos dados.

In [ ]:
# CREATE INDEX

Query = 'CREATE INDEX idx_Data ON random_table(Data)'

Execute_and_Commit(Query,arquivo,'sqlite_master')

# O índice aparece como um objeto com a mesma hierarquia de uma tabela.

OperationalError: index idx_Data already exists

In [ ]:
# DROP INDEX

Query = 'DROP INDEX idx_Data'

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: old_table', 'tbl_name: old_table', 'rootpage: 5', 'sql: CREATE TABLE "old_table"(\n  ID INT,\n  Produto TEXT,\n  Valor REAL,\n  Data NUM,\n  Vendido NUM\n)']
['type: table', 'name: copy_table', 'tbl_name: copy_table', 'rootpage: 6', 'sql: CREATE TABLE copy_table (\n        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\n        Produto TEXT,\n        Valor REAL,\n        Data DATE,\n        Vendido BIT NOT NULL)']

In [ ]:
# VIEW
# Não há suporte para "REPLACE" no SQLite3

Query = '''
    CREATE VIEW view_example AS
    SELECT * FROM child_table JOIN random_table 
    ON child_table.ProdutoID = random_table.ID
    '''

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: old_table', 'tbl_name: old_table', 'rootpage: 5', 'sql: CREATE TABLE "old_table"(\n  ID INT,\n  Produto TEXT,\n  Valor REAL,\n  Data NUM,\n  Vendido NUM\n)']
['type: table', 'name: copy_table', 'tbl_name: copy_table', 'rootpage: 6', 'sql: CREATE TABLE copy_table (\n        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\n        Produto TEXT,\n        Valor REAL,\n        Data DATE,\n        Vendido BIT NOT NULL)']
['type: view', 'name: view_example', 'tbl_name: view_example', 'rootpage: 0', 'sql: CREATE VIEW view_example AS\n    SELECT * FROM child_table JOIN random_table \n    ON child_table.ProdutoID = random_table.ID']

In [ ]:
Query = '''
    DROP VIEW view_example
    '''

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: old_table', 'tbl_name: old_table', 'rootpage: 5', 'sql: CREATE TABLE "old_table"(\n  ID INT,\n  Produto TEXT,\n  Valor REAL,\n  Data NUM,\n  Vendido NUM\n)']
['type: table', 'name: copy_table', 'tbl_name: copy_table', 'rootpage: 6', 'sql: CREATE TABLE copy_table (\n        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\n        Produto TEXT,\n        Valor REAL,\n        Data DATE,\n        Vendido BIT NOT NULL)']

### Adição e Remoção
<a id='Adição'></a>

In [ ]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-17 19:19:52.785850', 'Vendido: 1']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 9', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [ ]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-17 19:19:52.785850', 'Vendido: 1']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 9', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [ ]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-17 19:19:52.785850', 'Vendido: 1']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 9', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-17 19:23:24.030086', 'Vendido: 0']

In [ ]:
# executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-17 19:19:52.785850', 'Vendido: 1']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 9', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-17 19:19:52.899780', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-17 19:19:52.938754', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-17 19:23:24.030086', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-17 19:23:25.576370', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-17 19:23:25.576370', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-17 19:23:25.576370', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-17 19:23:25.576370', 'Vendido: 1']

In [ ]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-17 19:23:24.030086', 'Vendido: 0']

In [ ]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Teclado', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-17 19:23:24.030086', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [ ]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 2', 'Produto: Cabos', 'Valor: 68.0', 'Data: 2022-09-17 19:19:52.740877', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-17 19:23:24.030086', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [ ]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 74.0)
('CPU', 96.0)
('Monitor', 71.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 96.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(10, 'CPU', 64.0, '2022-09-17 19:19:52.909773', 1)
(11, 'Teclado', 97.0, '2022-09-17 19:19:52.924764', 1)
(15, 'CPU', 65.0, '2022-09-17 19:19:52.952746', 1)
(17, 'Mouse', 85.0, '2022-09-17 19:19:52.966737', 1)
(18, 'Mouse', 78.0, '2022-09-17 19:19:52.977730', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)

In [ ]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)


('name', None, None, None, None, None, None)

('random_table',)

In [ ]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
# LIKE e Wildcards (coringas)
# LIKE, em filtros WHERE, é usado em substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    # '%' representa/substitui qualquer número de quaisquer caracteres.
    # '_' representa/substitui exatamente um caractere qualquer.

Query = "SELECT Produto, Valor FROM random_table WHERE Produto LIKE '_o%'"
# Filtra linhas cujos valores na coluna "Produto" têm a letra "o" como segunda letra

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Mouse', 62.0)
('Monitor', 74.0)
('Mouse', 63.0)
('Mouse', 91.0)
('Mouse', 89.0)
('Mouse', 85.0)
('Mouse', 78.0)
('Monitor', 71.0)

In [ ]:
# IN É usado em substituição ao sinal '=' em cláusulas que usam WHERE.
# É exigido quando vários valores são pssíveis, ou qundo uma declaração é dada como comparação.

Query = "SELECT * FROM random_table WHERE Produto IN (SELECT Produto FROM random_table)"
# Como NULL não é um valor, ele não pode ser usado como critério para filtrar os dados.

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Teclado', 94.0, '2022-09-17 19:19:52.735882', 0)
(2, 'Cabos', 68.0, '2022-09-17 19:19:52.740877', 0)
(4, 'Mouse', 62.0, '2022-09-17 19:19:52.848811', 0)
(5, 'Monitor', 74.0, '2022-09-17 19:19:52.858805', 1)
(6, 'Mouse', 63.0, '2022-09-17 19:19:52.869798', 0)
(7, 'CPU', 96.0, '2022-09-17 19:19:52.879792', 0)
(8, 'Mouse', 91.0, '2022-09-17 19:19:52.888786', 0)
(10, 'CPU', 64.0, '2022-09-17 19:19:52.909773', 1)
(11, 'Teclado', 97.0, '2022-09-17 19:19:52.924764', 1)
(12, 'Mouse', 89.0, '2022-09-17 19:19:52.932760', 0)
(14, 'Teclado', 96.0, '2022-09-17 19:19:52.943751', 0)
(15, 'CPU', 65.0, '2022-09-17 19:19:52.952746', 1)
(16, 'CPU', 77.0, '2022-09-17 19:19:52.958742', 0)
(17, 'Mouse', 85.0, '2022-09-17 19:19:52.966737', 1)
(18, 'Mouse', 78.0, '2022-09-17 19:19:52.977730', 1)
(19, 'Monitor', 71.0, '2022-09-17 19:19:52.991722', 1)
(20, 'Teclado', 79.0, '2022-09-17 19:19:52.999717', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-17 19:23:24.030086', 0)

In [ ]:
# Filtrando valores dentro de uma faixa.
# BETWEEN AND

Query = "SELECT * FROM random_table WHERE Valor BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

print()


Query = "SELECT * FROM random_table WHERE Valor NOT BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(2, 'Cabos', 68.0, '2022-09-17 19:19:52.740877', 0)
(5, 'Monitor', 74.0, '2022-09-17 19:19:52.858805', 1)
(12, 'Mouse', 89.0, '2022-09-17 19:19:52.932760', 0)
(16, 'CPU', 77.0, '2022-09-17 19:19:52.958742', 0)
(17, 'Mouse', 85.0, '2022-09-17 19:19:52.966737', 1)
(18, 'Mouse', 78.0, '2022-09-17 19:19:52.977730', 1)
(19, 'Monitor', 71.0, '2022-09-17 19:19:52.991722', 1)
(20, 'Teclado', 79.0, '2022-09-17 19:19:52.999717', 0)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Teclado', 94.0, '2022-09-17 19:19:52.735882', 0)
(4, 'Mouse', 62.0, '2022-09-17 19:19:52.848811', 0)
(6, 'Mouse', 63.0, '2022-09-17 19:19:52.869798', 0)
(7, 'CPU', 96.0, '2022-09-17 19:19:52.879792', 0)
(8, 'Mouse', 91.0, '2022-09-17 19:19:52.888786', 0)
(10, 'CPU', 64.0, '2022-09-17 19:19:52.909773', 1)
(11, 'Teclado', 97.0, '2022-09-17 19:19:52.924764', 1)
(14, 'Teclado', 96.0, '2022-09-17 19:19:52.943751', 0)
(15, 'CPU', 65.0, '2022-09-17 19:19:52.952746', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-17 19:23:24.030086', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
# EXISTS
# Testa se algum valor é encontrado em certa seleção. Retornará "True" desde que haja ao menos um valor

Query = 'select * from random_table WHERE EXISTS (select * from random_table where valor < 40)'

Execute_and_Show(Query,arquivo)
print('/n/n')

# NOT EXISTS
# Testa se algum valor é encontrado em certa seleção. Retornará "True" desde que  não haja qualquer registro retornado.

Query = 'select * from random_table WHERE NOT EXISTS (select * from random_table where valor < 40)'

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

/n/n
('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Teclado', 94.0, '2022-09-17 19:19:52.735882', 0)
(2, 'Cabos', 68.0, '2022-09-17 19:19:52.740877', 0)
(4, 'Mouse', 62.0, '2022-09-17 19:19:52.848811', 0)
(5, 'Monitor', 74.0, '2022-09-17 19:19:52.858805', 1)
(6, 'Mouse', 63.0, '2022-09-17 19:19:52.869798', 0)
(7, 'CPU', 96.0, '2022-09-17 19:19:52.879792', 0)
(8, 'Mouse', 91.0, '2022-09-17 19:19:52.888786', 0)
(10, 'CPU', 64.0, '2022-09-17 19:19:52.909773', 1)
(11, 'Teclado', 97.0, '2022-09-17 19:19:52.924764', 1)
(12, 'Mouse', 89.0, '2022-09-17 19:19:52.932760', 0)
(14, 'Teclado', 96.0, '2022-09-17 19:19:52.943751', 0)
(15, 'CPU', 65.0, '2022-09-17 19:19:52.952746', 1)
(16, 'CPU', 77.0, '2022-09-17 19:19:52.958742', 0)
(17, 'Mouse', 85.0, '2022-09-17 19:19:52.966737', 1)
(18, 'Mouse', 78.0, '2022-09-17 19:19:52.977730', 1)
(19, 'Monitor', 71.0, '2022-09-17 19:19:52.991722', 1)
(20, 'Teclado', 79.0, '2022-09-17 19:19:52.999717', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-17 19:23:24.030086', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
### BUG

# ANY e ALL
# procedem um operador lógico e comportam uma query de seleção

Query = 'SELECT ID from random_table where ID = ANY (SELECT ProdutoID FROM child_table WHERE Desconto < 10)'

#Execute_and_Show(Query,arquivo)


Query = 'SELECT * from random_table where ID = ALL (SELECT ProdutoID FROM child_table WHERE Desconto < 10)'

#Execute_and_Show(Query,arquivo)

Case

In [ ]:
# [???] Está mostrando apenas um rgistro quando comparado com a média.
# Pode ser utilizado para substituir colunas, preenchendo uma seleção.
# CASE END AS

Query = '''
SELECT Produto, Valor, CASE 
    WHEN Valor < 80 THEN "Barato" 
    WHEN Valor = 80 THEN "Na Média"
    ELSE "Caro" 
END AS Avaliação
FROM random_table
'''

Execute_and_Show(Query,arquivo)

# Pode ser usado para cambiar entre qualquer variável em verificação lógica também.

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Avaliação', None, None, None, None, None, None)

('Teclado', 94.0, 'Caro')
('Cabos', 68.0, 'Barato')
('Mouse', 62.0, 'Barato')
('Monitor', 74.0, 'Barato')
('Mouse', 63.0, 'Barato')
('CPU', 96.0, 'Caro')
('Mouse', 91.0, 'Caro')
('CPU', 64.0, 'Barato')
('Teclado', 97.0, 'Caro')
('Mouse', 89.0, 'Caro')
('Teclado', 96.0, 'Caro')
('CPU', 65.0, 'Barato')
('CPU', 77.0, 'Barato')
('Mouse', 85.0, 'Caro')
('Mouse', 78.0, 'Barato')
('Monitor', 71.0, 'Barato')
('Teclado', 79.0, 'Barato')
('CPU', 91.0, 'Caro')
('CPU', 120.0, 'Caro')
('Câmera', 66.0, 'Barato')
(None, 120.0, 'Caro')

In [ ]:
# IFNULL
# Operar com um valor nulo retornará um valor nulo.
# Utilizando a função IFNULL, o segundo valor dado é usado caso o primeiro seja NULL.
# Utilizando COALESCE, o primeiro valor listado não-nulo é utilizado.

Query = 'SELECT Produto, Valor-ID AS "Valor Subtraído" FROM copy_table'
Execute_and_Show(Query,arquivo)


Query = 'SELECT Produto, Valor-IFNULL(ID, 0) AS "Valor Subtraído" FROM copy_table'
Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor Subtraído', None, None, None, None, None, None)

('Teclado', 93.0)
('Teclado', 66.0)
('Monitor', 47.0)
('Mouse', 58.0)
('Monitor', 69.0)
('Mouse', 57.0)
('CPU', 89.0)
('Mouse', 83.0)
('CPU', 46.0)
('CPU', 54.0)
('Teclado', 86.0)
('Mouse', 77.0)
('Teclado', 38.0)
('Teclado', 82.0)
('CPU', 50.0)
('CPU', 61.0)
('Mouse', 68.0)
('Mouse', 60.0)
('Monitor', 52.0)
('Teclado', 59.0)
(None, 73.0)
(None, 46.0)
(None, 39.0)
(None, 39.0)
(None, 71.0)
(None, 65.0)
(None, 28.0)
(None, 36.0)
(None, 68.0)
(None, 59.0)
(None, 20.0)
(None, 64.0)
(None, 32.0)
(None, 43.0)
(None, 50.0)
(None, 42.0)
(None, 42.0)
('Produto', None, None, None, None, None, None)
('Valor Subtraído', None, None, None, None, None, None)

('Teclado', 93.0)
('Teclado', 66.0)
('Monitor', 47.0)
('Mouse', 58.0)
('Monitor', 69.0)
('Mouse', 57.0)
('CPU', 89.0)
('Mouse', 83.0)
('CPU', 46.0)
('CPU', 54.0)
('Teclado', 86.0)
('Mouse', 77.0)
('Teclado', 38.0)
('Teclado', 82.0)
('CPU', 50.0)
('CPU', 61.0)
('Mouse', 68.0)
('Mouse', 60.0)
('Monitor', 52.0)
('Teclado', 59.0)
(None, 73.0)
(None, 46.0)
(None, 39.0)
(None, 39.0)
(None, 71.0)
(None, 65.0)
(None, 28.0)
(None, 36.0)
(None, 68.0)
(None, 59.0)
(None, 20.0)
(None, 64.0)
(None, 32.0)
(None, 43.0)
(None, 50.0)
(None, 42.0)
(None, 42.0)

### Valores Únicos / Agregadores

In [ ]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (DISTINCT Produto)', None, None, None, None, None, None)

(6,)

('COUNT (*)', None, None, None, None, None, None)

(10,)

In [ ]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('MIN (Valor)', None, None, None, None, None, None)

(62.0,)

In [ ]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('AVG (Valor)', None, None, None, None, None, None)

(83.14285714285714,)

In [ ]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('SUM (Valor)', None, None, None, None, None, None)

(1746.0,)

## Sobre o SQLite3

Conexão com a memória.

In [ ]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [ ]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-17 19:19:52.735882', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-17 19:19:52.848811', 'Vendido: 0']
['ID: 5', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-17 19:19:52.858805', 'Vendido: 1']
['ID: 6', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-17 19:19:52.869798', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.879792', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-17 19:19:52.888786', 'Vendido: 0']
['ID: 10', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-17 19:19:52.909773', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-17 19:19:52.924764', 'Vendido: 1']
['ID: 12', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-17 19:19:52.932760', 'Vendido: 0']
['ID: 14', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-17 19:19:52.943751', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-17 19:19:52.952746', 'Vendido: 1']
['ID: 16', 'Produto: CPU', 'Valor: 77.0', 'Data: 2022-09-17 19:19:52.958742', 'Vendido: 0']
['ID: 17', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-17 19:19:52.966737', 'Vendido: 1']
['ID: 18', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-17 19:19:52.977730', 'Vendido: 1']
['ID: 19', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-17 19:19:52.991722', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 79.0', 'Data: 2022-09-17 19:19:52.999717', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

Características do comando .fetchall()

In [ ]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

Empty Fetched Data: []
Stored Fetched Data: [(1, 'Teclado', 94.0, '2022-09-17 19:19:52.735882', 0), (4, 'Mouse', 62.0, '2022-09-17 19:19:52.848811', 0), (5, 'Monitor', 74.0, '2022-09-17 19:19:52.858805', 1)]

Não há suporte para "CREATE PROCEDURE GO | EXEC".  
Um backup pode ser feito como segue:

In [ ]:
# Backup criando dump no formato .sql
# A Query para criar backup não tem suporte no SQLite3
# Utiliza-se o pacote os

con = sqlite3.connect(arquivo)
with open(r'../ArquivosParalelos/dump.sql', 'w') as f:
    for line in con.iterdump():     # interdump chama os dados de dump da conexão.
        f.write('%s\n' % line)
con.close()

Não é possível executar várias queries com um mesmo execute(). É preciso iterar entre as queries

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.