# Guia de Comandos SQL Aplicados em Python

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 93, datetime.datetime(2022, 9, 3, 18, 57, 32, 153261))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 56, datetime.datetime(2022, 9, 3, 18, 57, 32, 160257))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 3, 18, 57, 32, 183244))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 52, datetime.datetime(2022, 9, 3, 18, 57, 32, 225216))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 94, datetime.datetime(2022, 9, 3, 18, 57, 32, 240207))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 65, datetime.datetime(2022, 9, 3, 18, 57, 32, 263195))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 69, datetime.datetime(2022, 9, 3, 18, 57, 32, 299171))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 96, datetime.datetime(2022, 9, 3, 18, 57, 32, 325162))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 76, datetime.datetime(2022, 9, 3, 18, 57, 32, 333151))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 91, datetime.datetime(2022, 9, 3, 18, 57, 32, 337147))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 58, datetime.datetime(2022, 9, 3, 18, 57, 32, 344143))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 63, datetime.datetime(2022, 9, 3, 18, 57, 32, 363133))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 75, datetime.datetime(2022, 9, 3, 18, 57, 32, 382119))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 99, datetime.datetime(2022, 9, 3, 18, 57, 32, 386712))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 76, datetime.datetime(2022, 9, 3, 18, 57, 32, 394707))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 79, datetime.datetime(2022, 9, 3, 18, 57, 32, 399482))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 59, datetime.datetime(2022, 9, 3, 18, 57, 32, 403483))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 69, datetime.datetime(2022, 9, 3, 18, 57, 32, 408367))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 67, datetime.datetime(2022, 9, 3, 18, 57, 32, 412664))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 76, datetime.datetime(2022, 9, 3, 18, 57, 32, 416891))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 93.0', 'Data: 2022-09-03 18:57:32.153261']
['ID: 2', 'Produto: Monitor', 'Valor: 56.0', 'Data: 2022-09-03 18:57:32.160257']
['ID: 3', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 18:57:32.183244']
['ID: 4', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-03 18:57:32.225216']
['ID: 5', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-03 18:57:32.240207']
['ID: 6', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-03 18:57:32.263195']
['ID: 7', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.299171']
['ID: 8', 'Produto: Monitor', 'Valor: 96.0', 'Data: 2022-09-03 18:57:32.325162']
['ID: 9', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.333151']
['ID: 10', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-03 18:57:32.337147']
['ID: 11', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-03 18:57:32.344143']
['ID: 12', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-03 18:57:32.363133']
['ID: 13', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-03 18:57:32.382119']
['ID: 14', 'Produto: Teclado', 'Valor: 99.0', 'Data: 2022-09-03 18:57:32.386712']
['ID: 15', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.394707']
['ID: 16', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 18:57:32.399482']
['ID: 17', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 18:57:32.403483']
['ID: 18', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.408367']
['ID: 19', 'Produto: Mouse', 'Valor: 67.0', 'Data: 2022-09-03 18:57:32.412664']
['ID: 20', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.416891']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()

## Sobre o SQLite3

Conexão com a memória.

In [11]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

## Queries

### Demonstração

In [12]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'Mouse', 93.0, '2022-09-03 18:57:32.153261')
(2, 'Monitor', 56.0, '2022-09-03 18:57:32.160257')
(3, 'CPU', 73.0, '2022-09-03 18:57:32.183244')
(4, 'Monitor', 52.0, '2022-09-03 18:57:32.225216')
(5, 'CPU', 94.0, '2022-09-03 18:57:32.240207')
(6, 'Monitor', 65.0, '2022-09-03 18:57:32.263195')
(7, 'Mouse', 69.0, '2022-09-03 18:57:32.299171')
(8, 'Monitor', 96.0, '2022-09-03 18:57:32.325162')
(9, 'Teclado', 76.0, '2022-09-03 18:57:32.333151')
(10, 'Monitor', 91.0, '2022-09-03 18:57:32.337147')
(11, 'Monitor', 58.0, '2022-09-03 18:57:32.344143')
(12, 'Mouse', 63.0, '2022-09-03 18:57:32.363133')
(13, 'Mouse', 75.0, '2022-09-03 18:57:32.382119')
(14, 'Teclado', 99.0, '2022-09-03 18:57:32.386712')
(15, 'Mouse', 76.0, '2022-09-03 18:57:32.394707')
(16, 'CPU', 79.0, '2022-09-03 18:57:32.399482')
(17, 'CPU', 59.0, '2022-09-03 18:57:32.403483')
(18, 'Monitor', 69.0, '2022-09-03 18:57:32.408367')
(19, 'Mouse', 67.0, '2022-09-03 18:57:32.412664')
(20, 'Teclado', 76.0, '2022-09-03 18:57:32.416891')

### Criação

### Adição

In [13]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo)

In [14]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo)

In [15]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

In [16]:
showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 93.0', 'Data: 2022-09-03 18:57:32.153261']
['ID: 2', 'Produto: Monitor', 'Valor: 56.0', 'Data: 2022-09-03 18:57:32.160257']
['ID: 3', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 18:57:32.183244']
['ID: 4', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-03 18:57:32.225216']
['ID: 5', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-03 18:57:32.240207']
['ID: 6', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-03 18:57:32.263195']
['ID: 7', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.299171']
['ID: 8', 'Produto: Monitor', 'Valor: 96.0', 'Data: 2022-09-03 18:57:32.325162']
['ID: 9', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.333151']
['ID: 10', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-03 18:57:32.337147']
['ID: 11', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-03 18:57:32.344143']
['ID: 12', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-03 18:57:32.363133']
['ID: 13', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-03 18:57:32.382119']
['ID: 14', 'Produto: Teclado', 'Valor: 99.0', 'Data: 2022-09-03 18:57:32.386712']
['ID: 15', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.394707']
['ID: 16', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 18:57:32.399482']
['ID: 17', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 18:57:32.403483']
['ID: 18', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.408367']
['ID: 19', 'Produto: Mouse', 'Valor: 67.0', 'Data: 2022-09-03 18:57:32.412664']
['ID: 20', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.416891']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 18:57:33.165034']

### Alteração

In [17]:
Query = "UPDATE random_table SET produto = 'Cabos' where id = 2"

Execute_and_Commit(Query,arquivo)

In [18]:
showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 93.0', 'Data: 2022-09-03 18:57:32.153261']
['ID: 2', 'Produto: Cabos', 'Valor: 56.0', 'Data: 2022-09-03 18:57:32.160257']
['ID: 3', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 18:57:32.183244']
['ID: 4', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-03 18:57:32.225216']
['ID: 5', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-03 18:57:32.240207']
['ID: 6', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-03 18:57:32.263195']
['ID: 7', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.299171']
['ID: 8', 'Produto: Monitor', 'Valor: 96.0', 'Data: 2022-09-03 18:57:32.325162']
['ID: 9', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.333151']
['ID: 10', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-03 18:57:32.337147']
['ID: 11', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-03 18:57:32.344143']
['ID: 12', 'Produto: Mouse', 'Valor: 63.0', 'Data: 2022-09-03 18:57:32.363133']
['ID: 13', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-03 18:57:32.382119']
['ID: 14', 'Produto: Teclado', 'Valor: 99.0', 'Data: 2022-09-03 18:57:32.386712']
['ID: 15', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.394707']
['ID: 16', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 18:57:32.399482']
['ID: 17', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 18:57:32.403483']
['ID: 18', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-03 18:57:32.408367']
['ID: 19', 'Produto: Mouse', 'Valor: 67.0', 'Data: 2022-09-03 18:57:32.412664']
['ID: 20', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 18:57:32.416891']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 18:57:33.165034']