# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 78, datetime.datetime(2022, 9, 6, 17, 41, 5, 349922), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 60, datetime.datetime(2022, 9, 6, 17, 41, 5, 358916), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 50, datetime.datetime(2022, 9, 6, 17, 41, 5, 394894), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 96, datetime.datetime(2022, 9, 6, 17, 41, 5, 444864), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 51, datetime.datetime(2022, 9, 6, 17, 41, 5, 459853), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 89, datetime.datetime(2022, 9, 6, 17, 41, 5, 483838), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 53, datetime.datetime(2022, 9, 6, 17, 41, 5, 513821), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 73, datetime.datetime(2022, 9, 6, 17, 41, 5, 529811), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 83, datetime.datetime(2022, 9, 6, 17, 41, 5, 536806), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 6, 17, 41, 5, 545810), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 64, datetime.datetime(2022, 9, 6, 17, 41, 5, 556794), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 71, datetime.datetime(2022, 9, 6, 17, 41, 5, 587774), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 6, 17, 41, 5, 598768), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 71, datetime.datetime(2022, 9, 6, 17, 41, 5, 604765), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 71, datetime.datetime(2022, 9, 6, 17, 41, 5, 614757), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 54, datetime.datetime(2022, 9, 6, 17, 41, 5, 620753), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 92, datetime.datetime(2022, 9, 6, 17, 41, 5, 626751), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 53, datetime.datetime(2022, 9, 6, 17, 41, 5, 635744), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 91, datetime.datetime(2022, 9, 6, 17, 41, 5, 641741), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 79, datetime.datetime(2022, 9, 6, 17, 41, 5, 652734), 0)

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-06 17:41:05.349922', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 17:41:05.358916', 'Vendido: 1']
['ID: 3', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-06 17:41:05.394894', 'Vendido: 0']
['ID: 4', 'Produto: Teclado', 'Valor: 96.0', 'Data: 2022-09-06 17:41:05.444864', 'Vendido: 1']
['ID: 5', 'Produto: Monitor', 'Valor: 51.0', 'Data: 2022-09-06 17:41:05.459853', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-06 17:41:05.483838', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 53.0', 'Data: 2022-09-06 17:41:05.513821', 'Vendido: 0']
['ID: 8', 'Produto: Monitor', 'Valor: 73.0', 'Data: 2022-09-06 17:41:05.529811', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 83.0', 'Data: 2022-09-06 17:41:05.536806', 'Vendido: 1']
['ID: 10', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-06 17:41:05.545810', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 17:41:05.556794', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 71.0', 'Data: 2022-09-06 17:41:05.587774', 'Vendido: 1']
['ID: 13', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-06 17:41:05.598768', 'Vendido: 1']
['ID: 14', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 17:41:05.604765', 'Vendido: 1']
['ID: 15', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 17:41:05.614757', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 54.0', 'Data: 2022-09-06 17:41:05.620753', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 92.0', 'Data: 2022-09-06 17:41:05.626751', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 53.0', 'Data: 2022-09-06 17:41:05.635744', 'Vendido: 1']
['ID: 19', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 17:41:05.641741', 'Vendido: 1']
['ID: 20', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-06 17:41:05.652734', 'Vendido: 0']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 78.0, '2022-09-06 17:41:05.349922', 0)
(2, 'CPU', 60.0, '2022-09-06 17:41:05.358916', 1)
(3, 'Monitor', 50.0, '2022-09-06 17:41:05.394894', 0)
(4, 'Teclado', 96.0, '2022-09-06 17:41:05.444864', 1)
(5, 'Monitor', 51.0, '2022-09-06 17:41:05.459853', 1)
(6, 'CPU', 89.0, '2022-09-06 17:41:05.483838', 0)
(7, 'Teclado', 53.0, '2022-09-06 17:41:05.513821', 0)
(8, 'Monitor', 73.0, '2022-09-06 17:41:05.529811', 1)
(9, 'Monitor', 83.0, '2022-09-06 17:41:05.536806', 1)
(10, 'CPU', 72.0, '2022-09-06 17:41:05.545810', 0)
(11, 'Mouse', 64.0, '2022-09-06 17:41:05.556794', 1)
(12, 'Teclado', 71.0, '2022-09-06 17:41:05.587774', 1)
(13, 'CPU', 72.0, '2022-09-06 17:41:05.598768', 1)
(14, 'Mouse', 71.0, '2022-09-06 17:41:05.604765', 1)
(15, 'Mouse', 71.0, '2022-09-06 17:41:05.614757', 0)
(16, 'Teclado', 54.0, '2022-09-06 17:41:05.620753', 1)
(17, 'Mouse', 92.0, '2022-09-06 17:41:05.626751', 0)
(18, 'CPU', 53.0, '2022-09-06 17:41:05.635744', 1)
(19, 'Teclado', 91.0, '2022-09-06 17:41:05.641741', 1)
(20, 'Monitor', 79.0, '2022-09-06 17:41:05.652734', 0)

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 78.0)
('CPU', 60.0)
('Monitor', 50.0)
('Teclado', 96.0)
('Monitor', 51.0)
('CPU', 89.0)
('Teclado', 53.0)
('Monitor', 73.0)
('Monitor', 83.0)
('CPU', 72.0)
('Mouse', 64.0)
('Teclado', 71.0)
('CPU', 72.0)
('Mouse', 71.0)
('Mouse', 71.0)
('Teclado', 54.0)
('Mouse', 92.0)
('CPU', 53.0)
('Teclado', 91.0)
('Monitor', 79.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 78.0)
('CPU', 60.0)
('Monitor', 50.0)
('Monitor', 51.0)
('CPU', 89.0)
('Monitor', 73.0)
('Monitor', 83.0)
('CPU', 72.0)
('CPU', 72.0)
('CPU', 53.0)
('Monitor', 79.0)

In [14]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)

('random_table',)
('sqlite_sequence',)

In [15]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

('CPU', 0)
('CPU', 1)
('Monitor', 0)
('Teclado', 1)
('Monitor', 1)
('Teclado', 0)
('Mouse', 1)
('Mouse', 0)

In [16]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 78.0, '2022-09-06 17:41:05.349922', 0)
(2, 'CPU', 60.0, '2022-09-06 17:41:05.358916', 1)
(6, 'CPU', 89.0, '2022-09-06 17:41:05.483838', 0)
(10, 'CPU', 72.0, '2022-09-06 17:41:05.545810', 0)
(13, 'CPU', 72.0, '2022-09-06 17:41:05.598768', 1)
(18, 'CPU', 53.0, '2022-09-06 17:41:05.635744', 1)
(3, 'Monitor', 50.0, '2022-09-06 17:41:05.394894', 0)
(5, 'Monitor', 51.0, '2022-09-06 17:41:05.459853', 1)
(8, 'Monitor', 73.0, '2022-09-06 17:41:05.529811', 1)
(9, 'Monitor', 83.0, '2022-09-06 17:41:05.536806', 1)
(20, 'Monitor', 79.0, '2022-09-06 17:41:05.652734', 0)
(11, 'Mouse', 64.0, '2022-09-06 17:41:05.556794', 1)
(14, 'Mouse', 71.0, '2022-09-06 17:41:05.604765', 1)
(15, 'Mouse', 71.0, '2022-09-06 17:41:05.614757', 0)
(17, 'Mouse', 92.0, '2022-09-06 17:41:05.626751', 0)
(4, 'Teclado', 96.0, '2022-09-06 17:41:05.444864', 1)
(7, 'Teclado', 53.0, '2022-09-06 17:41:05.513821', 0)
(12, 'Teclado', 71.0, '2022-09-06 17:41:05.587774', 1)
(16, 'Teclado', 54.0, '2022-09-06 17:41:05.620753', 1)
(19, 'Teclado', 91.0, '2022-09-06 17:41:05.641741', 1)

In [17]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)

('Teclado',)
('Mouse',)
('Monitor',)
('CPU',)

In [18]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 78.0, '2022-09-06 17:41:05.349922', 0)
(2, 'CPU', 60.0, '2022-09-06 17:41:05.358916', 1)
(3, 'Monitor', 50.0, '2022-09-06 17:41:05.394894', 0)
(4, 'Teclado', 96.0, '2022-09-06 17:41:05.444864', 1)
(5, 'Monitor', 51.0, '2022-09-06 17:41:05.459853', 1)
(6, 'CPU', 89.0, '2022-09-06 17:41:05.483838', 0)

### Criação e Queda
<a id='Criação'></a>

In [ ]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 4', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']

### Adição e Remoção
<a id='Adição'></a>

In [ ]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-06 15:39:46.858231', 'Vendido: 1']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 16', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-06 15:39:46.993147', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [ ]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-06 15:39:46.858231', 'Vendido: 1']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 16', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-06 15:39:46.993147', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [ ]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-06 15:39:46.858231', 'Vendido: 1']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 16', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-06 15:39:46.993147', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 15:39:50.365444', 'Vendido: 0']

In [ ]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-06 15:39:46.858231', 'Vendido: 1']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 16', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-06 15:39:46.993147', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 15:39:50.365444', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-06 15:39:50.559324', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-06 15:39:50.559324', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-06 15:39:50.559324', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-06 15:39:50.559324', 'Vendido: 1']

In [ ]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 15:39:50.365444', 'Vendido: 0']

In [ ]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 29', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [ ]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 2', 'Produto: Cabos', 'Valor: 69.0', 'Data: 2022-09-06 15:39:46.811259', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 15:39:50.365444', 'Vendido: 0']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [ ]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 65.0)
('CPU', 93.0)
('Monitor', 82.0)
('Monitor', 66.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 93.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
(1, 'Mouse', 71.0, '2022-09-06 15:39:46.805269', 1)
(8, 'Mouse', 80.0, '2022-09-06 15:39:46.876219', 1)
(10, 'Teclado', 76.0, '2022-09-06 15:39:46.909199', 1)
(11, 'Teclado', 98.0, '2022-09-06 15:39:46.918193', 1)
(15, 'CPU', 62.0, '2022-09-06 15:39:46.981156', 1)
(18, 'Teclado', 94.0, '2022-09-06 15:39:47.011137', 1)
(19, 'Mouse', 87.0, '2022-09-06 15:39:47.020138', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)

In [ ]:
# Variável SE

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)
(29, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)

('name', None, None, None, None, None, None)
('random_table',)

In [ ]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)
(29, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
# LIKE e Wildcards (coringas)
# LIKE é usado emm substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    #

### Valores Únicos

In [ ]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (DISTINCT Produto)', None, None, None, None, None, None)
(4,)

('COUNT (*)', None, None, None, None, None, None)
(8,)

In [28]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('MIN (Valor)', None, None, None, None, None, None)

(50.0,)

In [29]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('AVG (Valor)', None, None, None, None, None, None)

(71.15,)

In [30]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('SUM (Valor)', None, None, None, None, None, None)

(1423.0,)

## Sobre o SQLite3

Conexão com a memória.

In [ ]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [ ]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-06 15:39:46.805269', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.821255', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 15:39:46.839249', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 88.0', 'Data: 2022-09-06 15:39:46.851235', 'Vendido: 0']
['ID: 7', 'Produto: CPU', 'Valor: 93.0', 'Data: 2022-09-06 15:39:46.868224', 'Vendido: 0']
['ID: 8', 'Produto: Mouse', 'Valor: 80.0', 'Data: 2022-09-06 15:39:46.876219', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.892208', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-06 15:39:46.909199', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 98.0', 'Data: 2022-09-06 15:39:46.918193', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-06 15:39:46.926188', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-06 15:39:46.954172', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-06 15:39:46.972162', 'Vendido: 0']
['ID: 15', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-06 15:39:46.981156', 'Vendido: 1']
['ID: 17', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-06 15:39:47.002143', 'Vendido: 0']
['ID: 18', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-06 15:39:47.011137', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-06 15:39:47.020138', 'Vendido: 1']
['ID: 20', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-06 15:39:47.029126', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

Características do comando .fetchall()

In [ ]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

Empty Fetched Data: []
Stored Fetched Data: [(1, 'Mouse', 71.0, '2022-09-06 15:39:46.805269', 1), (3, 'Mouse', 76.0, '2022-09-06 15:39:46.821255', 0), (4, 'Monitor', 65.0, '2022-09-06 15:39:46.839249', 1)]

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.