# Guia de Comandos SQL Aplicados em Python

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 55, datetime.datetime(2022, 9, 3, 16, 26, 28, 444472))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 75, datetime.datetime(2022, 9, 3, 16, 26, 28, 451474))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 59, datetime.datetime(2022, 9, 3, 16, 26, 28, 457466))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 87, datetime.datetime(2022, 9, 3, 16, 26, 28, 462462))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 67, datetime.datetime(2022, 9, 3, 16, 26, 28, 469458))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 82, datetime.datetime(2022, 9, 3, 16, 26, 28, 478452))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 78, datetime.datetime(2022, 9, 3, 16, 26, 28, 489446))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 57, datetime.datetime(2022, 9, 3, 16, 26, 28, 494443))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 74, datetime.datetime(2022, 9, 3, 16, 26, 28, 502438))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 67, datetime.datetime(2022, 9, 3, 16, 26, 28, 507434))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 74, datetime.datetime(2022, 9, 3, 16, 26, 28, 511432))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 78, datetime.datetime(2022, 9, 3, 16, 26, 28, 517429))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 76, datetime.datetime(2022, 9, 3, 16, 26, 28, 524424))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 83, datetime.datetime(2022, 9, 3, 16, 26, 28, 531420))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 97, datetime.datetime(2022, 9, 3, 16, 26, 28, 538414))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 87, datetime.datetime(2022, 9, 3, 16, 26, 28, 544412))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 71, datetime.datetime(2022, 9, 3, 16, 26, 28, 549408))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 54, datetime.datetime(2022, 9, 3, 16, 26, 28, 555404))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 95, datetime.datetime(2022, 9, 3, 16, 26, 28, 560402))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 91, datetime.datetime(2022, 9, 3, 16, 26, 28, 564400))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 55.0', 'Data: 2022-09-03 16:26:28.444472']
['ID: 2', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-03 16:26:28.451474']
['ID: 3', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-03 16:26:28.457466']
['ID: 4', 'Produto: Monitor', 'Valor: 87.0', 'Data: 2022-09-03 16:26:28.462462']
['ID: 5', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-03 16:26:28.469458']
['ID: 6', 'Produto: CPU', 'Valor: 82.0', 'Data: 2022-09-03 16:26:28.478452']
['ID: 7', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-03 16:26:28.489446']
['ID: 8', 'Produto: Mouse', 'Valor: 57.0', 'Data: 2022-09-03 16:26:28.494443']
['ID: 9', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-03 16:26:28.502438']
['ID: 10', 'Produto: Teclado', 'Valor: 67.0', 'Data: 2022-09-03 16:26:28.507434']
['ID: 11', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-03 16:26:28.511432']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-03 16:26:28.517429']
['ID: 13', 'Produto: Teclado', 'Valor: 76.0', 'Data: 2022-09-03 16:26:28.524424']
['ID: 14', 'Produto: Monitor', 'Valor: 83.0', 'Data: 2022-09-03 16:26:28.531420']
['ID: 15', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-03 16:26:28.538414']
['ID: 16', 'Produto: CPU', 'Valor: 87.0', 'Data: 2022-09-03 16:26:28.544412']
['ID: 17', 'Produto: Monitor', 'Valor: 71.0', 'Data: 2022-09-03 16:26:28.549408']
['ID: 18', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-03 16:26:28.555404']
['ID: 19', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 16:26:28.560402']
['ID: 20', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)

## Sobre o SQLite3

Conexão com a memória.

In [10]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

## Queries

In [11]:
conn = sqlite3.connect(r'../ArquivosParalelos/random_tables.db')
c = conn.cursor()

In [13]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'CPU', 55.0, '2022-09-03 16:26:28.444472')
(2, 'Monitor', 75.0, '2022-09-03 16:26:28.451474')
(3, 'Teclado', 59.0, '2022-09-03 16:26:28.457466')
(4, 'Monitor', 87.0, '2022-09-03 16:26:28.462462')
(5, 'Monitor', 67.0, '2022-09-03 16:26:28.469458')
(6, 'CPU', 82.0, '2022-09-03 16:26:28.478452')
(7, 'CPU', 78.0, '2022-09-03 16:26:28.489446')
(8, 'Mouse', 57.0, '2022-09-03 16:26:28.494443')
(9, 'Monitor', 74.0, '2022-09-03 16:26:28.502438')
(10, 'Teclado', 67.0, '2022-09-03 16:26:28.507434')
(11, 'Mouse', 74.0, '2022-09-03 16:26:28.511432')
(12, 'CPU', 78.0, '2022-09-03 16:26:28.517429')
(13, 'Teclado', 76.0, '2022-09-03 16:26:28.524424')
(14, 'Monitor', 83.0, '2022-09-03 16:26:28.531420')
(15, 'Monitor', 97.0, '2022-09-03 16:26:28.538414')
(16, 'CPU', 87.0, '2022-09-03 16:26:28.544412')
(17, 'Monitor', 71.0, '2022-09-03 16:26:28.549408')
(18, 'CPU', 54.0, '2022-09-03 16:26:28.555404')
(19, 'CPU', 95.0, '2022-09-03 16:26:28.560402')
(20, 'CPU', 91.0, '2022-09-03 16:26:28.564400')