# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 57, datetime.datetime(2022, 9, 4, 16, 49, 14, 751662))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 76, datetime.datetime(2022, 9, 4, 16, 49, 14, 757658))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 89, datetime.datetime(2022, 9, 4, 16, 49, 14, 763654))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 97, datetime.datetime(2022, 9, 4, 16, 49, 14, 769650))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 90, datetime.datetime(2022, 9, 4, 16, 49, 14, 776647))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 74, datetime.datetime(2022, 9, 4, 16, 49, 14, 782643))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 97, datetime.datetime(2022, 9, 4, 16, 49, 14, 787639))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 80, datetime.datetime(2022, 9, 4, 16, 49, 14, 793636))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 88, datetime.datetime(2022, 9, 4, 16, 49, 14, 801631))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 69, datetime.datetime(2022, 9, 4, 16, 49, 14, 812624))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 70, datetime.datetime(2022, 9, 4, 16, 49, 14, 819620))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 86, datetime.datetime(2022, 9, 4, 16, 49, 14, 829616))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 72, datetime.datetime(2022, 9, 4, 16, 49, 14, 835610))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 83, datetime.datetime(2022, 9, 4, 16, 49, 14, 840606))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 58, datetime.datetime(2022, 9, 4, 16, 49, 14, 848602))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 81, datetime.datetime(2022, 9, 4, 16, 49, 14, 853599))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 70, datetime.datetime(2022, 9, 4, 16, 49, 14, 860603))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 72, datetime.datetime(2022, 9, 4, 16, 49, 14, 869591))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 50, datetime.datetime(2022, 9, 4, 16, 49, 14, 876593))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 74, datetime.datetime(2022, 9, 4, 16, 49, 14, 881582))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-04 16:49:14.751662']
['ID: 2', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-04 16:49:14.757658']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 15', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-04 16:49:14.848602']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 19', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-04 16:49:14.876593']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'Monitor', 57.0, '2022-09-04 16:49:14.751662')
(2, 'Monitor', 76.0, '2022-09-04 16:49:14.757658')
(3, 'CPU', 89.0, '2022-09-04 16:49:14.763654')
(4, 'Monitor', 97.0, '2022-09-04 16:49:14.769650')
(5, 'CPU', 90.0, '2022-09-04 16:49:14.776647')
(6, 'Mouse', 74.0, '2022-09-04 16:49:14.782643')
(7, 'Teclado', 97.0, '2022-09-04 16:49:14.787639')
(8, 'CPU', 80.0, '2022-09-04 16:49:14.793636')
(9, 'Mouse', 88.0, '2022-09-04 16:49:14.801631')
(10, 'Monitor', 69.0, '2022-09-04 16:49:14.812624')
(11, 'Monitor', 70.0, '2022-09-04 16:49:14.819620')
(12, 'Mouse', 86.0, '2022-09-04 16:49:14.829616')
(13, 'Teclado', 72.0, '2022-09-04 16:49:14.835610')
(14, 'Teclado', 83.0, '2022-09-04 16:49:14.840606')
(15, 'Mouse', 58.0, '2022-09-04 16:49:14.848602')
(16, 'Monitor', 81.0, '2022-09-04 16:49:14.853599')
(17, 'Mouse', 70.0, '2022-09-04 16:49:14.860603')
(18, 'Monitor', 72.0, '2022-09-04 16:49:14.869591')
(19, 'CPU', 50.0, '2022-09-04 16:49:14.876593')
(20, 'CPU', 74.0, '2022-09-04 16:49:14.881582')

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 57.0)
('Monitor', 76.0)
('CPU', 89.0)
('Monitor', 97.0)
('CPU', 90.0)
('Mouse', 74.0)
('Teclado', 97.0)
('CPU', 80.0)
('Mouse', 88.0)
('Monitor', 69.0)
('Monitor', 70.0)
('Mouse', 86.0)
('Teclado', 72.0)
('Teclado', 83.0)
('Mouse', 58.0)
('Monitor', 81.0)
('Mouse', 70.0)
('Monitor', 72.0)
('CPU', 50.0)
('CPU', 74.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 57.0)
('Monitor', 76.0)
('CPU', 89.0)
('Monitor', 97.0)
('CPU', 90.0)
('CPU', 80.0)
('Monitor', 69.0)
('Monitor', 70.0)
('Monitor', 81.0)
('Monitor', 72.0)
('CPU', 50.0)
('CPU', 74.0)

In [14]:
# Selecionaros nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('random_table',)
('sqlite_sequence',)

In [15]:


Query = 'SELECT * FROM sqlite_sequence'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('seq', None, None, None, None, None, None)
('random_table', 20)

### Criação e Queda
<a id='Criação'></a>

In [16]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [17]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [18]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')

print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data TEXT)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 4', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data TEXT)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']

### Adição e Remoção
<a id='Adição'></a>

In [19]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-04 16:49:14.751662']
['ID: 2', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-04 16:49:14.757658']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 15', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-04 16:49:14.848602']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 19', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-04 16:49:14.876593']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']

In [20]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-04 16:49:14.751662']
['ID: 2', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-04 16:49:14.757658']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 15', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-04 16:49:14.848602']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 19', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-04 16:49:14.876593']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']

In [21]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

In [22]:
# Deletar dado

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 2', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-04 16:49:14.757658']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 16:49:16.459827']

### Alteração
<a id='Alteração'></a>

In [23]:
# Mudança de valor

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 2', 'Produto: Cabos', 'Valor: 76.0', 'Data: 2022-09-04 16:49:14.757658']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 16:49:16.459827']

In [24]:
# Remover linha

Query

"UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [25]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 97.0)
('Monitor', 69.0)
('Monitor', 70.0)
('Monitor', 81.0)
('Monitor', 72.0)
('CPU', 91.0)
('CPU', 120.0)

In [26]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 97.0)
('CPU', 91.0)
('CPU', 120.0)

In [29]:
# Variável SE
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

('name', None, None, None, None, None, None)

('name', None, None, None, None, None, None)
('random_table',)

## Sobre o SQLite3

Conexão com a memória.

In [27]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [28]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 3', 'Produto: CPU', 'Valor: 89.0', 'Data: 2022-09-04 16:49:14.763654']
['ID: 4', 'Produto: Monitor', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.769650']
['ID: 5', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-04 16:49:14.776647']
['ID: 6', 'Produto: Mouse', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.782643']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-04 16:49:14.787639']
['ID: 8', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-04 16:49:14.793636']
['ID: 9', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 16:49:14.801631']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 16:49:14.812624']
['ID: 11', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.819620']
['ID: 12', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-04 16:49:14.829616']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.835610']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-04 16:49:14.840606']
['ID: 16', 'Produto: Monitor', 'Valor: 81.0', 'Data: 2022-09-04 16:49:14.853599']
['ID: 17', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 16:49:14.860603']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-04 16:49:14.869591']
['ID: 20', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 16:49:14.881582']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']

### Erros