# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 95, datetime.datetime(2022, 9, 6, 22, 2, 6, 900779), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 6, 22, 2, 6, 906773), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 79, datetime.datetime(2022, 9, 6, 22, 2, 6, 919765), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 60, datetime.datetime(2022, 9, 6, 22, 2, 6, 979728), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 65, datetime.datetime(2022, 9, 6, 22, 2, 6, 987722), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 6, 22, 2, 7, 5712), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 61, datetime.datetime(2022, 9, 6, 22, 2, 7, 22701), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 77, datetime.datetime(2022, 9, 6, 22, 2, 7, 30697), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 70, datetime.datetime(2022, 9, 6, 22, 2, 7, 43688), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 85, datetime.datetime(2022, 9, 6, 22, 2, 7, 57679), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 52, datetime.datetime(2022, 9, 6, 22, 2, 7, 69672), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 91, datetime.datetime(2022, 9, 6, 22, 2, 7, 81666), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 69, datetime.datetime(2022, 9, 6, 22, 2, 7, 92657), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 64, datetime.datetime(2022, 9, 6, 22, 2, 7, 120640), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 89, datetime.datetime(2022, 9, 6, 22, 2, 7, 141628), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 65, datetime.datetime(2022, 9, 6, 22, 2, 7, 150622), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 68, datetime.datetime(2022, 9, 6, 22, 2, 7, 157618), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 75, datetime.datetime(2022, 9, 6, 22, 2, 7, 164623), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 85, datetime.datetime(2022, 9, 6, 22, 2, 7, 171609), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 99, datetime.datetime(2022, 9, 6, 22, 2, 7, 186600), 0)

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 52.0', 'Data: 2022-09-06 22:02:07.069672', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0)
(2, 'CPU', 73.0, '2022-09-06 22:02:06.906773', 0)
(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)
(7, 'Monitor', 61.0, '2022-09-06 22:02:07.022701', 1)
(8, 'Teclado', 77.0, '2022-09-06 22:02:07.030697', 0)
(9, 'Teclado', 70.0, '2022-09-06 22:02:07.043688', 0)
(10, 'Monitor', 85.0, '2022-09-06 22:02:07.057679', 0)
(11, 'Mouse', 52.0, '2022-09-06 22:02:07.069672', 1)
(12, 'Teclado', 91.0, '2022-09-06 22:02:07.081666', 0)
(13, 'Monitor', 69.0, '2022-09-06 22:02:07.092657', 0)
(14, 'Monitor', 64.0, '2022-09-06 22:02:07.120640', 0)
(15, 'Teclado', 89.0, '2022-09-06 22:02:07.141628', 1)
(16, 'Monitor', 65.0, '2022-09-06 22:02:07.150622', 0)
(17, 'CPU', 68.0, '2022-09-06 22:02:07.157618', 1)
(18, 'CPU', 75.0, '2022-09-06 22:02:07.164623', 1)
(19, 'Mouse', 85.0, '2022-09-06 22:02:07.171609', 1)
(20, 'Mouse', 99.0, '2022-09-06 22:02:07.186600', 0)

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 95.0)
('CPU', 73.0)
('Mouse', 79.0)
('CPU', 60.0)
('Teclado', 65.0)
('Teclado', 69.0)
('Monitor', 61.0)
('Teclado', 77.0)
('Teclado', 70.0)
('Monitor', 85.0)
('Mouse', 52.0)
('Teclado', 91.0)
('Monitor', 69.0)
('Monitor', 64.0)
('Teclado', 89.0)
('Monitor', 65.0)
('CPU', 68.0)
('CPU', 75.0)
('Mouse', 85.0)
('Mouse', 99.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 95.0)
('CPU', 73.0)
('CPU', 60.0)
('Monitor', 61.0)
('Monitor', 85.0)
('Monitor', 69.0)
('Monitor', 64.0)
('Monitor', 65.0)
('CPU', 68.0)
('CPU', 75.0)

In [14]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)

('random_table',)
('sqlite_sequence',)

In [15]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

('Monitor', 0)
('CPU', 0)
('Mouse', 1)
('Teclado', 1)
('Monitor', 1)
('Teclado', 0)
('CPU', 1)
('Mouse', 0)

In [16]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(2, 'CPU', 73.0, '2022-09-06 22:02:06.906773', 0)
(4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)
(17, 'CPU', 68.0, '2022-09-06 22:02:07.157618', 1)
(18, 'CPU', 75.0, '2022-09-06 22:02:07.164623', 1)
(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0)
(7, 'Monitor', 61.0, '2022-09-06 22:02:07.022701', 1)
(10, 'Monitor', 85.0, '2022-09-06 22:02:07.057679', 0)
(13, 'Monitor', 69.0, '2022-09-06 22:02:07.092657', 0)
(14, 'Monitor', 64.0, '2022-09-06 22:02:07.120640', 0)
(16, 'Monitor', 65.0, '2022-09-06 22:02:07.150622', 0)
(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(11, 'Mouse', 52.0, '2022-09-06 22:02:07.069672', 1)
(19, 'Mouse', 85.0, '2022-09-06 22:02:07.171609', 1)
(20, 'Mouse', 99.0, '2022-09-06 22:02:07.186600', 0)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)
(8, 'Teclado', 77.0, '2022-09-06 22:02:07.030697', 0)
(9, 'Teclado', 70.0, '2022-09-06 22:02:07.043688', 0)
(12, 'Teclado', 91.0, '2022-09-06 22:02:07.081666', 0)
(15, 'Teclado', 89.0, '2022-09-06 22:02:07.141628', 1)

In [17]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)

('Teclado',)
('Mouse',)
('Monitor',)
('CPU',)

In [18]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0)
(2, 'CPU', 73.0, '2022-09-06 22:02:06.906773', 0)
(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)

In [53]:
# Alias
# São mudanças dos nomes de colunas e tabelas.
# Utiliza-se aspas quando o aliás tem espaço.

Query = "SELECT Produto AS 'Nome do Produto' FROM random_table AS Produtos"

Execute_and_Show(Query,arquivo)

('Nome do Produto', None, None, None, None, None, None)

('Monitor',)
('Mouse',)
('CPU',)
('Teclado',)
('Teclado',)
('Monitor',)
('Teclado',)
('Teclado',)
('Monitor',)
('Teclado',)
('Monitor',)
('Monitor',)
('Teclado',)
('Monitor',)
('CPU',)
('CPU',)
('Mouse',)
('Mouse',)
('CPU',)
('CPU',)
(None,)

### Criação e Queda
<a id='Criação'></a>

In [19]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [20]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [21]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 4', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']

### Adição e Remoção
<a id='Adição'></a>

In [22]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 52.0', 'Data: 2022-09-06 22:02:07.069672', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [23]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 52.0', 'Data: 2022-09-06 22:02:07.069672', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [24]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 52.0', 'Data: 2022-09-06 22:02:07.069672', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 22:03:29.395502', 'Vendido: 0']

In [25]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 52.0', 'Data: 2022-09-06 22:02:07.069672', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 22:03:29.395502', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-06 22:03:30.891576', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-06 22:03:30.891576', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-06 22:03:30.891576', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-06 22:03:30.891576', 'Vendido: 1']

In [26]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 22:03:29.395502', 'Vendido: 0']

In [27]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 22:03:29.395502', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [28]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 2', 'Produto: Cabos', 'Valor: 73.0', 'Data: 2022-09-06 22:02:06.906773', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-06 22:03:29.395502', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [29]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 95.0)
('Monitor', 61.0)
('Monitor', 85.0)
('Monitor', 69.0)
('Monitor', 64.0)
('Monitor', 65.0)
('CPU', 91.0)
('CPU', 120.0)

In [30]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 95.0)
('CPU', 91.0)
('CPU', 120.0)

In [31]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)
(15, 'Teclado', 89.0, '2022-09-06 22:02:07.141628', 1)
(17, 'CPU', 68.0, '2022-09-06 22:02:07.157618', 1)
(18, 'CPU', 75.0, '2022-09-06 22:02:07.164623', 1)
(19, 'Mouse', 85.0, '2022-09-06 22:02:07.171609', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)

In [32]:
# Variável SE

In [33]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)


('name', None, None, None, None, None, None)

('random_table',)

In [34]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [35]:
# LIKE e Wildcards (coringas)
# LIKE, em filtros WHERE, é usado em substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    # '%' representa/substitui qualquer número de quaisquer caracteres.
    # '_' representa/substitui exatamente um caractere qualquer.

Query = "SELECT Produto, Valor FROM random_table WHERE Produto LIKE '_o%'"
# Filtra linhas cujos valores na coluna "Produto" têm a letra "o" como segunda letra

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 95.0)
('Mouse', 79.0)
('Monitor', 61.0)
('Monitor', 85.0)
('Monitor', 69.0)
('Monitor', 64.0)
('Monitor', 65.0)
('Mouse', 85.0)
('Mouse', 99.0)

In [44]:
# IN É usado em substituição ao sinal '=' em cláusulas que usam WHERE.
# É exigido quando vários valores são pssíveis, ou qundo uma declaração é dada como comparação.

Query = "SELECT * FROM random_table WHERE Produto IN (SELECT Produto FROM random_table)"
# Como NULL não é um valor, ele não pode ser usado como critério para filtrar os dados.

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0)
(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)
(7, 'Monitor', 61.0, '2022-09-06 22:02:07.022701', 1)
(8, 'Teclado', 77.0, '2022-09-06 22:02:07.030697', 0)
(9, 'Teclado', 70.0, '2022-09-06 22:02:07.043688', 0)
(10, 'Monitor', 85.0, '2022-09-06 22:02:07.057679', 0)
(12, 'Teclado', 91.0, '2022-09-06 22:02:07.081666', 0)
(13, 'Monitor', 69.0, '2022-09-06 22:02:07.092657', 0)
(14, 'Monitor', 64.0, '2022-09-06 22:02:07.120640', 0)
(15, 'Teclado', 89.0, '2022-09-06 22:02:07.141628', 1)
(16, 'Monitor', 65.0, '2022-09-06 22:02:07.150622', 0)
(17, 'CPU', 68.0, '2022-09-06 22:02:07.157618', 1)
(18, 'CPU', 75.0, '2022-09-06 22:02:07.164623', 1)
(19, 'Mouse', 85.0, '2022-09-06 22:02:07.171609', 1)
(20, 'Mouse', 99.0, '2022-09-06 22:02:07.186600', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)

In [50]:
# Filtrando valores dentro de uma faixa.
# BETWEEN AND

Query = "SELECT * FROM random_table WHERE Valor BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

print()


Query = "SELECT * FROM random_table WHERE Valor NOT BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1)
(6, 'Teclado', 69.0, '2022-09-06 22:02:07.005712', 1)
(8, 'Teclado', 77.0, '2022-09-06 22:02:07.030697', 0)
(9, 'Teclado', 70.0, '2022-09-06 22:02:07.043688', 0)
(10, 'Monitor', 85.0, '2022-09-06 22:02:07.057679', 0)
(13, 'Monitor', 69.0, '2022-09-06 22:02:07.092657', 0)
(15, 'Teclado', 89.0, '2022-09-06 22:02:07.141628', 1)
(17, 'CPU', 68.0, '2022-09-06 22:02:07.157618', 1)
(18, 'CPU', 75.0, '2022-09-06 22:02:07.164623', 1)
(19, 'Mouse', 85.0, '2022-09-06 22:02:07.171609', 1)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0)
(4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)
(5, 'Teclado', 65.0, '2022-09-06 22:02:06.987722', 1)
(7, 'Monitor', 61.0, '2022-09-06 22:02:07.022701', 1)
(12, 'Teclado', 91.0, '2022-09-06 22:02:07.081666', 0)
(14, 'Monitor', 64.0, '2022-09-06 22:02:07.120640', 0)
(16, 'Monitor', 65.0, '2022-09-06 22:02:07.150622', 0)
(20, 'Mouse', 99.0, '2022-09-06 22:02:07.186600', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

### Valores Únicos

In [37]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (DISTINCT Produto)', None, None, None, None, None, None)

(6,)

('COUNT (*)', None, None, None, None, None, None)

(11,)

In [38]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('MIN (Valor)', None, None, None, None, None, None)

(60.0,)

In [39]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('AVG (Valor)', None, None, None, None, None, None)

(79.82608695652173,)

In [40]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('SUM (Valor)', None, None, None, None, None, None)

(1836.0,)

## Sobre o SQLite3

Conexão com a memória.

In [41]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [42]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 95.0', 'Data: 2022-09-06 22:02:06.900779', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-06 22:02:06.919765', 'Vendido: 1']
['ID: 4', 'Produto: CPU', 'Valor: 60.0', 'Data: 2022-09-06 22:02:06.979728', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-06 22:02:06.987722', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.005712', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-06 22:02:07.022701', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-06 22:02:07.030697', 'Vendido: 0']
['ID: 9', 'Produto: Teclado', 'Valor: 70.0', 'Data: 2022-09-06 22:02:07.043688', 'Vendido: 0']
['ID: 10', 'Produto: Monitor', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.057679', 'Vendido: 0']
['ID: 12', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-06 22:02:07.081666', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-06 22:02:07.092657', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-06 22:02:07.120640', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 89.0', 'Data: 2022-09-06 22:02:07.141628', 'Vendido: 1']
['ID: 16', 'Produto: Monitor', 'Valor: 65.0', 'Data: 2022-09-06 22:02:07.150622', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 68.0', 'Data: 2022-09-06 22:02:07.157618', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 75.0', 'Data: 2022-09-06 22:02:07.164623', 'Vendido: 1']
['ID: 19', 'Produto: Mouse', 'Valor: 85.0', 'Data: 2022-09-06 22:02:07.171609', 'Vendido: 1']
['ID: 20', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-06 22:02:07.186600', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

Características do comando .fetchall()

In [43]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

Empty Fetched Data: []
Stored Fetched Data: [(1, 'Monitor', 95.0, '2022-09-06 22:02:06.900779', 0), (3, 'Mouse', 79.0, '2022-09-06 22:02:06.919765', 1), (4, 'CPU', 60.0, '2022-09-06 22:02:06.979728', 0)]

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.