# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 98, datetime.datetime(2022, 9, 4, 17, 24, 10, 83746))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 51, datetime.datetime(2022, 9, 4, 17, 24, 10, 116726))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 50, datetime.datetime(2022, 9, 4, 17, 24, 10, 122722))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 84, datetime.datetime(2022, 9, 4, 17, 24, 10, 131721))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 51, datetime.datetime(2022, 9, 4, 17, 24, 10, 138712))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 70, datetime.datetime(2022, 9, 4, 17, 24, 10, 145708))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 65, datetime.datetime(2022, 9, 4, 17, 24, 10, 151704))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 94, datetime.datetime(2022, 9, 4, 17, 24, 10, 157700))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 62, datetime.datetime(2022, 9, 4, 17, 24, 10, 193680))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 69, datetime.datetime(2022, 9, 4, 17, 24, 10, 218665))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 4, 17, 24, 10, 224659))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 78, datetime.datetime(2022, 9, 4, 17, 24, 10, 231654))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 90, datetime.datetime(2022, 9, 4, 17, 24, 10, 245646))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 53, datetime.datetime(2022, 9, 4, 17, 24, 10, 252641))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 92, datetime.datetime(2022, 9, 4, 17, 24, 10, 257639))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 59, datetime.datetime(2022, 9, 4, 17, 24, 10, 265642))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 85, datetime.datetime(2022, 9, 4, 17, 24, 10, 271629))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 88, datetime.datetime(2022, 9, 4, 17, 24, 10, 277626))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 98, datetime.datetime(2022, 9, 4, 17, 24, 10, 284622))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 55, datetime.datetime(2022, 9, 4, 17, 24, 10, 292618))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 2', 'Produto: Monitor', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.116726']
['ID: 3', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-04 17:24:10.122722']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 5', 'Produto: CPU', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.138712']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 14', 'Produto: Mouse', 'Valor: 53.0', 'Data: 2022-09-04 17:24:10.252641']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 16', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-04 17:24:10.265642']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 20', 'Produto: Teclado', 'Valor: 55.0', 'Data: 2022-09-04 17:24:10.292618']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'Mouse', 98.0, '2022-09-04 17:24:10.083746')
(2, 'Monitor', 51.0, '2022-09-04 17:24:10.116726')
(3, 'Teclado', 50.0, '2022-09-04 17:24:10.122722')
(4, 'Mouse', 84.0, '2022-09-04 17:24:10.131721')
(5, 'CPU', 51.0, '2022-09-04 17:24:10.138712')
(6, 'Mouse', 70.0, '2022-09-04 17:24:10.145708')
(7, 'Mouse', 65.0, '2022-09-04 17:24:10.151704')
(8, 'CPU', 94.0, '2022-09-04 17:24:10.157700')
(9, 'Mouse', 62.0, '2022-09-04 17:24:10.193680')
(10, 'Monitor', 69.0, '2022-09-04 17:24:10.218665')
(11, 'CPU', 72.0, '2022-09-04 17:24:10.224659')
(12, 'CPU', 78.0, '2022-09-04 17:24:10.231654')
(13, 'Teclado', 90.0, '2022-09-04 17:24:10.245646')
(14, 'Mouse', 53.0, '2022-09-04 17:24:10.252641')
(15, 'CPU', 92.0, '2022-09-04 17:24:10.257639')
(16, 'Teclado', 59.0, '2022-09-04 17:24:10.265642')
(17, 'CPU', 85.0, '2022-09-04 17:24:10.271629')
(18, 'Mouse', 88.0, '2022-09-04 17:24:10.277626')
(19, 'Mouse', 98.0, '2022-09-04 17:24:10.284622')
(20, 'Teclado', 55.0, '2022-09-04 17:24:10.292618')

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Mouse', 98.0)
('Monitor', 51.0)
('Teclado', 50.0)
('Mouse', 84.0)
('CPU', 51.0)
('Mouse', 70.0)
('Mouse', 65.0)
('CPU', 94.0)
('Mouse', 62.0)
('Monitor', 69.0)
('CPU', 72.0)
('CPU', 78.0)
('Teclado', 90.0)
('Mouse', 53.0)
('CPU', 92.0)
('Teclado', 59.0)
('CPU', 85.0)
('Mouse', 88.0)
('Mouse', 98.0)
('Teclado', 55.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 51.0)
('CPU', 51.0)
('CPU', 94.0)
('Monitor', 69.0)
('CPU', 72.0)
('CPU', 78.0)
('CPU', 92.0)
('CPU', 85.0)

In [14]:
# Selecionaros nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('random_table',)
('sqlite_sequence',)

In [15]:


Query = 'SELECT * FROM sqlite_sequence'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('seq', None, None, None, None, None, None)
('random_table', 20)

### Criação e Queda
<a id='Criação'></a>

In [16]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [17]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [18]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data TEXT)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 4', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data TEXT)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']

### Adição e Remoção
<a id='Adição'></a>

In [19]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 2', 'Produto: Monitor', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.116726']
['ID: 3', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-04 17:24:10.122722']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 5', 'Produto: CPU', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.138712']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 14', 'Produto: Mouse', 'Valor: 53.0', 'Data: 2022-09-04 17:24:10.252641']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 16', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-04 17:24:10.265642']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 20', 'Produto: Teclado', 'Valor: 55.0', 'Data: 2022-09-04 17:24:10.292618']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']

In [20]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 2', 'Produto: Monitor', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.116726']
['ID: 3', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-04 17:24:10.122722']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 5', 'Produto: CPU', 'Valor: 51.0', 'Data: 2022-09-04 17:24:10.138712']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 14', 'Produto: Mouse', 'Valor: 53.0', 'Data: 2022-09-04 17:24:10.252641']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 16', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-04 17:24:10.265642']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 20', 'Produto: Teclado', 'Valor: 55.0', 'Data: 2022-09-04 17:24:10.292618']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']

In [21]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

In [30]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.



Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observações = (('Pendrive',15,datetime.datetime.now()),('Pendrive',15,datetime.datetime.now()),('Pendrive',20,datetime.datetime.now()),('Pendrive',17,datetime.datetime.now()))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-04 17:31:49.552704']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-04 17:31:49.552704']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-04 17:31:49.552704']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-04 17:31:49.552704']

In [22]:
# Deletar dado

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 17:24:12.006721']

### Alteração
<a id='Alteração'></a>

In [23]:
# Mudança de valor

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 17:24:12.006721']

In [24]:
# Remover linha

Query

"UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [25]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 94.0)
('Monitor', 69.0)
('CPU', 92.0)
('CPU', 91.0)
('CPU', 120.0)

In [26]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 94.0)
('CPU', 92.0)
('CPU', 91.0)
('CPU', 120.0)

In [27]:
# Variável SE
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)

('name', None, None, None, None, None, None)
('random_table',)

## Sobre o SQLite3

Conexão com a memória.

In [28]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [29]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

1

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.083746']
['ID: 4', 'Produto: Mouse', 'Valor: 84.0', 'Data: 2022-09-04 17:24:10.131721']
['ID: 6', 'Produto: Mouse', 'Valor: 70.0', 'Data: 2022-09-04 17:24:10.145708']
['ID: 7', 'Produto: Mouse', 'Valor: 65.0', 'Data: 2022-09-04 17:24:10.151704']
['ID: 8', 'Produto: CPU', 'Valor: 94.0', 'Data: 2022-09-04 17:24:10.157700']
['ID: 9', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-04 17:24:10.193680']
['ID: 10', 'Produto: Monitor', 'Valor: 69.0', 'Data: 2022-09-04 17:24:10.218665']
['ID: 11', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 17:24:10.224659']
['ID: 12', 'Produto: CPU', 'Valor: 78.0', 'Data: 2022-09-04 17:24:10.231654']
['ID: 13', 'Produto: Teclado', 'Valor: 90.0', 'Data: 2022-09-04 17:24:10.245646']
['ID: 15', 'Produto: CPU', 'Valor: 92.0', 'Data: 2022-09-04 17:24:10.257639']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 17:24:10.271629']
['ID: 18', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-04 17:24:10.277626']
['ID: 19', 'Produto: Mouse', 'Valor: 98.0', 'Data: 2022-09-04 17:24:10.284622']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']

### Erros e Exceções

* *DatabaseError*
   * Any error related to the database raises the DatabaseError.

* *IntegrityError*
  * IntegrityError is a subclass of DatabaseError and is raised when there is a data integrity issue. For example, foreign data isn’t updated in all tables resulting in the inconsistency of the data.

* *ProgrammingError*
  * The exception ProgrammingError raises when there are syntax errors or table is not found or function is called with the wrong number of parameters/ arguments.

* *OperationalError*
   * This exception is raised when the database operations are failed, for example, unusual disconnection. This is not the fault of the programmers.

* *NotSupportedError*
   * When you use some methods that aren’t defined or supported by the database, that will raise the NotSupportedError exception.