# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela-pai aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 92, datetime.datetime(2022, 9, 8, 22, 4, 27, 597517), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 81, datetime.datetime(2022, 9, 8, 22, 4, 27, 603511), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 70, datetime.datetime(2022, 9, 8, 22, 4, 27, 634492), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 61, datetime.datetime(2022, 9, 8, 22, 4, 27, 772406), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 59, datetime.datetime(2022, 9, 8, 22, 4, 27, 790396), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 52, datetime.datetime(2022, 9, 8, 22, 4, 27, 810383), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 52, datetime.datetime(2022, 9, 8, 22, 4, 27, 820377), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 79, datetime.datetime(2022, 9, 8, 22, 4, 27, 835369), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 58, datetime.datetime(2022, 9, 8, 22, 4, 27, 847360), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 62, datetime.datetime(2022, 9, 8, 22, 4, 27, 861352), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 51, datetime.datetime(2022, 9, 8, 22, 4, 27, 871345), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 52, datetime.datetime(2022, 9, 8, 22, 4, 27, 883338), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 78, datetime.datetime(2022, 9, 8, 22, 4, 27, 895331), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 84, datetime.datetime(2022, 9, 8, 22, 4, 27, 904325), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 84, datetime.datetime(2022, 9, 8, 22, 4, 27, 912320), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 8, 22, 4, 27, 919317), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 74, datetime.datetime(2022, 9, 8, 22, 4, 27, 928310), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 72, datetime.datetime(2022, 9, 8, 22, 4, 27, 935306), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 60, datetime.datetime(2022, 9, 8, 22, 4, 27, 946299), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 80, datetime.datetime(2022, 9, 8, 22, 4, 27, 953294), 1)

In [8]:
Query = "SELECT Produto FROM random_table"

print(sqlite3.connect(arquivo).cursor().execute(Query).fetchall())

[('Mouse',), ('Teclado',), ('Monitor',), ('Monitor',), ('Teclado',), ('Teclado',), ('Monitor',), ('CPU',), ('Monitor',), ('Mouse',), ('Teclado',), ('Teclado',), ('Monitor',), ('Teclado',), ('Teclado',), ('Teclado',), ('Monitor',), ('Monitor',), ('Monitor',), ('Teclado',)]

In [9]:
# Criando uma tabela-filha aletória

Produtos = sqlite3.connect(arquivo).cursor().execute("SELECT ID FROM random_table").fetchall()
ProdID = [i[0] for i in Produtos]
#for i in Produtos:
#    ProdID.append(i[0])
print(ProdID)

Query = "CREATE TABLE IF NOT EXISTS child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))"

conn = sqlite3.connect(arquivo)
curs = conn.cursor()
curs.execute(Query)
conn.commit()
curs.close()
conn.close()

n=30
for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_value = random.randrange(0,25) #Escolhe um preço para ser um valor do item.
    new_from_list = random.choice(ProdID) #Escolhe um valor bit aleatório

    valores = (new_value,new_date,new_from_list)

    data_insert_var(arquivo,'child_table',('Desconto','Data','ProdutoID'),valores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(14, datetime.datetime(2022, 9, 8, 22, 6, 53, 752755), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(20, datetime.datetime(2022, 9, 8, 22, 6, 53, 758750), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(11, datetime.datetime(2022, 9, 8, 22, 6, 53, 765746), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(14, datetime.datetime(2022, 9, 8, 22, 6, 53, 771742), 4)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 8, 22, 6, 53, 776739), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(8, datetime.datetime(2022, 9, 8, 22, 6, 53, 783735), 6)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(6, datetime.datetime(2022, 9, 8, 22, 6, 53, 788732), 6)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(19, datetime.datetime(2022, 9, 8, 22, 6, 53, 794730), 20)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(16, datetime.datetime(2022, 9, 8, 22, 6, 53, 801725), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 8, 22, 6, 53, 807721), 6)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 8, 22, 6, 53, 824709), 13)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(13, datetime.datetime(2022, 9, 8, 22, 6, 53, 842699), 2)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 8, 22, 6, 53, 848696), 13)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 8, 22, 6, 53, 855691), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(23, datetime.datetime(2022, 9, 8, 22, 6, 53, 865685), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(24, datetime.datetime(2022, 9, 8, 22, 6, 53, 943636), 4)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(10, datetime.datetime(2022, 9, 8, 22, 6, 53, 950632), 6)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(23, datetime.datetime(2022, 9, 8, 22, 6, 53, 960626), 16)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 8, 22, 6, 53, 967621), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 8, 22, 6, 53, 999603), 16)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 8, 22, 6, 54, 6597), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(3, datetime.datetime(2022, 9, 8, 22, 6, 54, 12594), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 8, 22, 6, 54, 22588), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(24, datetime.datetime(2022, 9, 8, 22, 6, 54, 28584), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(3, datetime.datetime(2022, 9, 8, 22, 6, 54, 36578), 20)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(3, datetime.datetime(2022, 9, 8, 22, 6, 54, 42576), 9)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(16, datetime.datetime(2022, 9, 8, 22, 6, 54, 51570), 15)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(5, datetime.datetime(2022, 9, 8, 22, 6, 54, 57565), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 8, 22, 6, 54, 86547), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 8, 22, 6, 54, 97541), 11)

In [10]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 92.0', 'Data: 2022-09-08 22:04:27.597517', 'Vendido: 1']
['ID: 2', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-08 22:04:27.603511', 'Vendido: 0']
['ID: 3', 'Produto: Monitor', 'Valor: 70.0', 'Data: 2022-09-08 22:04:27.634492', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 61.0', 'Data: 2022-09-08 22:04:27.772406', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-08 22:04:27.790396', 'Vendido: 1']
['ID: 6', 'Produto: Teclado', 'Valor: 52.0', 'Data: 2022-09-08 22:04:27.810383', 'Vendido: 1']
['ID: 7', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-08 22:04:27.820377', 'Vendido: 0']
['ID: 8', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-08 22:04:27.835369', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-08 22:04:27.847360', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-08 22:04:27.861352', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 51.0', 'Data: 2022-09-08 22:04:27.871345', 'Vendido: 1']
['ID: 12', 'Produto: Teclado', 'Valor: 52.0', 'Data: 2022-09-08 22:04:27.883338', 'Vendido: 0']
['ID: 13', 'Produto: Monitor', 'Valor: 78.0', 'Data: 2022-09-08 22:04:27.895331', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 84.0', 'Data: 2022-09-08 22:04:27.904325', 'Vendido: 0']
['ID: 15', 'Produto: Teclado', 'Valor: 84.0', 'Data: 2022-09-08 22:04:27.912320', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-08 22:04:27.919317', 'Vendido: 1']
['ID: 17', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 22:04:27.928310', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 72.0', 'Data: 2022-09-08 22:04:27.935306', 'Vendido: 0']
['ID: 19', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-08 22:04:27.946299', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 80.0', 'Data: 2022-09-08 22:04:27.953294', 'Vendido: 1']

In [11]:
showall(arquivo,'child_table')

Colunas ['ID', 'Desconto', 'Data', 'ProdutoID']
['ID: 1', 'Desconto: 14.0', 'Data: 2022-09-08 22:06:53.752755', 'ProdutoID: 17']
['ID: 2', 'Desconto: 20.0', 'Data: 2022-09-08 22:06:53.758750', 'ProdutoID: 5']
['ID: 3', 'Desconto: 11.0', 'Data: 2022-09-08 22:06:53.765746', 'ProdutoID: 8']
['ID: 4', 'Desconto: 14.0', 'Data: 2022-09-08 22:06:53.771742', 'ProdutoID: 4']
['ID: 5', 'Desconto: 0.0', 'Data: 2022-09-08 22:06:53.776739', 'ProdutoID: 3']
['ID: 6', 'Desconto: 8.0', 'Data: 2022-09-08 22:06:53.783735', 'ProdutoID: 6']
['ID: 7', 'Desconto: 6.0', 'Data: 2022-09-08 22:06:53.788732', 'ProdutoID: 6']
['ID: 8', 'Desconto: 19.0', 'Data: 2022-09-08 22:06:53.794730', 'ProdutoID: 20']
['ID: 9', 'Desconto: 16.0', 'Data: 2022-09-08 22:06:53.801725', 'ProdutoID: 19']
['ID: 10', 'Desconto: 0.0', 'Data: 2022-09-08 22:06:53.807721', 'ProdutoID: 6']
['ID: 11', 'Desconto: 17.0', 'Data: 2022-09-08 22:06:53.824709', 'ProdutoID: 13']
['ID: 12', 'Desconto: 13.0', 'Data: 2022-09-08 22:06:53.842699', 'ProdutoID: 2']
['ID: 13', 'Desconto: 21.0', 'Data: 2022-09-08 22:06:53.848696', 'ProdutoID: 13']
['ID: 14', 'Desconto: 17.0', 'Data: 2022-09-08 22:06:53.855691', 'ProdutoID: 18']
['ID: 15', 'Desconto: 23.0', 'Data: 2022-09-08 22:06:53.865685', 'ProdutoID: 5']
['ID: 16', 'Desconto: 24.0', 'Data: 2022-09-08 22:06:53.943636', 'ProdutoID: 4']
['ID: 17', 'Desconto: 10.0', 'Data: 2022-09-08 22:06:53.950632', 'ProdutoID: 6']
['ID: 18', 'Desconto: 23.0', 'Data: 2022-09-08 22:06:53.960626', 'ProdutoID: 16']
['ID: 19', 'Desconto: 1.0', 'Data: 2022-09-08 22:06:53.967621', 'ProdutoID: 5']
['ID: 20', 'Desconto: 12.0', 'Data: 2022-09-08 22:06:53.999603', 'ProdutoID: 16']
['ID: 21', 'Desconto: 12.0', 'Data: 2022-09-08 22:06:54.006597', 'ProdutoID: 8']
['ID: 22', 'Desconto: 3.0', 'Data: 2022-09-08 22:06:54.012594', 'ProdutoID: 5']
['ID: 23', 'Desconto: 0.0', 'Data: 2022-09-08 22:06:54.022588', 'ProdutoID: 17']
['ID: 24', 'Desconto: 24.0', 'Data: 2022-09-08 22:06:54.028584', 'ProdutoID: 14']
['ID: 25', 'Desconto: 3.0', 'Data: 2022-09-08 22:06:54.036578', 'ProdutoID: 20']
['ID: 26', 'Desconto: 3.0', 'Data: 2022-09-08 22:06:54.042576', 'ProdutoID: 9']
['ID: 27', 'Desconto: 16.0', 'Data: 2022-09-08 22:06:54.051570', 'ProdutoID: 15']
['ID: 28', 'Desconto: 5.0', 'Data: 2022-09-08 22:06:54.057565', 'ProdutoID: 3']
['ID: 29', 'Desconto: 17.0', 'Data: 2022-09-08 22:06:54.086547', 'ProdutoID: 8']
['ID: 30', 'Desconto: 17.0', 'Data: 2022-09-08 22:06:54.097541', 'ProdutoID: 11']

In [12]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [13]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [14]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Mouse', 92.0, '2022-09-08 22:04:27.597517', 1)
(2, 'Teclado', 81.0, '2022-09-08 22:04:27.603511', 0)
(3, 'Monitor', 70.0, '2022-09-08 22:04:27.634492', 1)
(4, 'Monitor', 61.0, '2022-09-08 22:04:27.772406', 0)
(5, 'Teclado', 59.0, '2022-09-08 22:04:27.790396', 1)
(6, 'Teclado', 52.0, '2022-09-08 22:04:27.810383', 1)
(7, 'Monitor', 52.0, '2022-09-08 22:04:27.820377', 0)
(8, 'CPU', 79.0, '2022-09-08 22:04:27.835369', 1)
(9, 'Monitor', 58.0, '2022-09-08 22:04:27.847360', 0)
(10, 'Mouse', 62.0, '2022-09-08 22:04:27.861352', 1)
(11, 'Teclado', 51.0, '2022-09-08 22:04:27.871345', 1)
(12, 'Teclado', 52.0, '2022-09-08 22:04:27.883338', 0)
(13, 'Monitor', 78.0, '2022-09-08 22:04:27.895331', 1)
(14, 'Teclado', 84.0, '2022-09-08 22:04:27.904325', 0)
(15, 'Teclado', 84.0, '2022-09-08 22:04:27.912320', 0)
(16, 'Teclado', 69.0, '2022-09-08 22:04:27.919317', 1)
(17, 'Monitor', 74.0, '2022-09-08 22:04:27.928310', 0)
(18, 'Monitor', 72.0, '2022-09-08 22:04:27.935306', 0)
(19, 'Monitor', 60.0, '2022-09-08 22:04:27.946299', 1)
(20, 'Teclado', 80.0, '2022-09-08 22:04:27.953294', 1)

In [15]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Mouse', 92.0)
('Teclado', 81.0)
('Monitor', 70.0)
('Monitor', 61.0)
('Teclado', 59.0)
('Teclado', 52.0)
('Monitor', 52.0)
('CPU', 79.0)
('Monitor', 58.0)
('Mouse', 62.0)
('Teclado', 51.0)
('Teclado', 52.0)
('Monitor', 78.0)
('Teclado', 84.0)
('Teclado', 84.0)
('Teclado', 69.0)
('Monitor', 74.0)
('Monitor', 72.0)
('Monitor', 60.0)
('Teclado', 80.0)

In [16]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 70.0)
('Monitor', 61.0)
('Monitor', 52.0)
('CPU', 79.0)
('Monitor', 58.0)
('Monitor', 78.0)
('Monitor', 74.0)
('Monitor', 72.0)
('Monitor', 60.0)

In [17]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)

('random_table',)
('sqlite_sequence',)
('child_table',)

In [18]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

('Mouse', 1)
('Teclado', 0)
('Monitor', 1)
('Monitor', 0)
('Teclado', 1)
('CPU', 1)

In [19]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(8, 'CPU', 79.0, '2022-09-08 22:04:27.835369', 1)
(3, 'Monitor', 70.0, '2022-09-08 22:04:27.634492', 1)
(4, 'Monitor', 61.0, '2022-09-08 22:04:27.772406', 0)
(7, 'Monitor', 52.0, '2022-09-08 22:04:27.820377', 0)
(9, 'Monitor', 58.0, '2022-09-08 22:04:27.847360', 0)
(13, 'Monitor', 78.0, '2022-09-08 22:04:27.895331', 1)
(17, 'Monitor', 74.0, '2022-09-08 22:04:27.928310', 0)
(18, 'Monitor', 72.0, '2022-09-08 22:04:27.935306', 0)
(19, 'Monitor', 60.0, '2022-09-08 22:04:27.946299', 1)
(1, 'Mouse', 92.0, '2022-09-08 22:04:27.597517', 1)
(10, 'Mouse', 62.0, '2022-09-08 22:04:27.861352', 1)
(2, 'Teclado', 81.0, '2022-09-08 22:04:27.603511', 0)
(5, 'Teclado', 59.0, '2022-09-08 22:04:27.790396', 1)
(6, 'Teclado', 52.0, '2022-09-08 22:04:27.810383', 1)
(11, 'Teclado', 51.0, '2022-09-08 22:04:27.871345', 1)
(12, 'Teclado', 52.0, '2022-09-08 22:04:27.883338', 0)
(14, 'Teclado', 84.0, '2022-09-08 22:04:27.904325', 0)
(15, 'Teclado', 84.0, '2022-09-08 22:04:27.912320', 0)
(16, 'Teclado', 69.0, '2022-09-08 22:04:27.919317', 1)
(20, 'Teclado', 80.0, '2022-09-08 22:04:27.953294', 1)

In [20]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)

('Teclado',)
('Mouse',)
('Monitor',)
('CPU',)

In [21]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Mouse', 92.0, '2022-09-08 22:04:27.597517', 1)
(2, 'Teclado', 81.0, '2022-09-08 22:04:27.603511', 0)
(3, 'Monitor', 70.0, '2022-09-08 22:04:27.634492', 1)
(4, 'Monitor', 61.0, '2022-09-08 22:04:27.772406', 0)
(5, 'Teclado', 59.0, '2022-09-08 22:04:27.790396', 1)
(6, 'Teclado', 52.0, '2022-09-08 22:04:27.810383', 1)

In [22]:
# Alias
# São mudanças dos nomes de colunas e tabelas.
# Utiliza-se aspas quando o aliás tem espaço.

Query = "SELECT Produto AS 'Nome do Produto' FROM random_table AS Produtos"

Execute_and_Show(Query,arquivo)

('Nome do Produto', None, None, None, None, None, None)

('Mouse',)
('Teclado',)
('Monitor',)
('Monitor',)
('Teclado',)
('Teclado',)
('Monitor',)
('CPU',)
('Monitor',)
('Mouse',)
('Teclado',)
('Teclado',)
('Monitor',)
('Teclado',)
('Teclado',)
('Teclado',)
('Monitor',)
('Monitor',)
('Monitor',)
('Teclado',)

Join

![](../ArquivosParalelos/Join_types.png)

Different Types of SQL JOINs

* (INNER) JOIN: _Retorna registros compatíveis com ambas as tabelas;_
* LEFT (OUTER) JOIN: _Retorna todos os registros da tabela à esquerda, e os registros compatíveis da tabela à direita;_
* RIGHT (OUTER) JOIN: _Retorna todos os registros da tabela à direita, e os registros compatíveis da tabela à esquerda;_
* FULL (OUTER) JOIN: _Retorna todos os registros quando há compatibilidade em qualquer tabela._

In [23]:
Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM child_table JOIN random_table 
    ON child_table.ProdutoID = random_table.ID
    '''


Execute_and_Show(Query,arquivo)

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(14.0, '2022-09-08 22:06:53.752755', 'Monitor')
(20.0, '2022-09-08 22:06:53.758750', 'Teclado')
(11.0, '2022-09-08 22:06:53.765746', 'CPU')
(14.0, '2022-09-08 22:06:53.771742', 'Monitor')
(0.0, '2022-09-08 22:06:53.776739', 'Monitor')
(8.0, '2022-09-08 22:06:53.783735', 'Teclado')
(6.0, '2022-09-08 22:06:53.788732', 'Teclado')
(19.0, '2022-09-08 22:06:53.794730', 'Teclado')
(16.0, '2022-09-08 22:06:53.801725', 'Monitor')
(0.0, '2022-09-08 22:06:53.807721', 'Teclado')
(17.0, '2022-09-08 22:06:53.824709', 'Monitor')
(13.0, '2022-09-08 22:06:53.842699', 'Teclado')
(21.0, '2022-09-08 22:06:53.848696', 'Monitor')
(17.0, '2022-09-08 22:06:53.855691', 'Monitor')
(23.0, '2022-09-08 22:06:53.865685', 'Teclado')
(24.0, '2022-09-08 22:06:53.943636', 'Monitor')
(10.0, '2022-09-08 22:06:53.950632', 'Teclado')
(23.0, '2022-09-08 22:06:53.960626', 'Teclado')
(1.0, '2022-09-08 22:06:53.967621', 'Teclado')
(12.0, '2022-09-08 22:06:53.999603', 'Teclado')
(12.0, '2022-09-08 22:06:54.006597', 'CPU')
(3.0, '2022-09-08 22:06:54.012594', 'Teclado')
(0.0, '2022-09-08 22:06:54.022588', 'Monitor')
(24.0, '2022-09-08 22:06:54.028584', 'Teclado')
(3.0, '2022-09-08 22:06:54.036578', 'Teclado')
(3.0, '2022-09-08 22:06:54.042576', 'Monitor')
(16.0, '2022-09-08 22:06:54.051570', 'Teclado')
(5.0, '2022-09-08 22:06:54.057565', 'Monitor')
(17.0, '2022-09-08 22:06:54.086547', 'CPU')
(17.0, '2022-09-08 22:06:54.097541', 'Teclado')

In [24]:
# Como todos os registros na tabela child_table possuem valores para a coluna ProdutoID que correspondem a algum valor na tabela random_table, o LEfT JOIN presentaria o mesmo resultado do INNER JOIN.

In [29]:
# RIGH JOIN

Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM random_table LEFT JOIN child_table 
    ON child_table.ProdutoID = random_table.ID
    '''
    
Execute_and_Show(Query,arquivo)

# Os valores None mostrados são registros em random_table que não possuem correspondência em child_table.

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(None, None, 'Mouse')
(13.0, '2022-09-08 22:06:53.842699', 'Teclado')
(0.0, '2022-09-08 22:06:53.776739', 'Monitor')
(5.0, '2022-09-08 22:06:54.057565', 'Monitor')
(14.0, '2022-09-08 22:06:53.771742', 'Monitor')
(24.0, '2022-09-08 22:06:53.943636', 'Monitor')
(1.0, '2022-09-08 22:06:53.967621', 'Teclado')
(3.0, '2022-09-08 22:06:54.012594', 'Teclado')
(20.0, '2022-09-08 22:06:53.758750', 'Teclado')
(23.0, '2022-09-08 22:06:53.865685', 'Teclado')
(0.0, '2022-09-08 22:06:53.807721', 'Teclado')
(6.0, '2022-09-08 22:06:53.788732', 'Teclado')
(8.0, '2022-09-08 22:06:53.783735', 'Teclado')
(10.0, '2022-09-08 22:06:53.950632', 'Teclado')
(None, None, 'Monitor')
(11.0, '2022-09-08 22:06:53.765746', 'CPU')
(12.0, '2022-09-08 22:06:54.006597', 'CPU')
(17.0, '2022-09-08 22:06:54.086547', 'CPU')
(3.0, '2022-09-08 22:06:54.042576', 'Monitor')
(None, None, 'Mouse')
(17.0, '2022-09-08 22:06:54.097541', 'Teclado')
(None, None, 'Teclado')
(17.0, '2022-09-08 22:06:53.824709', 'Monitor')
(21.0, '2022-09-08 22:06:53.848696', 'Monitor')
(24.0, '2022-09-08 22:06:54.028584', 'Teclado')
(16.0, '2022-09-08 22:06:54.051570', 'Teclado')
(12.0, '2022-09-08 22:06:53.999603', 'Teclado')
(23.0, '2022-09-08 22:06:53.960626', 'Teclado')
(0.0, '2022-09-08 22:06:54.022588', 'Monitor')
(14.0, '2022-09-08 22:06:53.752755', 'Monitor')
(17.0, '2022-09-08 22:06:53.855691', 'Monitor')
(16.0, '2022-09-08 22:06:53.801725', 'Monitor')
(3.0, '2022-09-08 22:06:54.036578', 'Teclado')
(19.0, '2022-09-08 22:06:53.794730', 'Teclado')

:

LEFT e OUTHER JOIN não são suportados no SQLite3

### Criação e Queda
<a id='Criação'></a>

In [ ]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 5', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']

### Adição e Remoção
<a id='Adição'></a>

In [ ]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.347725', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-08 17:27:52.397695', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 9', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-08 17:27:52.436684', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.453671', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-08 17:27:52.491638', 'Vendido: 1']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-08 17:27:52.520619', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-08 17:27:52.528614', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [ ]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.347725', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-08 17:27:52.397695', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 9', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-08 17:27:52.436684', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.453671', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-08 17:27:52.491638', 'Vendido: 1']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-08 17:27:52.520619', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-08 17:27:52.528614', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [ ]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.347725', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-08 17:27:52.397695', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 9', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-08 17:27:52.436684', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.453671', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-08 17:27:52.491638', 'Vendido: 1']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-08 17:27:52.520619', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-08 17:27:52.528614', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-08 17:31:56.373895', 'Vendido: 0']

In [ ]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 4', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.347725', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 6', 'Produto: CPU', 'Valor: 50.0', 'Data: 2022-09-08 17:27:52.397695', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 9', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-08 17:27:52.436684', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 54.0', 'Data: 2022-09-08 17:27:52.453671', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-08 17:27:52.491638', 'Vendido: 1']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 52.0', 'Data: 2022-09-08 17:27:52.520619', 'Vendido: 0']
['ID: 16', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-08 17:27:52.528614', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-08 17:31:56.373895', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-08 17:31:58.374655', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-08 17:31:58.374655', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-08 17:31:58.374655', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-08 17:31:58.374655', 'Vendido: 1']

In [ ]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-08 17:31:56.373895', 'Vendido: 0']

In [ ]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-08 17:31:56.373895', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [ ]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 2', 'Produto: Cabos', 'Valor: 67.0', 'Data: 2022-09-08 17:27:52.247787', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-08 17:31:56.373895', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [ ]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Monitor', 74.0)
('CPU', 98.0)
('CPU', 99.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 98.0)
('CPU', 99.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Mouse', 89.0, '2022-09-08 17:27:52.235809', 1)
(5, 'Teclado', 83.0, '2022-09-08 17:27:52.380705', 1)
(7, 'Teclado', 97.0, '2022-09-08 17:27:52.405689', 1)
(13, 'Teclado', 61.0, '2022-09-08 17:27:52.500631', 1)
(14, 'Teclado', 83.0, '2022-09-08 17:27:52.509626', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)

In [ ]:
# Variável SE

In [ ]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)


('name', None, None, None, None, None, None)

('random_table',)

In [ ]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [ ]:
# LIKE e Wildcards (coringas)
# LIKE, em filtros WHERE, é usado em substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    # '%' representa/substitui qualquer número de quaisquer caracteres.
    # '_' representa/substitui exatamente um caractere qualquer.

Query = "SELECT Produto, Valor FROM random_table WHERE Produto LIKE '_o%'"
# Filtra linhas cujos valores na coluna "Produto" têm a letra "o" como segunda letra

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Mouse', 89.0)
('Mouse', 73.0)
('Monitor', 74.0)
('Mouse', 94.0)

In [ ]:
# IN É usado em substituição ao sinal '=' em cláusulas que usam WHERE.
# É exigido quando vários valores são pssíveis, ou qundo uma declaração é dada como comparação.

Query = "SELECT * FROM random_table WHERE Produto IN (SELECT Produto FROM random_table)"
# Como NULL não é um valor, ele não pode ser usado como critério para filtrar os dados.

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Mouse', 89.0, '2022-09-08 17:27:52.235809', 1)
(2, 'Cabos', 67.0, '2022-09-08 17:27:52.247787', 0)
(3, 'Mouse', 73.0, '2022-09-08 17:27:52.286766', 0)
(5, 'Teclado', 83.0, '2022-09-08 17:27:52.380705', 1)
(7, 'Teclado', 97.0, '2022-09-08 17:27:52.405689', 1)
(8, 'Monitor', 74.0, '2022-09-08 17:27:52.419682', 1)
(11, 'Mouse', 94.0, '2022-09-08 17:27:52.478646', 0)
(13, 'Teclado', 61.0, '2022-09-08 17:27:52.500631', 1)
(14, 'Teclado', 83.0, '2022-09-08 17:27:52.509626', 1)
(17, 'CPU', 98.0, '2022-09-08 17:27:52.537608', 0)
(18, 'CPU', 99.0, '2022-09-08 17:27:52.549601', 0)
(19, 'CPU', 90.0, '2022-09-08 17:27:52.562593', 0)
(20, 'CPU', 88.0, '2022-09-08 17:27:52.597570', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-08 17:31:56.373895', 0)

In [ ]:
# Filtrando valores dentro de uma faixa.
# BETWEEN AND

Query = "SELECT * FROM random_table WHERE Valor BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

print()


Query = "SELECT * FROM random_table WHERE Valor NOT BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'Mouse', 89.0, '2022-09-08 17:27:52.235809', 1)
(2, 'Cabos', 67.0, '2022-09-08 17:27:52.247787', 0)
(3, 'Mouse', 73.0, '2022-09-08 17:27:52.286766', 0)
(5, 'Teclado', 83.0, '2022-09-08 17:27:52.380705', 1)
(8, 'Monitor', 74.0, '2022-09-08 17:27:52.419682', 1)
(14, 'Teclado', 83.0, '2022-09-08 17:27:52.509626', 1)
(19, 'CPU', 90.0, '2022-09-08 17:27:52.562593', 0)
(20, 'CPU', 88.0, '2022-09-08 17:27:52.597570', 0)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(7, 'Teclado', 97.0, '2022-09-08 17:27:52.405689', 1)
(11, 'Mouse', 94.0, '2022-09-08 17:27:52.478646', 0)
(13, 'Teclado', 61.0, '2022-09-08 17:27:52.500631', 1)
(17, 'CPU', 98.0, '2022-09-08 17:27:52.537608', 0)
(18, 'CPU', 99.0, '2022-09-08 17:27:52.549601', 0)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-08 17:31:56.373895', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

### Valores Únicos

In [ ]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (DISTINCT Produto)', None, None, None, None, None, None)

(6,)

('COUNT (*)', None, None, None, None, None, None)

(9,)

In [ ]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('MIN (Valor)', None, None, None, None, None, None)

(61.0,)

In [ ]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('AVG (Valor)', None, None, None, None, None, None)

(87.82352941176471,)

In [ ]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('SUM (Valor)', None, None, None, None, None, None)

(1493.0,)

## Sobre o SQLite3

Conexão com a memória.

In [ ]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [ ]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-08 17:27:52.235809', 'Vendido: 1']
['ID: 3', 'Produto: Mouse', 'Valor: 73.0', 'Data: 2022-09-08 17:27:52.286766', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.380705', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 97.0', 'Data: 2022-09-08 17:27:52.405689', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-08 17:27:52.419682', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 94.0', 'Data: 2022-09-08 17:27:52.478646', 'Vendido: 0']
['ID: 13', 'Produto: Teclado', 'Valor: 61.0', 'Data: 2022-09-08 17:27:52.500631', 'Vendido: 1']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-08 17:27:52.509626', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-08 17:27:52.537608', 'Vendido: 0']
['ID: 18', 'Produto: CPU', 'Valor: 99.0', 'Data: 2022-09-08 17:27:52.549601', 'Vendido: 0']
['ID: 19', 'Produto: CPU', 'Valor: 90.0', 'Data: 2022-09-08 17:27:52.562593', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 88.0', 'Data: 2022-09-08 17:27:52.597570', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

Características do comando .fetchall()

In [ ]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

Empty Fetched Data: []
Stored Fetched Data: [(1, 'Mouse', 89.0, '2022-09-08 17:27:52.235809', 1), (3, 'Mouse', 73.0, '2022-09-08 17:27:52.286766', 0), (5, 'Teclado', 83.0, '2022-09-08 17:27:52.380705', 1)]

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.