# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela-pai aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 67, datetime.datetime(2022, 9, 14, 14, 53, 22, 613707), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 60, datetime.datetime(2022, 9, 14, 14, 53, 22, 623701), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 57, datetime.datetime(2022, 9, 14, 14, 53, 22, 641689), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 58, datetime.datetime(2022, 9, 14, 14, 53, 22, 685662), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 74, datetime.datetime(2022, 9, 14, 14, 53, 22, 718642), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 53, datetime.datetime(2022, 9, 14, 14, 53, 22, 736631), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 83, datetime.datetime(2022, 9, 14, 14, 53, 22, 747624), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 86, datetime.datetime(2022, 9, 14, 14, 53, 22, 765613), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 50, datetime.datetime(2022, 9, 14, 14, 53, 22, 776605), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 71, datetime.datetime(2022, 9, 14, 14, 53, 22, 784601), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 58, datetime.datetime(2022, 9, 14, 14, 53, 22, 792595), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 98, datetime.datetime(2022, 9, 14, 14, 53, 22, 805587), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 55, datetime.datetime(2022, 9, 14, 14, 53, 22, 812583), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 91, datetime.datetime(2022, 9, 14, 14, 53, 22, 824575), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 67, datetime.datetime(2022, 9, 14, 14, 53, 22, 841566), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 65, datetime.datetime(2022, 9, 14, 14, 53, 22, 856555), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 77, datetime.datetime(2022, 9, 14, 14, 53, 22, 874545), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 57, datetime.datetime(2022, 9, 14, 14, 53, 22, 894532), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 62, datetime.datetime(2022, 9, 14, 14, 53, 22, 911523), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 14, 14, 53, 22, 923517), 1)

In [8]:
Query = "SELECT Produto FROM random_table"

print(sqlite3.connect(arquivo).cursor().execute(Query).fetchall())

[('CPU',), ('Monitor',), ('CPU',), ('Mouse',), ('Teclado',), ('Monitor',), ('Teclado',), ('Teclado',), ('Monitor',), ('Mouse',), ('Teclado',), ('CPU',), ('Mouse',), ('CPU',), ('Monitor',), ('Teclado',), ('Teclado',), ('Monitor',), ('Mouse',), ('Teclado',)]

In [9]:
# Criando uma tabela-filha aletória

Produtos = sqlite3.connect(arquivo).cursor().execute("SELECT ID FROM random_table").fetchall()
ProdID = [i[0] for i in Produtos]
#for i in Produtos:
#    ProdID.append(i[0])
print(ProdID)

Query = "CREATE TABLE IF NOT EXISTS child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))"

conn = sqlite3.connect(arquivo)
curs = conn.cursor()
curs.execute(Query)
conn.commit()
curs.close()
conn.close()

n=30
for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_value = random.randrange(0,25) #Escolhe um preço para ser um valor do item.
    new_from_list = random.choice(ProdID) #Escolhe um valor bit aleatório

    valores = (new_value,new_date,new_from_list)

    data_insert_var(arquivo,'child_table',('Desconto','Data','ProdutoID'),valores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(16, datetime.datetime(2022, 9, 14, 14, 53, 32, 427615), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 14, 14, 53, 32, 433611), 6)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(3, datetime.datetime(2022, 9, 14, 14, 53, 32, 438610), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(7, datetime.datetime(2022, 9, 14, 14, 53, 32, 444604), 15)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(7, datetime.datetime(2022, 9, 14, 14, 53, 32, 457597), 9)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 14, 14, 53, 32, 462593), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(19, datetime.datetime(2022, 9, 14, 14, 53, 32, 468590), 7)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 14, 14, 53, 32, 474586), 1)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 14, 14, 53, 32, 479583), 8)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(0, datetime.datetime(2022, 9, 14, 14, 53, 32, 485579), 20)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(21, datetime.datetime(2022, 9, 14, 14, 53, 32, 525557), 4)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(19, datetime.datetime(2022, 9, 14, 14, 53, 32, 536548), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(7, datetime.datetime(2022, 9, 14, 14, 53, 32, 542545), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(16, datetime.datetime(2022, 9, 14, 14, 53, 32, 552538), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(4, datetime.datetime(2022, 9, 14, 14, 53, 32, 559533), 12)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(22, datetime.datetime(2022, 9, 14, 14, 53, 32, 564530), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(10, datetime.datetime(2022, 9, 14, 14, 53, 32, 586516), 18)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(4, datetime.datetime(2022, 9, 14, 14, 53, 32, 593512), 5)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(5, datetime.datetime(2022, 9, 14, 14, 53, 32, 598509), 12)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(1, datetime.datetime(2022, 9, 14, 14, 53, 32, 604506), 14)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 14, 14, 53, 32, 622495), 15)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(4, datetime.datetime(2022, 9, 14, 14, 53, 32, 630489), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(14, datetime.datetime(2022, 9, 14, 14, 53, 32, 647479), 2)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(23, datetime.datetime(2022, 9, 14, 14, 53, 32, 668466), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(11, datetime.datetime(2022, 9, 14, 14, 53, 32, 674463), 3)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(8, datetime.datetime(2022, 9, 14, 14, 53, 32, 680458), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(6, datetime.datetime(2022, 9, 14, 14, 53, 32, 686455), 12)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(17, datetime.datetime(2022, 9, 14, 14, 53, 32, 692452), 17)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(12, datetime.datetime(2022, 9, 14, 14, 53, 32, 697448), 19)
Desconto, Data, ProdutoID
?, ?, ?

INSERT INTO child_table (Desconto, Data, ProdutoID) VALUES (?, ?, ?)
(6, datetime.datetime(2022, 9, 14, 14, 53, 32, 703445), 8)

In [10]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 3', 'Produto: CPU', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.641689', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.685662', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 6', 'Produto: Monitor', 'Valor: 53.0', 'Data: 2022-09-14 14:53:22.736631', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 9', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-14 14:53:22.776605', 'Vendido: 1']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.792595', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 55.0', 'Data: 2022-09-14 14:53:22.812583', 'Vendido: 1']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.894532', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']

In [11]:
showall(arquivo,'child_table')

Colunas ['ID', 'Desconto', 'Data', 'ProdutoID']
['ID: 1', 'Desconto: 16.0', 'Data: 2022-09-14 14:53:32.427615', 'ProdutoID: 3']
['ID: 2', 'Desconto: 0.0', 'Data: 2022-09-14 14:53:32.433611', 'ProdutoID: 6']
['ID: 3', 'Desconto: 3.0', 'Data: 2022-09-14 14:53:32.438610', 'ProdutoID: 14']
['ID: 4', 'Desconto: 7.0', 'Data: 2022-09-14 14:53:32.444604', 'ProdutoID: 15']
['ID: 5', 'Desconto: 7.0', 'Data: 2022-09-14 14:53:32.457597', 'ProdutoID: 9']
['ID: 6', 'Desconto: 12.0', 'Data: 2022-09-14 14:53:32.462593', 'ProdutoID: 3']
['ID: 7', 'Desconto: 19.0', 'Data: 2022-09-14 14:53:32.468590', 'ProdutoID: 7']
['ID: 8', 'Desconto: 17.0', 'Data: 2022-09-14 14:53:32.474586', 'ProdutoID: 1']
['ID: 9', 'Desconto: 12.0', 'Data: 2022-09-14 14:53:32.479583', 'ProdutoID: 8']
['ID: 10', 'Desconto: 0.0', 'Data: 2022-09-14 14:53:32.485579', 'ProdutoID: 20']
['ID: 11', 'Desconto: 21.0', 'Data: 2022-09-14 14:53:32.525557', 'ProdutoID: 4']
['ID: 12', 'Desconto: 19.0', 'Data: 2022-09-14 14:53:32.536548', 'ProdutoID: 3']
['ID: 13', 'Desconto: 7.0', 'Data: 2022-09-14 14:53:32.542545', 'ProdutoID: 19']
['ID: 14', 'Desconto: 16.0', 'Data: 2022-09-14 14:53:32.552538', 'ProdutoID: 18']
['ID: 15', 'Desconto: 4.0', 'Data: 2022-09-14 14:53:32.559533', 'ProdutoID: 12']
['ID: 16', 'Desconto: 22.0', 'Data: 2022-09-14 14:53:32.564530', 'ProdutoID: 14']
['ID: 17', 'Desconto: 10.0', 'Data: 2022-09-14 14:53:32.586516', 'ProdutoID: 18']
['ID: 18', 'Desconto: 4.0', 'Data: 2022-09-14 14:53:32.593512', 'ProdutoID: 5']
['ID: 19', 'Desconto: 5.0', 'Data: 2022-09-14 14:53:32.598509', 'ProdutoID: 12']
['ID: 20', 'Desconto: 1.0', 'Data: 2022-09-14 14:53:32.604506', 'ProdutoID: 14']
['ID: 21', 'Desconto: 12.0', 'Data: 2022-09-14 14:53:32.622495', 'ProdutoID: 15']
['ID: 22', 'Desconto: 4.0', 'Data: 2022-09-14 14:53:32.630489', 'ProdutoID: 3']
['ID: 23', 'Desconto: 14.0', 'Data: 2022-09-14 14:53:32.647479', 'ProdutoID: 2']
['ID: 24', 'Desconto: 23.0', 'Data: 2022-09-14 14:53:32.668466', 'ProdutoID: 17']
['ID: 25', 'Desconto: 11.0', 'Data: 2022-09-14 14:53:32.674463', 'ProdutoID: 3']
['ID: 26', 'Desconto: 8.0', 'Data: 2022-09-14 14:53:32.680458', 'ProdutoID: 19']
['ID: 27', 'Desconto: 6.0', 'Data: 2022-09-14 14:53:32.686455', 'ProdutoID: 12']
['ID: 28', 'Desconto: 17.0', 'Data: 2022-09-14 14:53:32.692452', 'ProdutoID: 17']
['ID: 29', 'Desconto: 12.0', 'Data: 2022-09-14 14:53:32.697448', 'ProdutoID: 19']
['ID: 30', 'Desconto: 6.0', 'Data: 2022-09-14 14:53:32.703445', 'ProdutoID: 8']

In [12]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [13]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [14]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(2, 'Monitor', 60.0, '2022-09-14 14:53:22.623701', 0)
(3, 'CPU', 57.0, '2022-09-14 14:53:22.641689', 0)
(4, 'Mouse', 58.0, '2022-09-14 14:53:22.685662', 1)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(6, 'Monitor', 53.0, '2022-09-14 14:53:22.736631', 1)
(7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)
(8, 'Teclado', 86.0, '2022-09-14 14:53:22.765613', 0)
(9, 'Monitor', 50.0, '2022-09-14 14:53:22.776605', 1)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(11, 'Teclado', 58.0, '2022-09-14 14:53:22.792595', 1)
(12, 'CPU', 98.0, '2022-09-14 14:53:22.805587', 0)
(13, 'Mouse', 55.0, '2022-09-14 14:53:22.812583', 1)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(15, 'Monitor', 67.0, '2022-09-14 14:53:22.841566', 0)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(17, 'Teclado', 77.0, '2022-09-14 14:53:22.874545', 0)
(18, 'Monitor', 57.0, '2022-09-14 14:53:22.894532', 0)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)

In [15]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 67.0)
('Monitor', 60.0)
('CPU', 57.0)
('Mouse', 58.0)
('Teclado', 74.0)
('Monitor', 53.0)
('Teclado', 83.0)
('Teclado', 86.0)
('Monitor', 50.0)
('Mouse', 71.0)
('Teclado', 58.0)
('CPU', 98.0)
('Mouse', 55.0)
('CPU', 91.0)
('Monitor', 67.0)
('Teclado', 65.0)
('Teclado', 77.0)
('Monitor', 57.0)
('Mouse', 62.0)
('Teclado', 69.0)

In [16]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 67.0)
('Monitor', 60.0)
('CPU', 57.0)
('Monitor', 53.0)
('Monitor', 50.0)
('CPU', 98.0)
('CPU', 91.0)
('Monitor', 67.0)
('Monitor', 57.0)

In [17]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)

('random_table',)
('sqlite_sequence',)
('child_table',)

In [18]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

('CPU', 1)
('Monitor', 0)
('CPU', 0)
('Mouse', 1)
('Teclado', 0)
('Monitor', 1)
('Teclado', 1)

In [19]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(3, 'CPU', 57.0, '2022-09-14 14:53:22.641689', 0)
(12, 'CPU', 98.0, '2022-09-14 14:53:22.805587', 0)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(2, 'Monitor', 60.0, '2022-09-14 14:53:22.623701', 0)
(6, 'Monitor', 53.0, '2022-09-14 14:53:22.736631', 1)
(9, 'Monitor', 50.0, '2022-09-14 14:53:22.776605', 1)
(15, 'Monitor', 67.0, '2022-09-14 14:53:22.841566', 0)
(18, 'Monitor', 57.0, '2022-09-14 14:53:22.894532', 0)
(4, 'Mouse', 58.0, '2022-09-14 14:53:22.685662', 1)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(13, 'Mouse', 55.0, '2022-09-14 14:53:22.812583', 1)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)
(8, 'Teclado', 86.0, '2022-09-14 14:53:22.765613', 0)
(11, 'Teclado', 58.0, '2022-09-14 14:53:22.792595', 1)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(17, 'Teclado', 77.0, '2022-09-14 14:53:22.874545', 0)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)

In [20]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)

('Teclado',)
('Mouse',)
('Monitor',)
('CPU',)

In [21]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(2, 'Monitor', 60.0, '2022-09-14 14:53:22.623701', 0)
(3, 'CPU', 57.0, '2022-09-14 14:53:22.641689', 0)
(4, 'Mouse', 58.0, '2022-09-14 14:53:22.685662', 1)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(6, 'Monitor', 53.0, '2022-09-14 14:53:22.736631', 1)

In [22]:
# Alias
# São mudanças dos nomes de colunas e tabelas.
# Utiliza-se aspas quando o aliás tem espaço.

Query = "SELECT Produto AS 'Nome do Produto' FROM random_table AS Produtos"

Execute_and_Show(Query,arquivo)

('Nome do Produto', None, None, None, None, None, None)

('CPU',)
('Monitor',)
('CPU',)
('Mouse',)
('Teclado',)
('Monitor',)
('Teclado',)
('Teclado',)
('Monitor',)
('Mouse',)
('Teclado',)
('CPU',)
('Mouse',)
('CPU',)
('Monitor',)
('Teclado',)
('Teclado',)
('Monitor',)
('Mouse',)
('Teclado',)

Join

![](../ArquivosParalelos/Join_types.png)

Different Types of SQL JOINs

* (INNER) JOIN: _Retorna registros compatíveis com ambas as tabelas;_
* LEFT (OUTER) JOIN: _Retorna todos os registros da tabela à esquerda, e os registros compatíveis da tabela à direita;_
* RIGHT (OUTER) JOIN: _Retorna todos os registros da tabela à direita, e os registros compatíveis da tabela à esquerda;_
* FULL (OUTER) JOIN: _Retorna todos os registros quando há compatibilidade em qualquer tabela._

In [23]:
Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM child_table JOIN random_table 
    ON child_table.ProdutoID = random_table.ID
    '''


Execute_and_Show(Query,arquivo)

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(16.0, '2022-09-14 14:53:32.427615', 'CPU')
(0.0, '2022-09-14 14:53:32.433611', 'Monitor')
(3.0, '2022-09-14 14:53:32.438610', 'CPU')
(7.0, '2022-09-14 14:53:32.444604', 'Monitor')
(7.0, '2022-09-14 14:53:32.457597', 'Monitor')
(12.0, '2022-09-14 14:53:32.462593', 'CPU')
(19.0, '2022-09-14 14:53:32.468590', 'Teclado')
(17.0, '2022-09-14 14:53:32.474586', 'CPU')
(12.0, '2022-09-14 14:53:32.479583', 'Teclado')
(0.0, '2022-09-14 14:53:32.485579', 'Teclado')
(21.0, '2022-09-14 14:53:32.525557', 'Mouse')
(19.0, '2022-09-14 14:53:32.536548', 'CPU')
(7.0, '2022-09-14 14:53:32.542545', 'Mouse')
(16.0, '2022-09-14 14:53:32.552538', 'Monitor')
(4.0, '2022-09-14 14:53:32.559533', 'CPU')
(22.0, '2022-09-14 14:53:32.564530', 'CPU')
(10.0, '2022-09-14 14:53:32.586516', 'Monitor')
(4.0, '2022-09-14 14:53:32.593512', 'Teclado')
(5.0, '2022-09-14 14:53:32.598509', 'CPU')
(1.0, '2022-09-14 14:53:32.604506', 'CPU')
(12.0, '2022-09-14 14:53:32.622495', 'Monitor')
(4.0, '2022-09-14 14:53:32.630489', 'CPU')
(14.0, '2022-09-14 14:53:32.647479', 'Monitor')
(23.0, '2022-09-14 14:53:32.668466', 'Teclado')
(11.0, '2022-09-14 14:53:32.674463', 'CPU')
(8.0, '2022-09-14 14:53:32.680458', 'Mouse')
(6.0, '2022-09-14 14:53:32.686455', 'CPU')
(17.0, '2022-09-14 14:53:32.692452', 'Teclado')
(12.0, '2022-09-14 14:53:32.697448', 'Mouse')
(6.0, '2022-09-14 14:53:32.703445', 'Teclado')

In [24]:
# Como todos os registros na tabela child_table possuem valores para a coluna ProdutoID que correspondem a algum valor na tabela random_table, o LEfT JOIN presentaria o mesmo resultado do INNER JOIN.

In [25]:
# RIGH JOIN

Query = '''
    SELECT 
    child_table.Desconto, child_table.Data, random_table.Produto 
    FROM random_table LEFT JOIN child_table 
    ON child_table.ProdutoID = random_table.ID
    '''
    
Execute_and_Show(Query,arquivo)

# Os valores None mostrados são registros em random_table que não possuem correspondência em child_table.

('Desconto', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)

(17.0, '2022-09-14 14:53:32.474586', 'CPU')
(14.0, '2022-09-14 14:53:32.647479', 'Monitor')
(4.0, '2022-09-14 14:53:32.630489', 'CPU')
(11.0, '2022-09-14 14:53:32.674463', 'CPU')
(12.0, '2022-09-14 14:53:32.462593', 'CPU')
(16.0, '2022-09-14 14:53:32.427615', 'CPU')
(19.0, '2022-09-14 14:53:32.536548', 'CPU')
(21.0, '2022-09-14 14:53:32.525557', 'Mouse')
(4.0, '2022-09-14 14:53:32.593512', 'Teclado')
(0.0, '2022-09-14 14:53:32.433611', 'Monitor')
(19.0, '2022-09-14 14:53:32.468590', 'Teclado')
(6.0, '2022-09-14 14:53:32.703445', 'Teclado')
(12.0, '2022-09-14 14:53:32.479583', 'Teclado')
(7.0, '2022-09-14 14:53:32.457597', 'Monitor')
(None, None, 'Mouse')
(None, None, 'Teclado')
(4.0, '2022-09-14 14:53:32.559533', 'CPU')
(5.0, '2022-09-14 14:53:32.598509', 'CPU')
(6.0, '2022-09-14 14:53:32.686455', 'CPU')
(None, None, 'Mouse')
(1.0, '2022-09-14 14:53:32.604506', 'CPU')
(3.0, '2022-09-14 14:53:32.438610', 'CPU')
(22.0, '2022-09-14 14:53:32.564530', 'CPU')
(7.0, '2022-09-14 14:53:32.444604', 'Monitor')
(12.0, '2022-09-14 14:53:32.622495', 'Monitor')
(None, None, 'Teclado')
(17.0, '2022-09-14 14:53:32.692452', 'Teclado')
(23.0, '2022-09-14 14:53:32.668466', 'Teclado')
(10.0, '2022-09-14 14:53:32.586516', 'Monitor')
(16.0, '2022-09-14 14:53:32.552538', 'Monitor')
(7.0, '2022-09-14 14:53:32.542545', 'Mouse')
(8.0, '2022-09-14 14:53:32.680458', 'Mouse')
(12.0, '2022-09-14 14:53:32.697448', 'Mouse')
(0.0, '2022-09-14 14:53:32.485579', 'Teclado')

LEFT e OUTHER JOIN não são suportados no SQLite3

In [26]:
#UNION
# Uma forma de juntar dois SELECT Queries de forma concatenada.
# Ambos as seleções precisam ter o mesmo tipo de dados.


Query = '''
    SELECT Desconto FROM child_table
    UNION
    SELECT Valor FROM random_table
    '''
    
Execute_and_Show(Query,arquivo)

## UNION não retorna valores duplicados, mas UNION ALL sim.

('Desconto', None, None, None, None, None, None)

(0.0,)
(1.0,)
(3.0,)
(4.0,)
(5.0,)
(6.0,)
(7.0,)
(8.0,)
(10.0,)
(11.0,)
(12.0,)
(14.0,)
(16.0,)
(17.0,)
(19.0,)
(21.0,)
(22.0,)
(23.0,)
(50.0,)
(53.0,)
(55.0,)
(57.0,)
(58.0,)
(60.0,)
(62.0,)
(65.0,)
(67.0,)
(69.0,)
(71.0,)
(74.0,)
(77.0,)
(83.0,)
(86.0,)
(91.0,)
(98.0,)

In [27]:
# GROUP BY
# Usado para agrupar em apenas valores distintos
# Mostra apenas o primeiro valor de cada incidência


Query = 'SELECT * FROM random_table GROUP BY Produto'

Execute_and_Show(Query,arquivo)

# Quando selecionado um agregador (contagem, soma, média), gera uma coluna que considera várias entradas na mesma instância.
# No exemplo abaixo, mostra quantos registros e a média de valor de cada tipo de produto na tabela.

Query = 'SELECT Produto, COUNT(*) AS "Quantidade", AVG(Valor) AS "Média" FROM random_table GROUP BY Produto'
Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(2, 'Monitor', 60.0, '2022-09-14 14:53:22.623701', 0)
(4, 'Mouse', 58.0, '2022-09-14 14:53:22.685662', 1)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
('Produto', None, None, None, None, None, None)
('Quantidade', None, None, None, None, None, None)
('Média', None, None, None, None, None, None)

('CPU', 4, 78.25)
('Monitor', 5, 57.4)
('Mouse', 4, 61.5)
('Teclado', 7, 73.14285714285714)

In [28]:
# HAVING
# Ao agrupar, se um dos agregadores for usado como filtro.
# Similar ao WHERE

Query = '''
        SELECT 
        Produto, 
        COUNT(*) AS "Quantidade", 
        AVG(Valor) AS "Média" 
        FROM random_table 
        GROUP BY Produto
        HAVING AVG(Valor) > 80
        '''
Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Quantidade', None, None, None, None, None, None)
('Média', None, None, None, None, None, None)

### Criação e Queda
<a id='Criação'></a>

In [29]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [30]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [31]:
# Elimina tabela se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 5', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: child_table', 'tbl_name: child_table', 'rootpage: 4', 'sql: CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID))']

In [59]:
# CREATE TABLE AS SELECT
# Cria tabela igual a outra tabela

Query = 'CREATE TABLE IF NOT EXISTS copy_table AS SELECT * FROM random_table'

Execute_and_Commit(Query,arquivo,'copy_table')

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [60]:
### NOT IMPLEMENTED ###

# SELECT INTO

# Cria uma nova tabela no banco de dados a partir de uma seleção.

Query = '''
        SELECT ID as ProdutoID, Valor, Data  
        INTO copy_table
        FROM random_table
        '''


#Execute_and_Commit(Query,arquivo,'sqlite_master')

OperationalError: near "INTO": syntax error

In [ ]:
# INSERT INTO SELECT
# Copia dados de uma tabela e insere em outra tabela

Query = ''

### Adição e Remoção
<a id='Adição'></a>

In [33]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 3', 'Produto: CPU', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.641689', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.685662', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 6', 'Produto: Monitor', 'Valor: 53.0', 'Data: 2022-09-14 14:53:22.736631', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 9', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-14 14:53:22.776605', 'Vendido: 1']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.792595', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 55.0', 'Data: 2022-09-14 14:53:22.812583', 'Vendido: 1']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.894532', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [34]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 3', 'Produto: CPU', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.641689', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.685662', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 6', 'Produto: Monitor', 'Valor: 53.0', 'Data: 2022-09-14 14:53:22.736631', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 9', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-14 14:53:22.776605', 'Vendido: 1']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.792595', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 55.0', 'Data: 2022-09-14 14:53:22.812583', 'Vendido: 1']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.894532', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [35]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 3', 'Produto: CPU', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.641689', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.685662', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 6', 'Produto: Monitor', 'Valor: 53.0', 'Data: 2022-09-14 14:53:22.736631', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 9', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-14 14:53:22.776605', 'Vendido: 1']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.792595', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 55.0', 'Data: 2022-09-14 14:53:22.812583', 'Vendido: 1']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.894532', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-14 14:53:48.904589', 'Vendido: 0']

In [36]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 3', 'Produto: CPU', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.641689', 'Vendido: 0']
['ID: 4', 'Produto: Mouse', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.685662', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 6', 'Produto: Monitor', 'Valor: 53.0', 'Data: 2022-09-14 14:53:22.736631', 'Vendido: 1']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 9', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-14 14:53:22.776605', 'Vendido: 1']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 11', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-14 14:53:22.792595', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 55.0', 'Data: 2022-09-14 14:53:22.812583', 'Vendido: 1']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 57.0', 'Data: 2022-09-14 14:53:22.894532', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-14 14:53:48.904589', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-14 14:53:49.375296', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-14 14:53:49.375296', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-14 14:53:49.375296', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-14 14:53:49.375296', 'Vendido: 1']

In [37]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-14 14:53:48.904589', 'Vendido: 0']

In [38]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Monitor', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-14 14:53:48.904589', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [39]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 2', 'Produto: Cabos', 'Valor: 60.0', 'Data: 2022-09-14 14:53:22.623701', 'Vendido: 0']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-14 14:53:48.904589', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [40]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 98.0)
('CPU', 91.0)
('Monitor', 67.0)
('CPU', 91.0)
('CPU', 120.0)

In [41]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('CPU', 98.0)
('CPU', 91.0)
('CPU', 91.0)
('CPU', 120.0)

In [42]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)

In [43]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)


('name', None, None, None, None, None, None)

('random_table',)

In [44]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [45]:
# LIKE e Wildcards (coringas)
# LIKE, em filtros WHERE, é usado em substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    # '%' representa/substitui qualquer número de quaisquer caracteres.
    # '_' representa/substitui exatamente um caractere qualquer.

Query = "SELECT Produto, Valor FROM random_table WHERE Produto LIKE '_o%'"
# Filtra linhas cujos valores na coluna "Produto" têm a letra "o" como segunda letra

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)

('Mouse', 71.0)
('Monitor', 67.0)
('Mouse', 62.0)

In [46]:
# IN É usado em substituição ao sinal '=' em cláusulas que usam WHERE.
# É exigido quando vários valores são pssíveis, ou qundo uma declaração é dada como comparação.

Query = "SELECT * FROM random_table WHERE Produto IN (SELECT Produto FROM random_table)"
# Como NULL não é um valor, ele não pode ser usado como critério para filtrar os dados.

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(2, 'Cabos', 60.0, '2022-09-14 14:53:22.623701', 0)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)
(8, 'Teclado', 86.0, '2022-09-14 14:53:22.765613', 0)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(12, 'CPU', 98.0, '2022-09-14 14:53:22.805587', 0)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(15, 'Monitor', 67.0, '2022-09-14 14:53:22.841566', 0)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(17, 'Teclado', 77.0, '2022-09-14 14:53:22.874545', 0)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-14 14:53:48.904589', 0)

In [47]:
# Filtrando valores dentro de uma faixa.
# BETWEEN AND

Query = "SELECT * FROM random_table WHERE Valor BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

print()


Query = "SELECT * FROM random_table WHERE Valor NOT BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)
(8, 'Teclado', 86.0, '2022-09-14 14:53:22.765613', 0)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(15, 'Monitor', 67.0, '2022-09-14 14:53:22.841566', 0)
(17, 'Teclado', 77.0, '2022-09-14 14:53:22.874545', 0)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(2, 'Cabos', 60.0, '2022-09-14 14:53:22.623701', 0)
(12, 'CPU', 98.0, '2022-09-14 14:53:22.805587', 0)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-14 14:53:48.904589', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [48]:
# EXISTS
# Testa se algum valor é encontrado em certa seleção. Retornará "True" desde que haja ao menos um valor

Query = 'select * from random_table WHERE EXISTS (select * from random_table where valor < 40)'

Execute_and_Show(Query,arquivo)
print('/n/n')

# NOT EXISTS
# Testa se algum valor é encontrado em certa seleção. Retornará "True" desde que  não haja qualquer registro retornado.

Query = 'select * from random_table WHERE NOT EXISTS (select * from random_table where valor < 40)'

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

/n/n
('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)

(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1)
(2, 'Cabos', 60.0, '2022-09-14 14:53:22.623701', 0)
(5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0)
(7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)
(8, 'Teclado', 86.0, '2022-09-14 14:53:22.765613', 0)
(10, 'Mouse', 71.0, '2022-09-14 14:53:22.784601', 1)
(12, 'CPU', 98.0, '2022-09-14 14:53:22.805587', 0)
(14, 'CPU', 91.0, '2022-09-14 14:53:22.824575', 1)
(15, 'Monitor', 67.0, '2022-09-14 14:53:22.841566', 0)
(16, 'Teclado', 65.0, '2022-09-14 14:53:22.856555', 1)
(17, 'Teclado', 77.0, '2022-09-14 14:53:22.874545', 0)
(19, 'Mouse', 62.0, '2022-09-14 14:53:22.911523', 1)
(20, 'Teclado', 69.0, '2022-09-14 14:53:22.923517', 1)
(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400', 1)
(22, 'CPU', 120.0, '2022-09-03 16:26:28.564400', 0)
(23, 'Câmera', 66.0, '2022-09-14 14:53:48.904589', 0)
(28, None, 120.0, '2022-09-03 16:26:28.564400', 0)

In [49]:
### BUG

# ANY e ALL
# procedem um operador lógico e comportam uma query de seleção

Query = 'SELECT ID from random_table where ID = ANY (SELECT ProdutoID FROM child_table WHERE Desconto < 10)'

#Execute_and_Show(Query,arquivo)


Query = 'SELECT * from random_table where ID = ALL (SELECT ProdutoID FROM child_table WHERE Desconto < 10)'

#Execute_and_Show(Query,arquivo)

### Valores Únicos / Agregadores

In [50]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (DISTINCT Produto)', None, None, None, None, None, None)

(6,)

('COUNT (*)', None, None, None, None, None, None)

(9,)

In [51]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('MIN (Valor)', None, None, None, None, None, None)

(60.0,)

In [52]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('AVG (Valor)', None, None, None, None, None, None)

(80.41176470588235,)

In [53]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

('SUM (Valor)', None, None, None, None, None, None)

(1367.0,)

## Sobre o SQLite3

Conexão com a memória.

In [54]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [55]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.613707', 'Vendido: 1']
['ID: 5', 'Produto: Teclado', 'Valor: 74.0', 'Data: 2022-09-14 14:53:22.718642', 'Vendido: 0']
['ID: 7', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-14 14:53:22.747624', 'Vendido: 0']
['ID: 8', 'Produto: Teclado', 'Valor: 86.0', 'Data: 2022-09-14 14:53:22.765613', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 71.0', 'Data: 2022-09-14 14:53:22.784601', 'Vendido: 1']
['ID: 12', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-14 14:53:22.805587', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-14 14:53:22.824575', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 67.0', 'Data: 2022-09-14 14:53:22.841566', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 65.0', 'Data: 2022-09-14 14:53:22.856555', 'Vendido: 1']
['ID: 17', 'Produto: Teclado', 'Valor: 77.0', 'Data: 2022-09-14 14:53:22.874545', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 62.0', 'Data: 2022-09-14 14:53:22.911523', 'Vendido: 1']
['ID: 20', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-14 14:53:22.923517', 'Vendido: 1']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 28', 'Produto: None', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

Características do comando .fetchall()

In [56]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

Empty Fetched Data: []
Stored Fetched Data: [(1, 'CPU', 67.0, '2022-09-14 14:53:22.613707', 1), (5, 'Teclado', 74.0, '2022-09-14 14:53:22.718642', 0), (7, 'Teclado', 83.0, '2022-09-14 14:53:22.747624', 0)]

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.