# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela-pai aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 66, datetime.datetime(2022, 9, 7, 21, 50, 16, 265641), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 61, datetime.datetime(2022, 9, 7, 21, 50, 16, 278633), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 60, datetime.datetime(2022, 9, 7, 21, 50, 16, 293624), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 57, datetime.datetime(2022, 9, 7, 21, 50, 16, 341594), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 99, datetime.datetime(2022, 9, 7, 21, 50, 16, 404555), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 57, datetime.datetime(2022, 9, 7, 21, 50, 16, 427540), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 96, datetime.datetime(2022, 9, 7, 21, 50, 16, 443531), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 68, datetime.datetime(2022, 9, 7, 21, 50, 16, 453524), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 94, datetime.datetime(2022, 9, 7, 21, 50, 16, 463518), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 70, datetime.datetime(2022, 9, 7, 21, 50, 16, 476510), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 80, datetime.datetime(2022, 9, 7, 21, 50, 16, 485505), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 77, datetime.datetime(2022, 9, 7, 21, 50, 16, 505492), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 76, datetime.datetime(2022, 9, 7, 21, 50, 16, 518485), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 78, datetime.datetime(2022, 9, 7, 21, 50, 16, 534475), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 66, datetime.datetime(2022, 9, 7, 21, 50, 16, 549466), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 89, datetime.datetime(2022, 9, 7, 21, 50, 16, 559460), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 77, datetime.datetime(2022, 9, 7, 21, 50, 16, 570453), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 97, datetime.datetime(2022, 9, 7, 21, 50, 16, 579446), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 77, datetime.datetime(2022, 9, 7, 21, 50, 16, 592439), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 84, datetime.datetime(2022, 9, 7, 21, 50, 16, 602433), 1)

In [8]:
Query = "SELECT Produto FROM random_table"

print(sqlite3.connect(arquivo).cursor().execute(Query).fetchall())

[('Mouse',), ('Teclado',), ('Teclado',), ('Monitor',), ('Monitor',), ('Teclado',), ('Teclado',), ('CPU',), ('Teclado',), ('Teclado',), ('CPU',), ('Monitor',), ('Teclado',), ('Monitor',), ('Monitor',), ('CPU',), ('Mouse',), ('Teclado',), ('Teclado',), ('Monitor',)]

In [9]:
# Criando uma tabela-filha aletória

Produtos = sqlite3.connect(arquivo).cursor().execute("SELECT ID FROM random_table").fetchall()
ProdID = [i[0] for i in Produtos]
#for i in Produtos:
#    ProdID.append(i[0])
print(ProdID)

Query = "CREATE TABLE child_table (ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Desconto REAL, Data DATE, ProdutoID INTEGER NOT NULL, FOREIGN KEY (ProdutoID) REFERENCES random_table(ID)"

sqlite3.connect(arquivo).cursor().execute(Query)

n=20
for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_value = random.randrange(0,25) #Escolhe um preço para ser um valor do item.
    new_from_list = random.choice(ProdID) #Escolhe um valor bit aleatório

    valores = (new_value,new_date,new_from_list)

    data_insert_var(arquivo,'child_table',('Desconto','Data','ProdutoID'),valores)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

OperationalError: incomplete input

In [ ]:
# Vendo a tabela.

showall(arquivo,tabela)

In [ ]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    print()
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [ ]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [ ]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

In [ ]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

In [ ]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

In [ ]:
# Selecionar os nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

In [ ]:
# DISTINCT
# Filtra os dados repetidos
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

In [ ]:
# Ordenar / Organizar
# ORDER BY
# A ordem não precisa ser guiada por uma das colunas selecionadas.

Query = "SELECT * FROM random_table ORDER BY Produto"

Execute_and_Show(Query,arquivo)

In [ ]:
# Ordem decrescente
# DESC | ASC

Query = "SELECT DISTINCT Produto FROM random_table ORDER BY Produto DESC"

Execute_and_Show(Query,arquivo)

In [ ]:
# Limitar o número e resultados
# Apenas os X primeiros resultados são revelados.

Query = "SELECT * FROM random_table LIMIT 6"

Execute_and_Show(Query,arquivo)

In [ ]:
# Alias
# São mudanças dos nomes de colunas e tabelas.
# Utiliza-se aspas quando o aliás tem espaço.

Query = "SELECT Produto AS 'Nome do Produto' FROM random_table AS Produtos"

Execute_and_Show(Query,arquivo)

### Criação e Queda
<a id='Criação'></a>

In [ ]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

In [ ]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

In [ ]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

### Adição e Remoção
<a id='Adição'></a>

In [ ]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

In [ ]:
# Inserir definindo valor e coluna
# "INSERT INTO tabela ('coluna', 'coluna', 'coluna') VALUES ('valor', 'valor', 'valor')"

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

In [ ]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

In [ ]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

In [ ]:
# Deletar dado
# Sem filtro, deleta todos os dados.

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

In [ ]:
# Valores NULL

Query = "INSERT INTO random_table('Valor','Data','Vendido') VALUES(120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

# Em Python é apresentado como None
# Como o ID tem Autoincremento, esse valor não fica nulo.
# O tratamento de variáveis nulas é demonstrada em "Filtros e Operadores Lógicos"

### Alteração
<a id='Alteração'></a>

In [ ]:
# Mudança de valor
# UPDATE/SET
# Sem filtro, altera todos os dados.

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [ ]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

In [ ]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

In [ ]:
# NOT
# Deve ser usado antes da condição

Query = "SELECT * FROM random_table WHERE NOT Produto = 'Monitor' AND NOT Vendido = 0"

Execute_and_Show(Query,arquivo)

In [ ]:
# Variável SE

In [ ]:
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

In [ ]:
# Tratamendo de valores nulos
# IS NULL | IS NOT NULL

Query = "SELECT * FROM random_table WHERE Produto IS NULL"

Execute_and_Show(Query,arquivo)

In [ ]:
# LIKE e Wildcards (coringas)
# LIKE, em filtros WHERE, é usado em substituição do sinal '=', quando o que segue é uma wildcard.
# Wildcards se parecem com variáveis Regex
    # '%' representa/substitui qualquer número de quaisquer caracteres.
    # '_' representa/substitui exatamente um caractere qualquer.

Query = "SELECT Produto, Valor FROM random_table WHERE Produto LIKE '_o%'"
# Filtra linhas cujos valores na coluna "Produto" têm a letra "o" como segunda letra

Execute_and_Show(Query,arquivo)

In [ ]:
# IN É usado em substituição ao sinal '=' em cláusulas que usam WHERE.
# É exigido quando vários valores são pssíveis, ou qundo uma declaração é dada como comparação.

Query = "SELECT * FROM random_table WHERE Produto IN (SELECT Produto FROM random_table)"
# Como NULL não é um valor, ele não pode ser usado como critério para filtrar os dados.

Execute_and_Show(Query,arquivo)

In [ ]:
# Filtrando valores dentro de uma faixa.
# BETWEEN AND

Query = "SELECT * FROM random_table WHERE Valor BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

print()


Query = "SELECT * FROM random_table WHERE Valor NOT BETWEEN 67 AND 90"

Execute_and_Show(Query,arquivo)

### Valores Únicos

In [ ]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)


print()     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###     ###


# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

In [ ]:
# Mínimo e Máximo
# MIN | MAX

Query = "SELECT MIN (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

In [ ]:
# Média
# AVG

Query = "SELECT AVG (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

In [ ]:
# Soma
# SUM

Query = "SELECT SUM (Valor) FROM random_table"

Execute_and_Show(Query,arquivo)

## Sobre o SQLite3

Conexão com a memória.

In [ ]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [ ]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

Características do comando .fetchall()

In [ ]:
# O comando .fetchall é descartável. Depois de executado, torna-se uma lista vazia.

Query = "SELECT * FROM random_table LIMIT 3"

curs = sqlite3.connect(arquivo).cursor()
curs.execute(Query)

Stored_Data = curs.fetchall()                         # Aqui o Fetchall é utilizado, armazenando a lista numa variável.

print('Empty Fetched Data:',curs.fetchall())          # Aqui ele é impresso como uma lista vazi


print('Stored Fetched Data:',Stored_Data)


curs.close()

### Erros e Exceções

* *DatabaseError*
   * Qualquer erro relacionado ao banco de dados.

* *IntegrityError*
  * É uma subclasse de _DatabaseError_ e surge quando há problema de integridade de dados. Por exemplo, dados extrangeiros não estão atualizados em todas as tabelas resultando na inconsistência dos dados.

* *ProgrammingError*
  * Surge quando há erro de sintaxe, ou a tabela não é encontrada, ou a função é evocada com o número errado de parâmetros/argumentos.

* *OperationalError*
   * Esta exceção surge quando as operações do banco de dados falham; por exemplo, desconexão não usual. Não é culpa do programador.

* *NotSupportedError*
   * Quando você usa algum método que não está definido ou não é suportado pelo banco de dados.