# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 62, datetime.datetime(2022, 9, 3, 21, 0, 4, 379955))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 73, datetime.datetime(2022, 9, 3, 21, 0, 4, 387941))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 90, datetime.datetime(2022, 9, 3, 21, 0, 4, 393935))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 54, datetime.datetime(2022, 9, 3, 21, 0, 4, 399932))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 79, datetime.datetime(2022, 9, 3, 21, 0, 4, 405927))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 58, datetime.datetime(2022, 9, 3, 21, 0, 4, 410924))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 81, datetime.datetime(2022, 9, 3, 21, 0, 4, 421919))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 81, datetime.datetime(2022, 9, 3, 21, 0, 4, 426915))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 56, datetime.datetime(2022, 9, 3, 21, 0, 4, 434912))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 96, datetime.datetime(2022, 9, 3, 21, 0, 4, 439906))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 97, datetime.datetime(2022, 9, 3, 21, 0, 4, 444904))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 3, 21, 0, 4, 451899))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 72, datetime.datetime(2022, 9, 3, 21, 0, 4, 456897))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 86, datetime.datetime(2022, 9, 3, 21, 0, 4, 463892))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 87, datetime.datetime(2022, 9, 3, 21, 0, 4, 469888))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 92, datetime.datetime(2022, 9, 3, 21, 0, 4, 474885))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 87, datetime.datetime(2022, 9, 3, 21, 0, 4, 485884))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 64, datetime.datetime(2022, 9, 3, 21, 0, 4, 491955))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 51, datetime.datetime(2022, 9, 3, 21, 0, 4, 498957))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 91, datetime.datetime(2022, 9, 3, 21, 0, 4, 503982))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-03 21:00:04.379955']
['ID: 2', 'Produto: Teclado', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.387941']
['ID: 3', 'Produto: Monitor', 'Valor: 90.0', 'Data: 2022-09-03 21:00:04.393935']
['ID: 4', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-03 21:00:04.399932']
['ID: 5', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 21:00:04.405927']
['ID: 6', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-03 21:00:04.410924']
['ID: 7', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.421919']
['ID: 8', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.426915']
['ID: 9', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 21:00:04.434912']
['ID: 10', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-03 21:00:04.439906']
['ID: 11', 'Produto: Mouse', 'Valor: 97.0', 'Data: 2022-09-03 21:00:04.444904']
['ID: 12', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.451899']
['ID: 13', 'Produto: Mouse', 'Valor: 72.0', 'Data: 2022-09-03 21:00:04.456897']
['ID: 14', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 21:00:04.463892']
['ID: 15', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.469888']
['ID: 16', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-03 21:00:04.474885']
['ID: 17', 'Produto: Monitor', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.485884']
['ID: 18', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-03 21:00:04.491955']
['ID: 19', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-03 21:00:04.498957']
['ID: 20', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 21:00:04.503982']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'CPU', 62.0, '2022-09-03 21:00:04.379955')
(2, 'Teclado', 73.0, '2022-09-03 21:00:04.387941')
(3, 'Monitor', 90.0, '2022-09-03 21:00:04.393935')
(4, 'CPU', 54.0, '2022-09-03 21:00:04.399932')
(5, 'CPU', 79.0, '2022-09-03 21:00:04.405927')
(6, 'Teclado', 58.0, '2022-09-03 21:00:04.410924')
(7, 'Teclado', 81.0, '2022-09-03 21:00:04.421919')
(8, 'Teclado', 81.0, '2022-09-03 21:00:04.426915')
(9, 'CPU', 56.0, '2022-09-03 21:00:04.434912')
(10, 'CPU', 96.0, '2022-09-03 21:00:04.439906')
(11, 'Mouse', 97.0, '2022-09-03 21:00:04.444904')
(12, 'CPU', 73.0, '2022-09-03 21:00:04.451899')
(13, 'Mouse', 72.0, '2022-09-03 21:00:04.456897')
(14, 'Mouse', 86.0, '2022-09-03 21:00:04.463892')
(15, 'Mouse', 87.0, '2022-09-03 21:00:04.469888')
(16, 'Monitor', 92.0, '2022-09-03 21:00:04.474885')
(17, 'Monitor', 87.0, '2022-09-03 21:00:04.485884')
(18, 'CPU', 64.0, '2022-09-03 21:00:04.491955')
(19, 'Mouse', 51.0, '2022-09-03 21:00:04.498957')
(20, 'CPU', 91.0, '2022-09-03 21:00:04.503982')

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 62.0)
('Teclado', 73.0)
('Monitor', 90.0)
('CPU', 54.0)
('CPU', 79.0)
('Teclado', 58.0)
('Teclado', 81.0)
('Teclado', 81.0)
('CPU', 56.0)
('CPU', 96.0)
('Mouse', 97.0)
('CPU', 73.0)
('Mouse', 72.0)
('Mouse', 86.0)
('Mouse', 87.0)
('Monitor', 92.0)
('Monitor', 87.0)
('CPU', 64.0)
('Mouse', 51.0)
('CPU', 91.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 62.0)
('Monitor', 90.0)
('CPU', 54.0)
('CPU', 79.0)
('CPU', 56.0)
('CPU', 96.0)
('CPU', 73.0)
('Monitor', 92.0)
('Monitor', 87.0)
('CPU', 64.0)
('CPU', 91.0)

In [14]:
# Selecionaros nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('random_table',)
('sqlite_sequence',)

### Criação
<a id='Criação'></a>

### Adição
<a id='Adição'></a>

In [15]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo)

In [16]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo)

In [17]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

In [18]:
showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-03 21:00:04.379955']
['ID: 2', 'Produto: Teclado', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.387941']
['ID: 3', 'Produto: Monitor', 'Valor: 90.0', 'Data: 2022-09-03 21:00:04.393935']
['ID: 4', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-03 21:00:04.399932']
['ID: 5', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 21:00:04.405927']
['ID: 6', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-03 21:00:04.410924']
['ID: 7', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.421919']
['ID: 8', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.426915']
['ID: 9', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 21:00:04.434912']
['ID: 10', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-03 21:00:04.439906']
['ID: 11', 'Produto: Mouse', 'Valor: 97.0', 'Data: 2022-09-03 21:00:04.444904']
['ID: 12', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.451899']
['ID: 13', 'Produto: Mouse', 'Valor: 72.0', 'Data: 2022-09-03 21:00:04.456897']
['ID: 14', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 21:00:04.463892']
['ID: 15', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.469888']
['ID: 16', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-03 21:00:04.474885']
['ID: 17', 'Produto: Monitor', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.485884']
['ID: 18', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-03 21:00:04.491955']
['ID: 19', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-03 21:00:04.498957']
['ID: 20', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 21:00:04.503982']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 21:00:05.220248']

### Alteração
<a id='Alteração'></a>

In [19]:
Query = "UPDATE random_table SET produto = 'Cabos' where id = 2"

Execute_and_Commit(Query,arquivo)

In [20]:
showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-03 21:00:04.379955']
['ID: 2', 'Produto: Cabos', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.387941']
['ID: 3', 'Produto: Monitor', 'Valor: 90.0', 'Data: 2022-09-03 21:00:04.393935']
['ID: 4', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-03 21:00:04.399932']
['ID: 5', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 21:00:04.405927']
['ID: 6', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-03 21:00:04.410924']
['ID: 7', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.421919']
['ID: 8', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.426915']
['ID: 9', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 21:00:04.434912']
['ID: 10', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-03 21:00:04.439906']
['ID: 11', 'Produto: Mouse', 'Valor: 97.0', 'Data: 2022-09-03 21:00:04.444904']
['ID: 12', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.451899']
['ID: 13', 'Produto: Mouse', 'Valor: 72.0', 'Data: 2022-09-03 21:00:04.456897']
['ID: 14', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 21:00:04.463892']
['ID: 15', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.469888']
['ID: 16', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-03 21:00:04.474885']
['ID: 17', 'Produto: Monitor', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.485884']
['ID: 18', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-03 21:00:04.491955']
['ID: 19', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-03 21:00:04.498957']
['ID: 20', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 21:00:04.503982']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 21:00:05.220248']

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [21]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 90.0)
('CPU', 96.0)
('Monitor', 92.0)
('Monitor', 87.0)
('CPU', 91.0)
('CPU', 91.0)
('CPU', 120.0)

In [22]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 96.0)
('Monitor', 92.0)
('CPU', 91.0)
('CPU', 91.0)
('CPU', 120.0)

## Sobre o SQLite3

Conexão com a memória.

In [23]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [24]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 62.0', 'Data: 2022-09-03 21:00:04.379955']
['ID: 3', 'Produto: Monitor', 'Valor: 90.0', 'Data: 2022-09-03 21:00:04.393935']
['ID: 4', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-03 21:00:04.399932']
['ID: 5', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-03 21:00:04.405927']
['ID: 6', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-03 21:00:04.410924']
['ID: 7', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.421919']
['ID: 8', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 21:00:04.426915']
['ID: 9', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 21:00:04.434912']
['ID: 10', 'Produto: CPU', 'Valor: 96.0', 'Data: 2022-09-03 21:00:04.439906']
['ID: 11', 'Produto: Mouse', 'Valor: 97.0', 'Data: 2022-09-03 21:00:04.444904']
['ID: 12', 'Produto: CPU', 'Valor: 73.0', 'Data: 2022-09-03 21:00:04.451899']
['ID: 13', 'Produto: Mouse', 'Valor: 72.0', 'Data: 2022-09-03 21:00:04.456897']
['ID: 14', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 21:00:04.463892']
['ID: 15', 'Produto: Mouse', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.469888']
['ID: 16', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-03 21:00:04.474885']
['ID: 17', 'Produto: Monitor', 'Valor: 87.0', 'Data: 2022-09-03 21:00:04.485884']
['ID: 18', 'Produto: CPU', 'Valor: 64.0', 'Data: 2022-09-03 21:00:04.491955']
['ID: 19', 'Produto: Mouse', 'Valor: 51.0', 'Data: 2022-09-03 21:00:04.498957']
['ID: 20', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 21:00:04.503982']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']