# Guia de Comandos SQL Aplicados em Python

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 67, datetime.datetime(2022, 9, 3, 18, 44, 12, 549824))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 68, datetime.datetime(2022, 9, 3, 18, 44, 12, 556821))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 81, datetime.datetime(2022, 9, 3, 18, 44, 12, 561814))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 88, datetime.datetime(2022, 9, 3, 18, 44, 12, 567811))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 66, datetime.datetime(2022, 9, 3, 18, 44, 12, 573810))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 88, datetime.datetime(2022, 9, 3, 18, 44, 12, 579803))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 86, datetime.datetime(2022, 9, 3, 18, 44, 12, 584800))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 83, datetime.datetime(2022, 9, 3, 18, 44, 12, 591796))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 82, datetime.datetime(2022, 9, 3, 18, 44, 12, 596793))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 98, datetime.datetime(2022, 9, 3, 18, 44, 12, 606788))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 74, datetime.datetime(2022, 9, 3, 18, 44, 12, 613787))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 76, datetime.datetime(2022, 9, 3, 18, 44, 12, 618781))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 75, datetime.datetime(2022, 9, 3, 18, 44, 12, 625776))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 68, datetime.datetime(2022, 9, 3, 18, 44, 12, 629772))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 76, datetime.datetime(2022, 9, 3, 18, 44, 12, 634769))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 52, datetime.datetime(2022, 9, 3, 18, 44, 12, 640766))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 85, datetime.datetime(2022, 9, 3, 18, 44, 12, 644763))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 59, datetime.datetime(2022, 9, 3, 18, 44, 12, 650761))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 85, datetime.datetime(2022, 9, 3, 18, 44, 12, 657755))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 56, datetime.datetime(2022, 9, 3, 18, 44, 12, 665752))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-03 18:44:12.549824']
['ID: 2', 'Produto: Monitor', 'Valor: 68.0', 'Data: 2022-09-03 18:44:12.556821']
['ID: 3', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 18:44:12.561814']
['ID: 4', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-03 18:44:12.567811']
['ID: 5', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-03 18:44:12.573810']
['ID: 6', 'Produto: Monitor', 'Valor: 88.0', 'Data: 2022-09-03 18:44:12.579803']
['ID: 7', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 18:44:12.584800']
['ID: 8', 'Produto: Monitor', 'Valor: 83.0', 'Data: 2022-09-03 18:44:12.591796']
['ID: 9', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 18:44:12.596793']
['ID: 10', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-03 18:44:12.606788']
['ID: 11', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-03 18:44:12.613787']
['ID: 12', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-03 18:44:12.618781']
['ID: 13', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-03 18:44:12.625776']
['ID: 14', 'Produto: Monitor', 'Valor: 68.0', 'Data: 2022-09-03 18:44:12.629772']
['ID: 15', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 18:44:12.634769']
['ID: 16', 'Produto: CPU', 'Valor: 52.0', 'Data: 2022-09-03 18:44:12.640766']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-03 18:44:12.644763']
['ID: 18', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-03 18:44:12.650761']
['ID: 19', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 18:44:12.657755']
['ID: 20', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 18:44:12.665752']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()

## Sobre o SQLite3

Conexão com a memória.

In [11]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

## Queries

### Demonstração

In [13]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'CPU', 67.0, '2022-09-03 18:44:12.549824')
(2, 'Monitor', 68.0, '2022-09-03 18:44:12.556821')
(3, 'Teclado', 81.0, '2022-09-03 18:44:12.561814')
(4, 'Mouse', 88.0, '2022-09-03 18:44:12.567811')
(5, 'Monitor', 66.0, '2022-09-03 18:44:12.573810')
(6, 'Monitor', 88.0, '2022-09-03 18:44:12.579803')
(7, 'Mouse', 86.0, '2022-09-03 18:44:12.584800')
(8, 'Monitor', 83.0, '2022-09-03 18:44:12.591796')
(9, 'Teclado', 82.0, '2022-09-03 18:44:12.596793')
(10, 'CPU', 98.0, '2022-09-03 18:44:12.606788')
(11, 'Monitor', 74.0, '2022-09-03 18:44:12.613787')
(12, 'Monitor', 76.0, '2022-09-03 18:44:12.618781')
(13, 'Monitor', 75.0, '2022-09-03 18:44:12.625776')
(14, 'Monitor', 68.0, '2022-09-03 18:44:12.629772')
(15, 'Mouse', 76.0, '2022-09-03 18:44:12.634769')
(16, 'CPU', 52.0, '2022-09-03 18:44:12.640766')
(17, 'CPU', 85.0, '2022-09-03 18:44:12.644763')
(18, 'Monitor', 59.0, '2022-09-03 18:44:12.650761')
(19, 'Teclado', 85.0, '2022-09-03 18:44:12.657755')
(20, 'CPU', 56.0, '2022-09-03 18:44:12.665752')

### Criação

### Adição

In [14]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo)

In [15]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo)

In [18]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

In [19]:
showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-03 18:44:12.549824']
['ID: 2', 'Produto: Monitor', 'Valor: 68.0', 'Data: 2022-09-03 18:44:12.556821']
['ID: 3', 'Produto: Teclado', 'Valor: 81.0', 'Data: 2022-09-03 18:44:12.561814']
['ID: 4', 'Produto: Mouse', 'Valor: 88.0', 'Data: 2022-09-03 18:44:12.567811']
['ID: 5', 'Produto: Monitor', 'Valor: 66.0', 'Data: 2022-09-03 18:44:12.573810']
['ID: 6', 'Produto: Monitor', 'Valor: 88.0', 'Data: 2022-09-03 18:44:12.579803']
['ID: 7', 'Produto: Mouse', 'Valor: 86.0', 'Data: 2022-09-03 18:44:12.584800']
['ID: 8', 'Produto: Monitor', 'Valor: 83.0', 'Data: 2022-09-03 18:44:12.591796']
['ID: 9', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 18:44:12.596793']
['ID: 10', 'Produto: CPU', 'Valor: 98.0', 'Data: 2022-09-03 18:44:12.606788']
['ID: 11', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-03 18:44:12.613787']
['ID: 12', 'Produto: Monitor', 'Valor: 76.0', 'Data: 2022-09-03 18:44:12.618781']
['ID: 13', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-03 18:44:12.625776']
['ID: 14', 'Produto: Monitor', 'Valor: 68.0', 'Data: 2022-09-03 18:44:12.629772']
['ID: 15', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 18:44:12.634769']
['ID: 16', 'Produto: CPU', 'Valor: 52.0', 'Data: 2022-09-03 18:44:12.640766']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-03 18:44:12.644763']
['ID: 18', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-03 18:44:12.650761']
['ID: 19', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 18:44:12.657755']
['ID: 20', 'Produto: CPU', 'Valor: 56.0', 'Data: 2022-09-03 18:44:12.665752']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 18:49:59.195669']

### Alteração

In [ ]:
Query = "UPDATE"