# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 76, datetime.datetime(2022, 9, 3, 22, 22, 58, 869397))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 77, datetime.datetime(2022, 9, 3, 22, 22, 58, 875392))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 54, datetime.datetime(2022, 9, 3, 22, 22, 58, 885386))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 85, datetime.datetime(2022, 9, 3, 22, 22, 58, 897380))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 76, datetime.datetime(2022, 9, 3, 22, 22, 58, 904374))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 82, datetime.datetime(2022, 9, 3, 22, 22, 58, 909371))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 59, datetime.datetime(2022, 9, 3, 22, 22, 58, 917373))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 50, datetime.datetime(2022, 9, 3, 22, 22, 58, 923363))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 3, 22, 22, 58, 928360))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 79, datetime.datetime(2022, 9, 3, 22, 22, 58, 940353))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 58, datetime.datetime(2022, 9, 3, 22, 22, 58, 946348))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 3, 22, 22, 58, 953344))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 72, datetime.datetime(2022, 9, 3, 22, 22, 58, 960340))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 53, datetime.datetime(2022, 9, 3, 22, 22, 58, 968335))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 84, datetime.datetime(2022, 9, 3, 22, 22, 58, 973331))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 81, datetime.datetime(2022, 9, 3, 22, 22, 58, 984324))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 61, datetime.datetime(2022, 9, 3, 22, 22, 58, 990322))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 95, datetime.datetime(2022, 9, 3, 22, 22, 58, 996318))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 59, datetime.datetime(2022, 9, 3, 22, 22, 59, 7312))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 80, datetime.datetime(2022, 9, 3, 22, 22, 59, 15306))

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 2', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-03 22:22:58.875392']
['ID: 3', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-03 22:22:58.885386']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 7', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-03 22:22:58.917373']
['ID: 8', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-03 22:22:58.923363']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 11', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-03 22:22:58.946348']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 14', 'Produto: Teclado', 'Valor: 53.0', 'Data: 2022-09-03 22:22:58.968335']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 19', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 22:22:59.007312']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'CPU', 76.0, '2022-09-03 22:22:58.869397')
(2, 'Mouse', 77.0, '2022-09-03 22:22:58.875392')
(3, 'Monitor', 54.0, '2022-09-03 22:22:58.885386')
(4, 'Teclado', 85.0, '2022-09-03 22:22:58.897380')
(5, 'Mouse', 76.0, '2022-09-03 22:22:58.904374')
(6, 'Teclado', 82.0, '2022-09-03 22:22:58.909371')
(7, 'Teclado', 59.0, '2022-09-03 22:22:58.917373')
(8, 'Teclado', 50.0, '2022-09-03 22:22:58.923363')
(9, 'Teclado', 69.0, '2022-09-03 22:22:58.928360')
(10, 'Monitor', 79.0, '2022-09-03 22:22:58.940353')
(11, 'CPU', 58.0, '2022-09-03 22:22:58.946348')
(12, 'Teclado', 69.0, '2022-09-03 22:22:58.953344')
(13, 'Teclado', 72.0, '2022-09-03 22:22:58.960340')
(14, 'Teclado', 53.0, '2022-09-03 22:22:58.968335')
(15, 'Monitor', 84.0, '2022-09-03 22:22:58.973331')
(16, 'CPU', 81.0, '2022-09-03 22:22:58.984324')
(17, 'CPU', 61.0, '2022-09-03 22:22:58.990322')
(18, 'CPU', 95.0, '2022-09-03 22:22:58.996318')
(19, 'CPU', 59.0, '2022-09-03 22:22:59.007312')
(20, 'CPU', 80.0, '2022-09-03 22:22:59.015306')

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 76.0)
('Mouse', 77.0)
('Monitor', 54.0)
('Teclado', 85.0)
('Mouse', 76.0)
('Teclado', 82.0)
('Teclado', 59.0)
('Teclado', 50.0)
('Teclado', 69.0)
('Monitor', 79.0)
('CPU', 58.0)
('Teclado', 69.0)
('Teclado', 72.0)
('Teclado', 53.0)
('Monitor', 84.0)
('CPU', 81.0)
('CPU', 61.0)
('CPU', 95.0)
('CPU', 59.0)
('CPU', 80.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 76.0)
('Monitor', 54.0)
('Monitor', 79.0)
('CPU', 58.0)
('Monitor', 84.0)
('CPU', 81.0)
('CPU', 61.0)
('CPU', 95.0)
('CPU', 59.0)
('CPU', 80.0)

In [14]:
# Selecionaros nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('random_table',)
('sqlite_sequence',)

In [25]:


Query = 'SELECT * FROM sqlite_sequence'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('seq', None, None, None, None, None, None)
('random_table', 23)

### Criação
<a id='Criação'></a>

In [27]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

OperationalError: table Exemplo already exists

In [28]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

### Adição e Remoção
<a id='Adição'></a>

In [15]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400')"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 2', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-03 22:22:58.875392']
['ID: 3', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-03 22:22:58.885386']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 7', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-03 22:22:58.917373']
['ID: 8', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-03 22:22:58.923363']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 11', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-03 22:22:58.946348']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 14', 'Produto: Teclado', 'Valor: 53.0', 'Data: 2022-09-03 22:22:58.968335']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 19', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 22:22:59.007312']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']

In [16]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400')"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 2', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-03 22:22:58.875392']
['ID: 3', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-03 22:22:58.885386']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 7', 'Produto: Teclado', 'Valor: 59.0', 'Data: 2022-09-03 22:22:58.917373']
['ID: 8', 'Produto: Teclado', 'Valor: 50.0', 'Data: 2022-09-03 22:22:58.923363']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 11', 'Produto: CPU', 'Valor: 58.0', 'Data: 2022-09-03 22:22:58.946348']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 14', 'Produto: Teclado', 'Valor: 53.0', 'Data: 2022-09-03 22:22:58.968335']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 19', 'Produto: CPU', 'Valor: 59.0', 'Data: 2022-09-03 22:22:59.007312']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']

In [17]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data') VALUES(?, ?, ?)"

Observação = ['Câmera',66,datetime.datetime.now()]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

In [18]:
# Deletar dado

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 2', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-03 22:22:58.875392']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 22:23:00.147639']

### Alteração
<a id='Alteração'></a>

In [19]:
# Mudança de valor

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 2', 'Produto: Cabos', 'Valor: 77.0', 'Data: 2022-09-03 22:22:58.875392']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-03 22:23:00.147639']

In [20]:
# Remover linha

Query

"UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [21]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 79.0)
('Monitor', 84.0)
('CPU', 95.0)
('CPU', 91.0)
('CPU', 120.0)

In [22]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('CPU', 95.0)
('CPU', 91.0)
('CPU', 120.0)

## Sobre o SQLite3

Conexão com a memória.

In [23]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [24]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

2

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.869397']
['ID: 4', 'Produto: Teclado', 'Valor: 85.0', 'Data: 2022-09-03 22:22:58.897380']
['ID: 5', 'Produto: Mouse', 'Valor: 76.0', 'Data: 2022-09-03 22:22:58.904374']
['ID: 6', 'Produto: Teclado', 'Valor: 82.0', 'Data: 2022-09-03 22:22:58.909371']
['ID: 9', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.928360']
['ID: 10', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-03 22:22:58.940353']
['ID: 12', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 22:22:58.953344']
['ID: 13', 'Produto: Teclado', 'Valor: 72.0', 'Data: 2022-09-03 22:22:58.960340']
['ID: 15', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-03 22:22:58.973331']
['ID: 16', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-03 22:22:58.984324']
['ID: 17', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 22:22:58.990322']
['ID: 18', 'Produto: CPU', 'Valor: 95.0', 'Data: 2022-09-03 22:22:58.996318']
['ID: 20', 'Produto: CPU', 'Valor: 80.0', 'Data: 2022-09-03 22:22:59.015306']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400']