# Guia de Comandos SQL Aplicados em Python

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [4]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [5]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [6]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 94, datetime.datetime(2022, 9, 3, 16, 0, 29, 352289))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 73, datetime.datetime(2022, 9, 3, 16, 0, 29, 357286))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 64, datetime.datetime(2022, 9, 3, 16, 0, 29, 365281))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 61, datetime.datetime(2022, 9, 3, 16, 0, 29, 373278))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 91, datetime.datetime(2022, 9, 3, 16, 0, 29, 383271))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 94, datetime.datetime(2022, 9, 3, 16, 0, 29, 388267))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 99, datetime.datetime(2022, 9, 3, 16, 0, 29, 394264))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 91, datetime.datetime(2022, 9, 3, 16, 0, 29, 403258))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 87, datetime.datetime(2022, 9, 3, 16, 0, 29, 408254))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 52, datetime.datetime(2022, 9, 3, 16, 0, 29, 415251))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 59, datetime.datetime(2022, 9, 3, 16, 0, 29, 420247))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 52, datetime.datetime(2022, 9, 3, 16, 0, 29, 425244))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 65, datetime.datetime(2022, 9, 3, 16, 0, 29, 437237))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 83, datetime.datetime(2022, 9, 3, 16, 0, 29, 442235))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 69, datetime.datetime(2022, 9, 3, 16, 0, 29, 449229))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 57, datetime.datetime(2022, 9, 3, 16, 0, 29, 457225))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 82, datetime.datetime(2022, 9, 3, 16, 0, 29, 465220))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 75, datetime.datetime(2022, 9, 3, 16, 0, 29, 473215))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 66, datetime.datetime(2022, 9, 3, 16, 0, 29, 483208))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 85, datetime.datetime(2022, 9, 3, 16, 0, 29, 491203))

In [7]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data']
['ID: 1', 'Produto: Monitor', 'Valor: 94.0', 'Data: 2022-09-03 16:00:29.352289']
['ID: 2', 'Produto: Teclado', 'Valor: 73.0', 'Data: 2022-09-03 16:00:29.357286']
['ID: 3', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-03 16:00:29.365281']
['ID: 4', 'Produto: CPU', 'Valor: 61.0', 'Data: 2022-09-03 16:00:29.373278']
['ID: 5', 'Produto: Mouse', 'Valor: 91.0', 'Data: 2022-09-03 16:00:29.383271']
['ID: 6', 'Produto: Teclado', 'Valor: 94.0', 'Data: 2022-09-03 16:00:29.388267']
['ID: 7', 'Produto: Monitor', 'Valor: 99.0', 'Data: 2022-09-03 16:00:29.394264']
['ID: 8', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:00:29.403258']
['ID: 9', 'Produto: Teclado', 'Valor: 87.0', 'Data: 2022-09-03 16:00:29.408254']
['ID: 10', 'Produto: Teclado', 'Valor: 52.0', 'Data: 2022-09-03 16:00:29.415251']
['ID: 11', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-03 16:00:29.420247']
['ID: 12', 'Produto: CPU', 'Valor: 52.0', 'Data: 2022-09-03 16:00:29.425244']
['ID: 13', 'Produto: CPU', 'Valor: 65.0', 'Data: 2022-09-03 16:00:29.437237']
['ID: 14', 'Produto: Teclado', 'Valor: 83.0', 'Data: 2022-09-03 16:00:29.442235']
['ID: 15', 'Produto: Teclado', 'Valor: 69.0', 'Data: 2022-09-03 16:00:29.449229']
['ID: 16', 'Produto: Teclado', 'Valor: 57.0', 'Data: 2022-09-03 16:00:29.457225']
['ID: 17', 'Produto: Monitor', 'Valor: 82.0', 'Data: 2022-09-03 16:00:29.465220']
['ID: 18', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-03 16:00:29.473215']
['ID: 19', 'Produto: CPU', 'Valor: 66.0', 'Data: 2022-09-03 16:00:29.483208']
['ID: 20', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-03 16:00:29.491203']

In [15]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,Cursor):
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)

## Queries

In [9]:
conn = sqlite3.connect(r'../ArquivosParalelos/random_tables.db')
c = conn.cursor()

In [16]:
# Mostrar todos os dados

MostrarTudo = "SELECT * FROM random_table"

Execute_and_Show(MostrarTudo,c)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
(1, 'Monitor', 94.0, '2022-09-03 16:00:29.352289')
(2, 'Teclado', 73.0, '2022-09-03 16:00:29.357286')
(3, 'Monitor', 64.0, '2022-09-03 16:00:29.365281')
(4, 'CPU', 61.0, '2022-09-03 16:00:29.373278')
(5, 'Mouse', 91.0, '2022-09-03 16:00:29.383271')
(6, 'Teclado', 94.0, '2022-09-03 16:00:29.388267')
(7, 'Monitor', 99.0, '2022-09-03 16:00:29.394264')
(8, 'CPU', 91.0, '2022-09-03 16:00:29.403258')
(9, 'Teclado', 87.0, '2022-09-03 16:00:29.408254')
(10, 'Teclado', 52.0, '2022-09-03 16:00:29.415251')
(11, 'Monitor', 59.0, '2022-09-03 16:00:29.420247')
(12, 'CPU', 52.0, '2022-09-03 16:00:29.425244')
(13, 'CPU', 65.0, '2022-09-03 16:00:29.437237')
(14, 'Teclado', 83.0, '2022-09-03 16:00:29.442235')
(15, 'Teclado', 69.0, '2022-09-03 16:00:29.449229')
(16, 'Teclado', 57.0, '2022-09-03 16:00:29.457225')
(17, 'Monitor', 82.0, '2022-09-03 16:00:29.465220')
(18, 'Mouse', 75.0, '2022-09-03 16:00:29.473215')
(19, 'CPU', 66.0, '2022-09-03 16:00:29.483208')
(20, 'CPU', 85.0, '2022-09-03 16:00:29.491203')