# Guia de Comandos SQL Aplicados em Python

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [4]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [5]:
# Função de leitura

def showall_vanilla(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:



        print('Id: %d, Data: %s, Produto: %s, Valor: %d \n' % i)
    c.close()

In [6]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 50 #Número de observações

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.

    valores = (new_prod_name,new_value,new_date)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 67, datetime.datetime(2022, 9, 2, 17, 46, 35, 234252))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 2, 17, 46, 35, 239248))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 86, datetime.datetime(2022, 9, 2, 17, 46, 35, 251241))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 97, datetime.datetime(2022, 9, 2, 17, 46, 35, 307206))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 60, datetime.datetime(2022, 9, 2, 17, 46, 35, 348182))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 80, datetime.datetime(2022, 9, 2, 17, 46, 35, 383160))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 80, datetime.datetime(2022, 9, 2, 17, 46, 35, 420139))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 56, datetime.datetime(2022, 9, 2, 17, 46, 35, 433129))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 77, datetime.datetime(2022, 9, 2, 17, 46, 35, 439125))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 75, datetime.datetime(2022, 9, 2, 17, 46, 35, 452117))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 65, datetime.datetime(2022, 9, 2, 17, 46, 35, 492096))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 74, datetime.datetime(2022, 9, 2, 17, 46, 35, 500087))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 79, datetime.datetime(2022, 9, 2, 17, 46, 35, 508081))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 62, datetime.datetime(2022, 9, 2, 17, 46, 35, 516078))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 67, datetime.datetime(2022, 9, 2, 17, 46, 35, 521074))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 93, datetime.datetime(2022, 9, 2, 17, 46, 35, 527072))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 67, datetime.datetime(2022, 9, 2, 17, 46, 35, 534066))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 82, datetime.datetime(2022, 9, 2, 17, 46, 35, 540062))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 91, datetime.datetime(2022, 9, 2, 17, 46, 35, 546058))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 59, datetime.datetime(2022, 9, 2, 17, 46, 35, 551056))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 65, datetime.datetime(2022, 9, 2, 17, 46, 35, 557051))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 99, datetime.datetime(2022, 9, 2, 17, 46, 35, 565047))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 65, datetime.datetime(2022, 9, 2, 17, 46, 35, 575041))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 59, datetime.datetime(2022, 9, 2, 17, 46, 35, 583036))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 58, datetime.datetime(2022, 9, 2, 17, 46, 35, 589031))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 71, datetime.datetime(2022, 9, 2, 17, 46, 35, 597028))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 77, datetime.datetime(2022, 9, 2, 17, 46, 35, 605022))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 61, datetime.datetime(2022, 9, 2, 17, 46, 35, 611028))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 88, datetime.datetime(2022, 9, 2, 17, 46, 35, 617014))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 86, datetime.datetime(2022, 9, 2, 17, 46, 35, 622011))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 80, datetime.datetime(2022, 9, 2, 17, 46, 35, 628008))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 97, datetime.datetime(2022, 9, 2, 17, 46, 35, 633005))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 73, datetime.datetime(2022, 9, 2, 17, 46, 35, 639002))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 91, datetime.datetime(2022, 9, 2, 17, 46, 35, 646996))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 99, datetime.datetime(2022, 9, 2, 17, 46, 35, 651992))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 92, datetime.datetime(2022, 9, 2, 17, 46, 35, 656990))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 79, datetime.datetime(2022, 9, 2, 17, 46, 35, 662986))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 80, datetime.datetime(2022, 9, 2, 17, 46, 35, 667982))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 74, datetime.datetime(2022, 9, 2, 17, 46, 35, 673979))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 66, datetime.datetime(2022, 9, 2, 17, 46, 35, 678976))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 85, datetime.datetime(2022, 9, 2, 17, 46, 35, 684973))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 86, datetime.datetime(2022, 9, 2, 17, 46, 35, 690968))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 54, datetime.datetime(2022, 9, 2, 17, 46, 35, 701965))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Monitor', 55, datetime.datetime(2022, 9, 2, 17, 46, 35, 707958))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 96, datetime.datetime(2022, 9, 2, 17, 46, 35, 715954))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Mouse', 75, datetime.datetime(2022, 9, 2, 17, 46, 35, 721949))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('CPU', 89, datetime.datetime(2022, 9, 2, 17, 46, 35, 727957))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 50, datetime.datetime(2022, 9, 2, 17, 46, 35, 733942))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 63, datetime.datetime(2022, 9, 2, 17, 46, 35, 739909))
Produto, Valor, Data
?, ?, ?

INSERT INTO random_table (Produto, Valor, Data) VALUES (?, ?, ?)
('Teclado', 83, datetime.datetime(2022, 9, 2, 17, 46, 35, 745911))

In [7]:
# Vendo a tabela.

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

showall_vanilla(arquivo,tabela)

(('ID', None, None, None, None, None, None), ('Produto', None, None, None, None, None, None), ('Valor', None, None, None, None, None, None), ('Data', None, None, None, None, None, None))
['ID', 'Produto', 'Valor', 'Data']
a

TypeError: %d format: a real number is required, not str