# Guia de Comandos SQL Aplicados em Python

* [Demonstração](#Demo)
* Criação
* Adição e Remoção
* Alteração
* Filtros e Operadores Lógicos

Pacotes:

In [1]:
import os
import sqlite3

## Criando um exemplo com funções

In [2]:
import random
import time
import datetime

In [3]:
#Database e tabela padrões

arquivo = r'../ArquivosParalelos/random_tables.db'
tabela = 'random_table'

In [4]:
# Função para criar um arquivo e a tabela

# todas as variáveis são dadas como strings
# "arquivo" é o diretório e o nome o arquivo db a ser criado
# "tabela" é o nome da tabela dentro do db
# "colunas" recebe os nomes das colunas juntamente com suas diretrizes.


def create_table(arquivo,tabela,*colunas_parametros):
    c = sqlite3.connect(arquivo).cursor() #Cria o arquivo, se ele já não existe, com a conexão e o cursor.
    Colunas = ''
    for i in colunas_parametros:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2] #Remove a vírgula e o espaço no final
    c.execute(f'CREATE TABLE IF NOT EXISTS {tabela}({Colunas})')
    c.close()

In [5]:
# Função para inserir dados.

# "arquivo" é uma sring com o diretório e o nome do DB
# "tabela" é uma string contendo o nome da tabela
# "colunas" é uma lista ou tupla com strings contendo os nomes das colunas.
# "valores" é uma lista ou tupla contendo os valores a serem acrescentados, na ordem das colunas

def data_insert_var(arquivo,tabela,colunas,valores):
    conn = sqlite3.connect(arquivo)
    c = conn.cursor()

    Colunas = ''
    for i in colunas:
        Colunas = Colunas+i+', '
    Colunas = Colunas[0:-2]
    print(Colunas)

    n = ''
    for i in range(len(colunas)):
        n = n+'?, '
    n = n[0:-2]
    print(n)

    print('')
    print(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})")
    print(valores)

    c.execute(f"INSERT INTO {tabela} ({Colunas}) VALUES ({n})", valores)
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Função de leitura

def showall(arquivo,tabela):
    c = sqlite3.connect(arquivo).cursor()
    c.execute(f'select * from {tabela}')
    data = c.fetchall()

    Colunas = [i[0] for i in c.execute(f'select * from {tabela}').description ]
    print("Colunas",Colunas)

    for i in data:
        linha = []
        for j,k in zip(Colunas,i):
            linha.append(f"{j}: {k}")
        print(linha)

    c.close()

In [7]:
# Criando uma tabela aletória

os.remove(r'../ArquivosParalelos/random_tables.db') if os.path.exists(r'../ArquivosParalelos/random_tables.db') else None

n = 20 #Número de observações

create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL","Produto TEXT","Valor REAL","Data DATE","Vendido BIT NOT NULL")
#create_table(arquivo,tabela,"ID INTEGER PRIMARY KEY NOT NULL","Produto TEXT","Valor REAL","Data TEXT")

for i in range(n): #cria n itens na lista.
    new_date = datetime.datetime.now() #cria um objeto contendo a data e a hora atuais.
    new_prod_name = random.choice(['Monitor', 'CPU', 'Teclado','Mouse']) #Escolhe um item na lista.
    new_value = random.randrange(50,100) #Escolhe um preço para ser um valor do item.
    new_bool = random.choice([0,1]) #Escolhe um valor bit aleatório

    valores = (new_prod_name,new_value,new_date,new_bool)

    data_insert_var(arquivo,tabela,('Produto','Valor','Data','Vendido'),valores)

    time.sleep(0) #aguarda.

Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 55, datetime.datetime(2022, 9, 4, 20, 11, 56, 723199), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 84, datetime.datetime(2022, 9, 4, 20, 11, 56, 729195), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 4, 20, 11, 56, 735191), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 54, datetime.datetime(2022, 9, 4, 20, 11, 56, 741189), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 79, datetime.datetime(2022, 9, 4, 20, 11, 56, 747183), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 76, datetime.datetime(2022, 9, 4, 20, 11, 56, 752180), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 99, datetime.datetime(2022, 9, 4, 20, 11, 56, 758177), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Teclado', 91, datetime.datetime(2022, 9, 4, 20, 11, 56, 764173), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 83, datetime.datetime(2022, 9, 4, 20, 11, 56, 769169), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 78, datetime.datetime(2022, 9, 4, 20, 11, 56, 776165), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 67, datetime.datetime(2022, 9, 4, 20, 11, 56, 781162), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 4, 20, 11, 56, 786157), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 64, datetime.datetime(2022, 9, 4, 20, 11, 56, 793155), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 50, datetime.datetime(2022, 9, 4, 20, 11, 56, 799151), 1)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 64, datetime.datetime(2022, 9, 4, 20, 11, 56, 804147), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Mouse', 89, datetime.datetime(2022, 9, 4, 20, 11, 56, 810145), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 84, datetime.datetime(2022, 9, 4, 20, 11, 56, 817139), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 74, datetime.datetime(2022, 9, 4, 20, 11, 56, 827134), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('Monitor', 86, datetime.datetime(2022, 9, 4, 20, 11, 56, 832130), 0)
Produto, Valor, Data, Vendido
?, ?, ?, ?

INSERT INTO random_table (Produto, Valor, Data, Vendido) VALUES (?, ?, ?, ?)
('CPU', 72, datetime.datetime(2022, 9, 4, 20, 11, 56, 839126), 0)

In [8]:
# Vendo a tabela.

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 55.0', 'Data: 2022-09-04 20:11:56.723199', 'Vendido: 0']
['ID: 2', 'Produto: Monitor', 'Valor: 84.0', 'Data: 2022-09-04 20:11:56.729195', 'Vendido: 1']
['ID: 3', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 20:11:56.735191', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 54.0', 'Data: 2022-09-04 20:11:56.741189', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 79.0', 'Data: 2022-09-04 20:11:56.747183', 'Vendido: 0']
['ID: 6', 'Produto: CPU', 'Valor: 76.0', 'Data: 2022-09-04 20:11:56.752180', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 99.0', 'Data: 2022-09-04 20:11:56.758177', 'Vendido: 1']
['ID: 8', 'Produto: Teclado', 'Valor: 91.0', 'Data: 2022-09-04 20:11:56.764173', 'Vendido: 1']
['ID: 9', 'Produto: CPU', 'Valor: 83.0', 'Data: 2022-09-04 20:11:56.769169', 'Vendido: 0']
['ID: 10', 'Produto: Mouse', 'Valor: 78.0', 'Data: 2022-09-04 20:11:56.776165', 'Vendido: 0']
['ID: 11', 'Produto: CPU', 'Valor: 67.0', 'Data: 2022-09-04 20:11:56.781162', 'Vendido: 0']
['ID: 12', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 20:11:56.786157', 'Vendido: 0']
['ID: 13', 'Produto: Mouse', 'Valor: 64.0', 'Data: 2022-09-04 20:11:56.793155', 'Vendido: 0']
['ID: 14', 'Produto: Monitor', 'Valor: 50.0', 'Data: 2022-09-04 20:11:56.799151', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 64.0', 'Data: 2022-09-04 20:11:56.804147', 'Vendido: 0']
['ID: 16', 'Produto: Mouse', 'Valor: 89.0', 'Data: 2022-09-04 20:11:56.810145', 'Vendido: 0']
['ID: 17', 'Produto: CPU', 'Valor: 84.0', 'Data: 2022-09-04 20:11:56.817139', 'Vendido: 0']
['ID: 18', 'Produto: Monitor', 'Valor: 74.0', 'Data: 2022-09-04 20:11:56.827134', 'Vendido: 0']
['ID: 19', 'Produto: Monitor', 'Valor: 86.0', 'Data: 2022-09-04 20:11:56.832130', 'Vendido: 0']
['ID: 20', 'Produto: CPU', 'Valor: 72.0', 'Data: 2022-09-04 20:11:56.839126', 'Vendido: 0']

In [9]:
# Função para mostrar apenas o Fetchall

def Execute_and_Show(Query,arquivo):
    Cursor = sqlite3.connect(arquivo).cursor()
    Cursor.execute(Query)
    for i in Cursor.execute(Query).description:
        print(i)
    for i in Cursor.fetchall():
        print(i)
    Cursor.close()

In [10]:
# Função para executar e enviar ao DB.

def Execute_and_Commit(Query,arquivo,tabela):
    Conn = sqlite3.connect(arquivo)
    Cursor = Conn.cursor()
    Cursor.execute(Query)
    Conn.commit()
    Cursor.close()
    Conn.close()
    showall(arquivo,tabela)

## Queries

<a id='Demo'></a>
### Demonstração

In [11]:
# Mostrar todos os dados

Query = "SELECT * FROM random_table"

Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
(1, 'Monitor', 55.0, '2022-09-04 20:11:56.723199', 0)
(2, 'Monitor', 84.0, '2022-09-04 20:11:56.729195', 1)
(3, 'CPU', 72.0, '2022-09-04 20:11:56.735191', 1)
(4, 'Monitor', 54.0, '2022-09-04 20:11:56.741189', 0)
(5, 'CPU', 79.0, '2022-09-04 20:11:56.747183', 0)
(6, 'CPU', 76.0, '2022-09-04 20:11:56.752180', 1)
(7, 'Mouse', 99.0, '2022-09-04 20:11:56.758177', 1)
(8, 'Teclado', 91.0, '2022-09-04 20:11:56.764173', 1)
(9, 'CPU', 83.0, '2022-09-04 20:11:56.769169', 0)
(10, 'Mouse', 78.0, '2022-09-04 20:11:56.776165', 0)
(11, 'CPU', 67.0, '2022-09-04 20:11:56.781162', 0)
(12, 'CPU', 72.0, '2022-09-04 20:11:56.786157', 0)
(13, 'Mouse', 64.0, '2022-09-04 20:11:56.793155', 0)
(14, 'Monitor', 50.0, '2022-09-04 20:11:56.799151', 1)
(15, 'Monitor', 64.0, '2022-09-04 20:11:56.804147', 0)
(16, 'Mouse', 89.0, '2022-09-04 20:11:56.810145', 0)
(17, 'CPU', 84.0, '2022-09-04 20:11:56.817139', 0)
(18, 'Monitor', 74.0, '2022-09-04 20:11:56.827134', 0)
(19, 'Monitor', 86.0, '2022-09-04 20:11:56.832130', 0)
(20, 'CPU', 72.0, '2022-09-04 20:11:56.839126', 0)

In [12]:
# Mostrar algumas colunas

Query = "SELECT Produto, Valor FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 55.0)
('Monitor', 84.0)
('CPU', 72.0)
('Monitor', 54.0)
('CPU', 79.0)
('CPU', 76.0)
('Mouse', 99.0)
('Teclado', 91.0)
('CPU', 83.0)
('Mouse', 78.0)
('CPU', 67.0)
('CPU', 72.0)
('Mouse', 64.0)
('Monitor', 50.0)
('Monitor', 64.0)
('Mouse', 89.0)
('CPU', 84.0)
('Monitor', 74.0)
('Monitor', 86.0)
('CPU', 72.0)

In [13]:
# Mostrar dados que correspondam a determinados valores
# Usando operadores lógicos

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU'"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 55.0)
('Monitor', 84.0)
('CPU', 72.0)
('Monitor', 54.0)
('CPU', 79.0)
('CPU', 76.0)
('CPU', 83.0)
('CPU', 67.0)
('CPU', 72.0)
('Monitor', 50.0)
('Monitor', 64.0)
('CPU', 84.0)
('Monitor', 74.0)
('Monitor', 86.0)
('CPU', 72.0)

In [14]:
# Selecionaros nomes das tabelas da tabela "sqlite_master"

Query = 'SELECT name FROM sqlite_master WHERE type = "table"'

Execute_and_Show(Query,arquivo)

('name', None, None, None, None, None, None)
('random_table',)
('sqlite_sequence',)

In [15]:
# Distinct
# Filtra os dados repetidos

Query = "SELECT DISTINCT * FROM random_table"
Execute_and_Show(Query,arquivo)

('ID', None, None, None, None, None, None)
('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Data', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
(1, 'Monitor', 55.0, '2022-09-04 20:11:56.723199', 0)
(2, 'Monitor', 84.0, '2022-09-04 20:11:56.729195', 1)
(3, 'CPU', 72.0, '2022-09-04 20:11:56.735191', 1)
(4, 'Monitor', 54.0, '2022-09-04 20:11:56.741189', 0)
(5, 'CPU', 79.0, '2022-09-04 20:11:56.747183', 0)
(6, 'CPU', 76.0, '2022-09-04 20:11:56.752180', 1)
(7, 'Mouse', 99.0, '2022-09-04 20:11:56.758177', 1)
(8, 'Teclado', 91.0, '2022-09-04 20:11:56.764173', 1)
(9, 'CPU', 83.0, '2022-09-04 20:11:56.769169', 0)
(10, 'Mouse', 78.0, '2022-09-04 20:11:56.776165', 0)
(11, 'CPU', 67.0, '2022-09-04 20:11:56.781162', 0)
(12, 'CPU', 72.0, '2022-09-04 20:11:56.786157', 0)
(13, 'Mouse', 64.0, '2022-09-04 20:11:56.793155', 0)
(14, 'Monitor', 50.0, '2022-09-04 20:11:56.799151', 1)
(15, 'Monitor', 64.0, '2022-09-04 20:11:56.804147', 0)
(16, 'Mouse', 89.0, '2022-09-04 20:11:56.810145', 0)
(17, 'CPU', 84.0, '2022-09-04 20:11:56.817139', 0)
(18, 'Monitor', 74.0, '2022-09-04 20:11:56.827134', 0)
(19, 'Monitor', 86.0, '2022-09-04 20:11:56.832130', 0)
(20, 'CPU', 72.0, '2022-09-04 20:11:56.839126', 0)

In [16]:
# É filtrado apenas as combinações repetidas

Query = "SELECT DISTINCT Produto, Vendido FROM random_table"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Vendido', None, None, None, None, None, None)
('Monitor', 0)
('Monitor', 1)
('CPU', 1)
('CPU', 0)
('Mouse', 1)
('Teclado', 1)
('Mouse', 0)

In [25]:
# Contagem
# Mais utilizado com DISTINCT

Query = "SELECT COUNT (DISTINCT Produto) FROM random_table"

Execute_and_Show(Query,arquivo)

OperationalError: wrong number of arguments to function COUNT()

In [26]:
# Para contar uma distinção com duas colunas, é preciso contar tudo de uma seleção com o filtro de distinção

Query = 'SELECT COUNT (*) FROM (SELECT DISTINCT Produto, Vendido FROM random_table)'

Execute_and_Show(Query,arquivo)

('COUNT (*)', None, None, None, None, None, None)
(7,)

### Criação e Queda
<a id='Criação'></a>

In [ ]:
# Criar tabela nova

Query = "CREATE TABLE Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

#Se a tabela já existe, ocorre um erro explícito.

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

Query = "CREATE TABLE IF NOT EXISTS Exemplo(id integer, name text)"

Execute_and_Commit(Query,arquivo,'Exemplo')

Colunas ['id', 'name']

In [ ]:
# Criar tabela nova se não existir

showall(arquivo,'sqlite_master')
print()

Query = "DROP TABLE IF EXISTS Exemplo"

Execute_and_Commit(Query,arquivo,'sqlite_master')

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']
['type: table', 'name: Exemplo', 'tbl_name: Exemplo', 'rootpage: 4', 'sql: CREATE TABLE Exemplo(id integer, name text)']

Colunas ['type', 'name', 'tbl_name', 'rootpage', 'sql']
['type: table', 'name: random_table', 'tbl_name: random_table', 'rootpage: 2', 'sql: CREATE TABLE random_table(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, Produto TEXT, Valor REAL, Data DATE, Vendido BIT NOT NULL)']
['type: table', 'name: sqlite_sequence', 'tbl_name: sqlite_sequence', 'rootpage: 3', 'sql: CREATE TABLE sqlite_sequence(name,seq)']

### Adição e Remoção
<a id='Adição'></a>

In [ ]:
# Inserir linha/observação

Query = "INSERT INTO random_table VALUES(21, 'CPU', 91.0, '2022-09-03 16:26:28.564400',1)"

# É necessário alternar entre aspas e aspas duplas para que o interpretador não encerre a string
# Mesmo a Primary Key tendo autoincremento, ele deve ser dado
# Se este comando foi executado uma segunda vez, um erro ocorre por tentar adicionar um ID que já existe.

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.300931', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.306926', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 50.0', 'Data: 2022-09-04 20:06:58.311924', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.342903', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.353898', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-04 20:06:58.376883', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']

In [ ]:
# Inserir definindo valor e coluna

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES('CPU', 120.0, '2022-09-03 16:26:28.564400',0)"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.300931', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.306926', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 50.0', 'Data: 2022-09-04 20:06:58.311924', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.342903', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.353898', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-04 20:06:58.376883', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

In [ ]:
# Inserir com o auxílio de uma tupla ou lista.

# A execução muda

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observação = ['Câmera',66,datetime.datetime.now(),0]


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.execute(Query,Observação)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.300931', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.306926', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 50.0', 'Data: 2022-09-04 20:06:58.311924', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.342903', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.353898', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-04 20:06:58.376883', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 20:07:00.384756', 'Vendido: 0']

In [ ]:
# Executemany
# Permite adicionar várias inserções sem um loop.
# As observações precisam ser iteráveis dentro de iteráveis.

Query = "INSERT INTO random_table('Produto','Valor','Data','Vendido') VALUES(?, ?, ?,?)"

Observações = (('Pendrive',15,datetime.datetime.now(),0),('Pendrive',15,datetime.datetime.now(),1),('Pendrive',20,datetime.datetime.now(),0),('Pendrive',17,datetime.datetime.now(),1))


Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

Cursor.executemany(Query,Observações)

Conn.commit()
Cursor.close()
Conn.close()

showall(arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 1', 'Produto: Monitor', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.300931', 'Vendido: 1']
['ID: 2', 'Produto: Mouse', 'Valor: 59.0', 'Data: 2022-09-04 20:06:58.306926', 'Vendido: 0']
['ID: 3', 'Produto: Mouse', 'Valor: 50.0', 'Data: 2022-09-04 20:06:58.311924', 'Vendido: 1']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 8', 'Produto: Monitor', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.342903', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 10', 'Produto: Teclado', 'Valor: 58.0', 'Data: 2022-09-04 20:06:58.353898', 'Vendido: 0']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 14', 'Produto: CPU', 'Valor: 54.0', 'Data: 2022-09-04 20:06:58.376883', 'Vendido: 1']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 20:07:00.384756', 'Vendido: 0']
['ID: 24', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-04 20:07:00.535661', 'Vendido: 0']
['ID: 25', 'Produto: Pendrive', 'Valor: 15.0', 'Data: 2022-09-04 20:07:00.535661', 'Vendido: 1']
['ID: 26', 'Produto: Pendrive', 'Valor: 20.0', 'Data: 2022-09-04 20:07:00.535661', 'Vendido: 0']
['ID: 27', 'Produto: Pendrive', 'Valor: 17.0', 'Data: 2022-09-04 20:07:00.535661', 'Vendido: 1']

In [ ]:
# Deletar dado

Query = "DELETE FROM random_table WHERE Valor < 60"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 20:07:00.384756', 'Vendido: 0']

### Alteração
<a id='Alteração'></a>

In [ ]:
# Mudança de valor
# UPDATE SET

Query = "UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

Execute_and_Commit(Query,arquivo,tabela)

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']
['ID: 23', 'Produto: Câmera', 'Valor: 66.0', 'Data: 2022-09-04 20:07:00.384756', 'Vendido: 0']

In [ ]:
# Remover linha

Query

"UPDATE random_table SET Produto = 'Cabos' WHERE id = 2"

### Filtros e Operadores Lógicos
<a id='Filtros e Operadores Lógicos'></a>

In [ ]:
# WHERE filtra os dados considerados
# Se o filtro é aplicado duas vezes a uma mesma coluna, ele deve ser demonstrado duas vezes

Query = "SELECT Produto, Valor FROM random_table WHERE Produto = 'Monitor' OR Produto = 'CPU' AND Valor > 90"

# Desta forma, apenas CPU é filtrada acima de 90. Monitores não foram filtrados

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 91.0)
('Monitor', 92.0)
('Monitor', 79.0)
('Monitor', 91.0)
('Monitor', 75.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# Assim, o filtro é aplicado a ambos os tipos de produtos

Query = "SELECT Produto, Valor FROM random_table WHERE (Produto = 'Monitor' OR Produto = 'CPU') AND Valor > 90"

Execute_and_Show(Query,arquivo)

('Produto', None, None, None, None, None, None)
('Valor', None, None, None, None, None, None)
('Monitor', 91.0)
('Monitor', 92.0)
('Monitor', 91.0)
('CPU', 91.0)
('CPU', 120.0)

In [ ]:
# Variável SE
# Verificação se determinada tabela existe

Query1 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "Exemplo"'
Query2 = 'SELECT name from sqlite_master WHERE type = "table" AND name = "random_table"'

Execute_and_Show(Query1,arquivo)
print()
Execute_and_Show(Query2,arquivo)

# Se a tabela não existe, nome nenhum é apresentado.

('name', None, None, None, None, None, None)

('name', None, None, None, None, None, None)
('random_table',)

## Sobre o SQLite3

Conexão com a memória.

In [ ]:
con_mem = sqlite3.connect(':memory:')

###

con_mem.close()

Contagem de linhas afetadas

In [ ]:
Query = 'DELETE FROM random_table WHERE Produto = "Câmera" OR Produto = "Cabos"'

Conn = sqlite3.connect(arquivo)
Cursor = Conn.cursor()

# Isso não só deleta como conta quantas alterações foram feitas.
print(Cursor.execute(Query).rowcount)

Conn.commit()
Cursor.close()
Conn.close()

print()

showall(arquivo,tabela)

1

Colunas ['ID', 'Produto', 'Valor', 'Data', 'Vendido']
['ID: 4', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.318919', 'Vendido: 0']
['ID: 5', 'Produto: CPU', 'Valor: 81.0', 'Data: 2022-09-04 20:06:58.324916', 'Vendido: 0']
['ID: 6', 'Produto: Teclado', 'Valor: 93.0', 'Data: 2022-09-04 20:06:58.329913', 'Vendido: 1']
['ID: 7', 'Produto: Mouse', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.336908', 'Vendido: 1']
['ID: 9', 'Produto: Monitor', 'Valor: 92.0', 'Data: 2022-09-04 20:06:58.347901', 'Vendido: 1']
['ID: 11', 'Produto: Mouse', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.359893', 'Vendido: 0']
['ID: 12', 'Produto: Monitor', 'Valor: 79.0', 'Data: 2022-09-04 20:06:58.365889', 'Vendido: 1']
['ID: 13', 'Produto: Monitor', 'Valor: 91.0', 'Data: 2022-09-04 20:06:58.370887', 'Vendido: 0']
['ID: 15', 'Produto: Monitor', 'Valor: 75.0', 'Data: 2022-09-04 20:06:58.388884', 'Vendido: 0']
['ID: 16', 'Produto: Teclado', 'Valor: 66.0', 'Data: 2022-09-04 20:06:58.398870', 'Vendido: 1']
['ID: 17', 'Produto: CPU', 'Valor: 85.0', 'Data: 2022-09-04 20:06:58.407864', 'Vendido: 1']
['ID: 18', 'Produto: CPU', 'Valor: 74.0', 'Data: 2022-09-04 20:06:58.411860', 'Vendido: 0']
['ID: 19', 'Produto: Mouse', 'Valor: 90.0', 'Data: 2022-09-04 20:06:58.417857', 'Vendido: 0']
['ID: 20', 'Produto: Mouse', 'Valor: 77.0', 'Data: 2022-09-04 20:06:58.423854', 'Vendido: 0']
['ID: 21', 'Produto: CPU', 'Valor: 91.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 1']
['ID: 22', 'Produto: CPU', 'Valor: 120.0', 'Data: 2022-09-03 16:26:28.564400', 'Vendido: 0']

### Erros e Exceções

* *DatabaseError*
   * Any error related to the database raises the DatabaseError.

* *IntegrityError*
  * IntegrityError is a subclass of DatabaseError and is raised when there is a data integrity issue. For example, foreign data isn’t updated in all tables resulting in the inconsistency of the data.

* *ProgrammingError*
  * The exception ProgrammingError raises when there are syntax errors or table is not found or function is called with the wrong number of parameters/ arguments.

* *OperationalError*
   * This exception is raised when the database operations are failed, for example, unusual disconnection. This is not the fault of the programmers.

* *NotSupportedError*
   * When you use some methods that aren’t defined or supported by the database, that will raise the NotSupportedError exception.